<h3>CREA NUOVO!!</h3> <!-- TODO traduzz -->
<%= form_for(@purchase, :id => 'admin-purchases-new', :class => 'search-form', :url => admin_purchases_path, :remote => true) do |f| %>
  <hr/>
  <%= render :partial => 'common_form', :locals => {:f => f} %>
  <hr/>
  <%= render :partial => 'restrictions_form', :locals => {:f => f, :locations => @locations} %>
  <hr/>
  <%= f.submit %> <!-- TODO traduzz -->
<% end %>
