<div class="videoPlayer _instance_of_player">
  
  <!-- TODO metti img qui cover -->
  
  <a class="play"></a>
  <a class="pause"></a>
  <div class="secondTime">00:00</div>
  <div class="videoSlider">
    
    <!-- TODO metti a handle qui -->
    
  </div>
  <div class="secondTime"><%= seconds_to_time(video.min_duration) %></div>
  <a class="fullScreen"></a>
</div>
