<p class="fltlft"><%= t('small_letter.selected_for_you') %></p>

<ul class="navlist">
  <li><a href="#" id="switch_to_lessons" class="current"><%= t('small_letter.lessons') %></a></li>
  <li><a href="#" id="switch_to_media_elements"><%= t('small_letter.media_elements') %></a></li>
</ul>
