<div class="boxViewExpandedLesson">
  <div class="contentInterno" style="text-align:center;">
    <div class="contentNew">
      <div class="createButton"><a></a></div>
      <p><%= t("captions.create_new_lesson") %></p>
    </div>
  </div>
  <div style="height:3.5em;"></div>
</div>
