<p class="fltlft lower"><%= t('captions.selected_for_you') %></p>

<ul class="navlist">
  <li><a id="switch_to_lessons" class="current lower"><%= t('captions.lessons') %></a></li>
  <li><a id="switch_to_media_elements" class="lower"><%= t('captions.media_elements') %></a></li>
</ul>
