<div class="empty _empty_lessons">
  <div class="createButton">
    <a class="_empty_lessons_hover"></a>
  </div>
  <div class="fltlft"><% if emptied %>
    <%= t('empty.dashboard_lessons_emptied') %>
  <% else %>
    <%= t('empty.dashboard_lessons') %>
  <% end %>
  <h1><%= t('captions.create_new_lesson_now') %></h1></div>
</div>
