<div class="dashboard-lessons-empty-situation-container">
  <%= link_to '', new_lesson_path %>
  <div class="prompts">
    <div class="reason">
      <% if emptied %>
        <%= t('dashboard.emptied_lessons') %>
      <% else %>
        <%= t('dashboard.empty_lessons') %>
      <% end %>
    </div>
    <div class="big-prompt">
      <%= t('dashboard.create_new_lesson_now') %>
    </div>
  </div>
</div>
