<div class="empty-situation-container">
  <a class="empty-situation">
    <div class="plus"></div>
    <div class="prompts">
      <div class="reason">
        <% if emptied %>
          <%= t('dashboard.emptied_lessons') %>
        <% else %>
          <%= t('dashboard.empty_lessons') %>
        <% end %>
      </div>
      <div class="big-prompt">
        <%= t('dashboard.create_new_lesson_now') %>
      </div>
    </div>
  </a>
</div>
