<div class="empty">
  <div class="createButton">
    <%= link_to '', '/lessons/new' %>
  </div>
  <div class="fltlft"><% if emptied %>
    <%= t('empty.dashboard_lessons_emptied') %>
  <% else %>
    <%= t('empty.dashboard_lessons') %>
  <% end %>
  <h1><%= t('captions.create_new_lesson_now') %></h1></div>
</div>
