<div class="empty _empty_media_elements _load_media_element">
  <div class="createButton">
    <a class="_empty_media_elements_hover"></a>
  </div>
  <div class="fltlft"><% if emptied %>
    <%= t('empty.dashboard_media_elements_emptied') %>
  <% else %>
    <%= t('empty.dashboard_media_elements') %>
  <% end %>
  <h1><%= t('captions.load_new_media_element_now') %></h1></div>
</div>
