<div class="empty-situation-container">
  <a class="empty-situation">
    <div class="plus"></div>
    <div class="prompts">
      <div class="reason">
        <% if emptied %>
          <%= t('dashboard.emptied_media_elements') %>
        <% else %>
          <%= t('dashboard.empty_media_elements') %>
        <% end %>
      </div>
      <div class="big-prompt">
        <%= t('dashboard.load_new_media_element_now') %>
      </div>
    </div>
  </a>
</div>
