<div>
    <%= render :partial => "lessons/view_single" %>
	  <%= render :partial => "lessons/view_single" %>
</div>

<div class="boxContentIndex fltlft">
  <p>Need help using Desy?</br>
	<a href="">Download the user manual</a>
</div>
<div class="boxContentIndex fltrt" style="margin-right:0px;">
  <p>Want to talk with Desy?<br>
	<a href="">Contact us</a></p>
</div>