<%= render :partial => 'media_elements/new_form_popup' %>
<%= render :partial => 'documents/new_form_popup' %>
<div id="dashboard_container" data-lessons-expanded="false" data-media-elements-expanded="false" data-lessons-in-space="0" data-media-elements-in-space="0">
  <div class="title_lessons">
    <div class="icon"></div>
    <div class="content">
      <div class="title">Mancini sfida la Juve: «Daremo tutto per la vittoria»</div> <!-- TODO traduzz -->
      <div class="description">Il tecnico del Galatasaray carica i suoi alla vigilia della sfida contro i bianconeri in Champions: «Conte avrà due risultati su tre a disposizione, noi saremo obbligati a vincere.»</div> <!-- TODO traduzz -->
    </div>
    <a class="expand_icon disabled" title="expand lessons" data-moving="false"></a> <!-- TODO traduzz -->
    <a class="expand_icon on" title="compress lessons" data-moving="false" style="display:none"></a> <!-- TODO traduzz -->
  </div>
  <div class="space_lessons">
    <div class="page1">
    </div>
    <div class="page2" style="display:none">
    </div>
    <div class="page3" style="display:none">
    </div>
    <div class="page4" style="display:none">
    </div>
    <div class="page5" style="display:none">
    </div>
    <div class="page6" style="display:none">
    </div>
  </div>
  <div class="pagination_lessons">
    <%= render :partial => 'dashboard/pagination' %>
  </div>
  <div class="title_media_elements">
    <div class="icon"></div>
    <div class="content">
      <div class="title">Mancini sfida la Juve: «Daremo tutto per la vittoria»</div> <!-- TODO traduzz -->
      <div class="description">Il tecnico del Galatasaray carica i suoi alla vigilia della sfida contro i bianconeri in Champions: «Conte avrà due risultati su tre a disposizione, noi saremo obbligati a vincere.»</div> <!-- TODO traduzz -->
    </div>
    <a class="expand_icon disabled" title="expand media elements" data-moving="false"></a> <!-- TODO traduzz -->
    <a class="expand_icon on" title="compress media_elements" data-moving="false" style="display:none"></a> <!-- TODO traduzz -->
  </div>
  <div class="space_media_elements">
    <div class="page1">
    </div>
    <div class="page2" style="display:none">
    </div>
    <div class="page3" style="display:none">
    </div>
    <div class="page4" style="display:none">
    </div>
    <div class="page5" style="display:none">
    </div>
    <div class="page6" style="display:none">
    </div>
  </div>
  <div class="pagination_media_elements">
    <%= render :partial => 'dashboard/pagination' %>
  </div>
</div>
<div id="dashboard_toolbar">
</div>
<br class="clearfloat"/>
