<div id="dashboard_container" data-status="general" data-lessons="0" data-media-elements="0">
  <div class="title_lessons">
  </div>
  <div class="space_lessons">
    <% @lessons.each do |l| %>
      <%= render :partial => 'lessons/view_single_expanded', :locals => {:lesson => l, :destination => ButtonDestinations::EXPANDED_LESSON} %>
    <% end %>
  </div>
  <div class="title_media_elements">
  </div>
  <div class="space_media_elements">
  </div>
</div>

<div id="dashboard_toolbar">
</div>

<%= render partial: 'media_elements/new_form_popup' %>
