<div id="dashboard_container">
  <div class="title_lessons">
  </div>
  <div class="space_lessons">
  </div>
  <div class="title_media_elements">
  </div>
  <div class="space_media_elements">
  </div>
</div>

<div id="dashboard_toolbar">
</div>

<%= render partial: 'media_elements/new_form_popup' %>
