<div>
    <%= render :partial => "lessons/view_single" %>
	  <%= render :partial => "lessons/view_single" %>
</div>

<div class="boxContentIndex">
  <h1>Need help using Desy?</h1>
	<h2><a href="">Download the user manual</a></h2>
</div>
<div class="boxContentIndex">
  <h1>Want to talk with Desy?</h1>
	<h2><a href="">Contact us</a></h2>
</div>