<%= form_tag save_slide_path(slide.lesson_id, slide.id), :method => "post", :remote => true, :id => "form-#{slide.id}" do %>
  <h2 class="text">
    <%= text_field_tag :title, (slide.title.blank? ? t('captions.enter_title') : slide.title), :class => '_lesson_editor_placeholder', :data => {:placeholder => slide.title.blank?}, :maxlength => t('language_parameters.slide.length_title') %>
  </h2>
  <div class="text-content">
    <%= text_area_tag :text, (slide.text.blank? ? t('captions.insert_slide_content_here') : slide.text.html_safe), :id => "ta-#{slide.id}", :class => 'tinymce _lesson_editor_placeholder', :data => {:placeholder => slide.text.blank?} %>
  </div>
<% end %>

<script type="text/javascript">
  initTinymce('ta-<%= slide.id %>');
</script>
