<%= form_tag("/lesson_editor/save_slide", :method => :get, :remote => true) do %>
  <%= hidden_field_tag :slide_id, slide.id %>
  <h2 class="only-title">
    <%= text_area_tag :title, slide.title ? slide.title : "#{t 'captions.enter_title'}" %>
  </h2>
<% end %>