<div class="slide-thumb <%= slide.kind%>">
  <img src="http://lorempixel.com/140/90/abstract/1" style="float:right">
  <img src="http://lorempixel.com/140/90/abstract/2" style="float:left">
  <img src="http://lorempixel.com/140/90/abstract/3" style="float:right">
  <img src="http://lorempixel.com/140/90/abstract/4" style="float:left">
</div>