<div class="slide-thumb <%= slide.kind%>">
  <div class="video2-content">
    <%= image_tag slide.video_at(1).cover, :width => "230", :height => "150" if slide.video_at(1) %>
    <div style="position:absolute; width:230px; top:50px; text-align:center">
      <a><%= image_tag 'bullet_video.svg' %></a>
    </div>
  </div>
</div>