<div id="form_info_new_media_element_in_editor" class="_<%= sti_type %>">
  <div class="cols" style="float:left">
    <%= text_field_tag 'new_title', '' %>
    <%= text_area_tag 'new_description', '' %>
  </div>
  <div class="cols" style="float:right">
    <%= text_area_tag 'new_tags', '' %>
  </div>
  <a class="_cancel"></a>
  <a class="_save"></a>
</div>
