<%= t('mailer.account_confirmation.message', :name => @user.full_name, :desy => SETTINGS['application_name']).html_safe %>

<p>
  <%= link_to user_confirm_url(*host_and_port(@user.confirmation_token)), user_confirm_url(*host_and_port(@user.confirmation_token)) %>
</p>
