<div id="prelogin_registration_content" class="containerText _prelogin_content" style="display:none">
  <h1>Register</h1>
  <h2>Why register?</h2>
  <h3>Discover the benefits of desy.</h3>
  <p>Create your own multimedia lessons with audio, video or images. Share them with other teachers desy.
Use or modify to suit your needs the lessons of other teachers who use desy.
Organize your lessons in your virtual classroom and discover a new way of teaching.</p>
</div>
<%= form_tag create_user_path do %>
<div class="contentForm">
  <div class="insert-content">
    <div class="inputElement">
	    <p>Name</p><input type="text" name="nome" value="" class="text" id="">
	  </div>
	  <div class="inputElement">
	    <p>email</p><input type="text" name="email" value="" class="text" id="">
	  </div>
	  <div class="inputElement">	
	    <p>School level</p><input type="text" name="school_level" value="" class="text" id="">
	  </div>
	  <div class="inputElement">
	    <p>Password</p><input type="password" name="nome" value="" class="text" id="">
	  </div>
	</div>
	<div class="insert-content">
	  <div class="inputElement">
      <p>Surname</p><input type="text" name="cognome" value="" class="text" id="">
	  </div>
	  <div class="inputElement">
	    <p>School</p><input type="text" name="school" value="" class="text" id="">
	  </div>
	  <div class="inputElement">
	    <p>Region</p><input type="text" name="region" value="" class="text" id="">
	  </div>
    <div class="inputElement" style="margin-right:0">
	    <p>Repeat password</p><input type="password" name="cognome" value="" class="text" id="">
	  </div>
  </div>
	
	<div class="checkbox-content">
	  <h3>Choose the matters you want to stay connected</h3>
		<!-- CHEMICAL -->
		<div class="checkboxElement">
		<table>
		<tr>
		  <td><input type="checkbox" id="checkbox-2-1" class="regular-checkbox" /><label for="checkbox-2-1"></label></td>
			<td>Chemical</td>
		</tr>
		<tr>
		  <td><input type="checkbox" id="checkbox-2-2" class="regular-checkbox" /><label for="checkbox-2-2"></label></td>
			<td>Language</td>
		</tr>
		<tr>
		  <td><input type="checkbox" id="checkbox-2-3" class="regular-checkbox" /><label for="checkbox-2-3"></label></td>
			<td>Mathematics</td>
		</tr>
		<tr>
		  <td><input type="checkbox" id="checkbox-2-4" class="regular-checkbox" /><label for="checkbox-2-4"></label></td>
			<td>History</td>
		</tr>
		</table>
		
		<table>
		<tr>
		  <td><input type="checkbox" id="checkbox-2-5" class="regular-checkbox" /><label for="checkbox-2-5"></label></td>
			<td>Biology</td>
		</tr>
		<tr>
		  <td><input type="checkbox" id="checkbox-2-6" class="regular-checkbox" /><label for="checkbox-2-6"></label></td>
			<td>Geography</td>
		</tr>
		<tr>
		  <td><input type="checkbox" id="checkbox-2-7" class="regular-checkbox" /><label for="checkbox-2-7"></label></td>
			<td>Astronomy</td>
		</tr>
		<tr>
		  <td><input type="checkbox" id="checkbox-2-8" class="regular-checkbox" /><label for="checkbox-2-8"></label></td>
			<td>Design</td>
		</tr>
		</table>
		</div>
	</div>
	<br class="clearfloat">
<p><strong>Torem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tin</strong><br><br>

Cidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  <div class="checkbox-content" style="float:none; padding-top:0">
	<div class="checkboxElement">
  <table>
	<tr>
	  <td><input type="checkbox" id="checkbox-2-5" class="regular-checkbox" /><label for="checkbox-2-5"></label></td>
		<td>accept</td>
	</tr>
	</table>
	</div>
  </div>
<br class="clearfloat">
<p><strong>Torem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tin</strong><br><br>

Cidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  <div class="checkbox-content" style="float:none; padding-top:0">
    <div class="checkboxElement">
    <table>
    <tr>
	    <td><input type="checkbox" id="checkbox-2-5" class="regular-checkbox" /><label for="checkbox-2-5"></label></td>
	    <td>accept</td>
    </tr>
    </table>
    </div>
	</div>
	<br class="clearfloat">
	<a style="font-size:140%;">Register now</a>
</div>
<% end %>
<br class="clearfloat">
<div class="footer">
  <%= t('captions.copyright') %>
</div>  
