<div class="gray-bar">
  <p class="fltlft"><%= t('header.greybar.selected') %></p>
	
	<ul class="navlist">
    <li><a href="#" class="current">lessons</a></li>
    <li><a href="#">elements</a></li>
  </ul>
	
</div>