<div class="gray-bar">
  <!--%= render :partial => "layouts/header_elements/selected_for_you" %-->
	<%= render :partial => "layouts/header_elements/upload_create" %>
	<%= render :partial => "layouts/header_elements/search" %>
</div>