<div class="navcontainer">
  <ul class="navlist">
    <li class="lessons"><%= link_to(t('header.lessons'), my_lessons_path) %></li>
    <li class="elements"><%= link_to(t('header.elements'), my_media_elements_path) %></li>
    <li class="classroom"><a href="#"><%= t('header.classroom') %></a></li>
    <li class="profile"><a href="#"><%= t('header.profile') %></a></li>
  </ul>
</div>
