<div class="navcontainer">
  <ul class="navlist">
    <li class="lessons"><a href="#"><%= t('header.lessons') %></a></li>
    <li class="elements"><a href="#"><%= t('header.elements') %></a></li>
    <li class="classroom"><a href="#"><%= t('header.classroom') %></a></li>
    <li class="profile"><a href="#"><%= t('header.profile') %></a></li>
  </ul>
</div>