<div class="notice-help">
  <div class="notice">
    <% if @new_notifications > 0 %>
      <a href="" class="current"></a>
      <%= @new_notifications %> <!-- questo è il contenuto del fumetto -->
    <% else %>
      <a href=""></a>
    <% end %>
    <%= render :partial => "layouts/tooltip_elements/tooltip" %>
  </div>
  <div class="help">
  <a href=""></a>
  </div>
</div>
<br class="clearfloat">
