<div class="notice-help">
  <div class="notice">
	<a href="" class="current"></a>
	<%= render :partial => "layouts/tooltip_elements/tooltip_acceso" %>
	<%= render :partial => "layouts/tooltip_elements/tooltip" %>
	</div>
	<div class="help">
	<a href=""></a>
	</div>
</div>
<br class="clearfloat">
