<div class="notice-help">
  <div class="notice">
    <% if @new_notifications > 0 %>
      <a href=""></a>
			<%= render :partial => "layouts/tooltip_elements/tooltip_arancione" %>
      
    <% else %>
      <a href=""></a>
    <% end %>
    <%= render :partial => "layouts/tooltip_elements/tooltip" %>
  </div>
  <div class="help">
  <a href=""></a>
	<%= render :partial => "layouts/tooltip_elements/tooltip_help" %>
  </div>
</div>
<br class="clearfloat">
