<div class="contatore"><%= position %></div>
<div class="boxMediaElement">
  <div class="boxContentMediaElement">
    <a><%= image_tag("fotina_editor_element.jpg") %></a>
    <%= render :partial => "menu_single_element" %>
  </div>
</div>
