<div class="contatore"><%= position %></div>
<div class="boxMediaElement">
  <div class="boxContentMediaElement">
    <a><%= image_tag component[:video].cover %></a>
    <%= render :partial => "menu_single_element" %>
  </div>
</div>
