<p class="fltlft"><%= t('header.greybar.selected') %></p>

<ul class="navlist">
  <li><a href="#" id="switch_to_lessons" class="current"><%= t('header.lessons') %></a></li>
  <li><a href="#" id="switch_to_media_elements"><%= t('header.elements') %></a></li>
</ul>
