<p class="fltlft"><%= t('header.greybar.selected') %></p>
	
	<ul class="navlist">
    <li><a href="#" class="current"><%= t('header.lessons') %></a></li>
    <li><a href="#"><%= t('header.elements') %></a></li>
  </ul>