<span class="tooltip">
	<%= image_tag("freccia_tooltip.png", :class => "callout") %>
	<div class="list">
  <ul class="navlist">
    <% @notifications.each do |n| %>
      <li><a href="#" <%= n.seen ? "class=\"visited\"" : '' %>><%= n.message.html_safe %></a></li>
    <% end %>
  </ul>
  </div>
</span>
