<ul class="nav nav-pills">
  <li class="pull-right"><span class="label"><%= page_items_counter(items) %></span></li>
  <% if expandable %>
    <li>
      <a href="#" id="expand-all"><%= t('admin.general.expand_all')%></a>
    </li>
    <li>
      <a href="#" id="collapse-all"><%= t('admin.general.close_all')%></a>
    </li>
  <% end %>
</ul>
