<div id="found_lessons">
  <% if @did_you_search && @search_item == 'lessons' %>
    <% if @lessons.empty? %>
      <%= render :partial => "search/lessons/empty" %>
    <% else %>
      <!-- TODO scrivi qui -->
    <% end %>
  <% end %>
</div>
