<div id="found_lessons">
  <% if @did_you_search && @search_item == 'lessons' %>
    <% if @lessons.empty? %>
      <%= render :partial => "search/lessons/empty" %>
    <% else %>
      <% @lessons.each do |l| %>
        <%= render :partial => "lessons/view_single_compact", :locals => {:lesson => l, :destination => ButtonDestinations::FOUND_LESSON} %>
      <% end %>
      <%= render :partial => 'shared/pagination', :locals => {:page => @page, :last_page => @last_page, :first_page => (@page == 1), :pagination_url => remove_param_from_url(request.url, 'delete_item')} %>
    <% end %>
  <% end %>
</div>
