<div id="lessons_tag_details">
  <% tags.each do |t| %>
    <a id="clickable_tag_<%= t.id %>" class="_clickable_tag_for_lessons <%= (tag.kind_of?(Tag) && t.id == tag.id) ? 'current'.html_safe : '' %>" data-param="<%= t.id %>"><%= t.word %></a>
  <% end %>
</div>
