<ul id="audio_gallery_content" class="scrollVerde">
  <div class="scroll-pane">
    <% audios.each do |audio| %>
      <div id="gallery_audio_<%= audio.id %>" class="audioTrackCompact _audio_gallery_thumb">
        <div class="audioTrackContent _compact">
          <div class="titleTrack"><p><%= audio.title %></div>
          <div class="fltrt">
            <div class="addButtonContent"><a class="creaNuovoButton"></a></div>
          </div>
        </div>
        <div class="audioTrackExpanded _expanded" style="display:none">
          <%= render :partial => 'shared/players/audio', :locals => {:audio => audio} %>
        </div>
      </div>
    <% end %>
  </div>
</ul>
