<ul id="audio_gallery_content" class="scrollVerde">
  <div class="scroll-pane">
    <% audios.each do |audio| %>
      <%= render :partial => 'galleries/thumbs/audio', :locals => {:audio => audio} %>
    <% end %>
  </div>
</ul>
