<div class="scrollVerde">
  <ul class="gallery">
    <div id="scroll_pane_in_audio_gallery" class="scroll-pane">
      <% audios.each do |audio| %>
        <div class="audioTrackCompact">
          <div class="audioTrackContent">
            <div class="playButtonContent"><a class="playButton"></a></div>
            <div class="titleTrack"><p>Peter Gabriel // A different drum</div>
            <div class="fltrt">
              <div class="addButtonContent"><a class="creaNuovoButton"></a></div>
            </div>
          </div>
          <div class="audioTrackExpanded">
            <%= render :partial => 'shared/players/audio', :locals => {:audio => audio} %>
            <a class="exitButton">&nbsp;</a>
          </div>
        </div>
      <% end %>
    </div>
  </ul>
</div>
