<div id="document_gallery_content" class="scrollVerde pseudo-ul">
  <div class="scroll-pane">
    <% if documents.empty? %>
      <div class="emptyGalleryDocumentEditor">
        <p>Non HAI DOCUMENTI</p>
      </div>
    <% else %>
      <% documents.each_with_index do |document, index| %>
        <%= render :partial => 'galleries/thumbs/document', :locals => {:document => document, :index => index} %>
      <% end %>
    <% end %>
  </div>
</div>
