<ul id="image_gallery_content" class="scrollVerde">
  <div class="scroll-pane">
    <% images.each do |image| %>
      <%= render :partial => "galleries/thumbs/image", :locals => {:image => image} %>
    <% end %>
  </div>
</ul>
