<div id="image_gallery_content" class="scrollVerde pseudo-ul">
  <div class="scroll-pane">
    <% if images.empty? %>
      <div class="emptyGalleryImageEditor">
        <p><%= t('galleries.empty.image') %></p>
      </div>
    <% else %>
      <% images.each_with_index do |image, index| %>
        <%= render :partial => 'galleries/thumbs/image', :locals => {:image => image, :index => index} %>
      <% end %>
    <% end %>
  </div>
</div>
