<ul id="video_gallery_content" class="scrollVerde">
  <div class="scroll-pane">
    <% videos.each do |video| %>
      <li id="gallery_video_<%= video.id %>" class="_video_gallery_thumb" data-video-id="<%= video.id %>">
        <a><%= image_tag video.cover, :width => '250', :height => '140' %></a>
        <%= render :partial => "galleries/popups/video", :locals => {:video => video} %>
      </li>
    <% end %>
  </div>
</ul>
