<div id="video_gallery_content" class="scrollVerde pseudo-ul">
  <div class="scroll-pane">
    <% if videos.empty? %>
      <div class="emptyGalleryVideoEditor">
        <p><%= t('galleries.empty.video') %></p>
      </div>
    <% else %>
      <% videos.each do |video| %>
        <%= render :partial => 'galleries/thumbs/video', :locals => {:video => video} %>
      <% end %>
    <% end %>
  </div>
</div>
