<div class="well">
  <h4>Search</h4>
  <form class="form-inline">
    <label for="id">id</label>
    <input type="text" class="input-small" name="id" placeholder="id">
    <label for="keyword">Keyword</label>
    <input type="text" class="input-small" name="keyword" placeholder="Keyword">
    <label for="subject">Type</label>
    <select>
      <option>Audio</option>
      <option>Image</option>
      <option>Video</option>
    </select>
    <label for="region">Region</label>
    <input type="text" class="input-small" name="region" placeholder="Region">
    <label for="school">School</label>
    <input type="text" class="input-small" name="school" placeholder="School">
    <label for="user">User</label>
    <input type="text" class="input-small" name="user" placeholder="User">
    <br />
    <select>
      <option>created at</option>
      <option>last update</option>
    </select>
    <label>From</label>
    <div class="input-append data datepicker" id="dp1" data-date="<%=Time.now.strftime('%d-%m-%Y')%>" data-date-format="dd-mm-yyyy">
      <input class="span2" size="16" type="text" value="<%=Time.now.strftime('%d-%m-%Y')%>">
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
    <label>To</label>
    <div class="input-append data datepicker" id="dp2" data-date="<%=Time.now.strftime('%d-%m-%Y')%>" data-date-format="dd-mm-yyyy">
      <input class="span2" size="16" type="text" value="<%=Time.now.strftime('%d-%m-%Y')%>">
      <span class="add-on"><i class="icon-th"></i></span>
    </div>
    <button type="submit" class="btn">Search</button>
  </form>
</div>