<h3>Elements (<%= @total_elements.count%>)</h3>
<%= render :partial => "search" %>
<ul class="nav nav-pills">
  <li>
    <a href="#" id="expand-all">Expand all</a>
  </li>
  <li>
    <a href="#" id="collapse-all">Close all</a>
  </li>
</ul>
<%= render :partial => 'admin/elements/list', :locals =>{:elements => @elements}%>
<ul class="nav nav-pills">
  <li>
    <a href="#" id="expand-all">Expand all</a>
  </li>
  <li>
    <a href="#" id="collapse-all">Close all</a>
  </li>
</ul>

<%= paginate @elements %>