<h3>New element</h3>
<div class="well">
  <form action="index_submit" method="get" accept-charset="utf-8">
    <input type="file" />
    <input type="text" />
    <input type="textarea" />
    <input type="textarea" />
    <p><input type="submit" value="Continue &rarr;"></p>
  </form>
</div>