<div class="notice-help">
  <div class="notice">
    <a href="#" id="notifications_button"></a>
    <%= render :partial => "notifications/tooltip_arancione" %>
    <%= render :partial => "notifications/tooltip" %>
  </div>
  <div class="help">
  <a href=""></a>
	<%= render :partial => "notifications/tooltip_help" %>
  </div>
</div>
<br class="clearfloat">
