<div class="notice-help">
  <div class="notice">
    <a href="#" id="notifications_button"></a>
    <%= render :partial => "layouts/tooltip_elements/tooltip_arancione" %>
    <%= render :partial => "layouts/tooltip_elements/tooltip" %>
  </div>
  <div class="help">
  <a href=""></a>
	<%= render :partial => "layouts/tooltip_elements/tooltip_help" %>
  </div>
</div>
<br class="clearfloat">
