<span class="tooltipArancione" id="tooltip_arancione" data-number="<%= @new_notifications %>">
  <%= image_tag("freccia_arancione.png", :class => "calloutTooltipArancione") %>
  <%= @new_notifications %> <!-- questo è il contenuto del fumetto -->
</span>
