@import 'variables';
@import 'mixins';

html.documents-controller {
  
  .documentInfoPopUp {
    
    .documentPopUpContainer {
      
      height: 300px;
      padding: 2.750em 1.875em 1.875em;
      color: #c2c1c2;
      
      .ChangeInfoContainerLoading {
        
        z-index: 10;
        position: absolute;
        width: 705px;
        height: 320px;
        padding: 0px;
        
        .fk_carica_elemento_file {
          
          left: 77px;
          
        }
        
        textarea {
          
          margin-bottom: 0;
          
        }
        
        input[type="submit"], .buttonForm {
          
          background-color: #fff;
          color: #333;
          
          &:hover {
            
            background-color: #908f8f;
            
          }
          
        }
        
        label.filebutton span input#new_document_input {
          
          z-index: 999;
          line-height: 0;
          font-size: 50px;
          position: absolute;
          top: -2px;
          left: -700px;
          opacity: 0;
          cursor: pointer;
          _cursor: hand;
          margin: 0;
          padding: 0;
          
        }
        
        .filebutton {
          
          @include svg-circle-icon-handler($assets-bottone-add-document_svg, 64px, 1, 1, 1, 0, 0, 0.5, 0, 0)
          
        }
        
      }
      
      .cols {
        
        width: 224px;
        
        p {
          
          padding-top: 1.250em;
          
        }
        
      }
      
      img {
        
        width: 110px;
        height: 110px;
        
      }
      
      h1 {
        
        color: #fff;
        font: 180% 'Nunito', sans-serif;
        padding: 0;
        
      }
      
      h2 {
        
        color: #fff;
        font: 17px 'Nunito', sans-serif;
        
      }
      
      ._error_messages {
        
        width: 258px;
        padding-top: 0px;
        height: auto;
        float: left;
        
        img {
          
          width: 17px;
          height: 17px;
          
        }
        
      }
      
      .documentPopUpChangeInfoContainer {
        
        z-index: 10;
        position: absolute;
        background-color: #373737;
        width: 534px;
        
        .buttonForm {
          
          padding: 5px 30px;
          
        }
        
      }
      
      .formDocuments {
        
        padding-top: 0.5em;
        float: left;
        width: 100%;
        
        input[type="text"] {
          
          border-radius: 10px;
          box-shadow: 0px 2px 2px rgba(10, 10, 10, 0.2) inset;
          background-color: #454343;
          padding: 2% 4%;
          width: 92%;
          font: 1.063em Arial, Helvetica, sans-serif;
          color: #fff;
          
        }
        
        input[type="submit"] {
          
          padding: 5px 30px ;
          width: 130px;
          height: 34px;
          font: 18px 'Nunito', sans-serif;
          color: #fff;
          background-color: $black;
          border: 0px solid #4fc356;
          
          &:hover {
            
            background-color: #908f8f;
            cursor: pointer;
            
          }
          
        }
        
        textarea {
          
          border-color: #373737;
          border-radius: 10px;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2) inset;
          background-color: #454343;
          font: 95% Arial, Helvetica, sans-serif;
          padding: 2% 4%;
          width: 92%;
          height: 137px;
          color: #c6c5c6;
          resize: none;
          margin-bottom: 0.625em;
          
          &.form_error {
            
            border: 3px solid rgba(250, 0, 0, 0.5);
            
          }
          
        }
        
        .buttonForm {
          
          color: $black;
          
          &:hover {
            
            color: white;
            background-color: #908f8f;
            
          }
          
        }
        
      }
      
    }
    
    .uploadDocuments {
      
      height: 345px;
      padding: 20px 28px;
      
    }
    
  }
  
  .documents-content {
    
    float: left;
    width: 99.5%;
    margin-bottom: 3%;
    
    .boxViewSingleDocument {
      
      width: 100%;
      padding: 0;
      color: #c0c0c0;
      margin-bottom: 1%;
      -webkit-box-shadow: 0px 3px 4px #d3d3d3;
      box-shadow: 0px 3px 4px #d3d3d3;
      background-color: #FBFAFB;
      float: left;
      
      h1 {
        
        font:  110% 'Nunito', sans-serif;
        color: $orange;
        padding: 0px;
        
      }
      
      h2 {
        
        font: 140% 'Nunito', sans-serif;
        
      }
      
      .contentInterno {
        
        float: left;
        width: 99%;
        padding: 0.3% 0% 0.3% 1%;
        
        div {
          
          float: right;
          
        }
        
        h3 {
          
          color: #6d6c6c;
          font-size: 100%;
          padding-top: 7px;
          padding-left: 10px;
          float: left;
          
        }
        
        .documentsIcon {
          
          width: 48%;
          float: left;
          padding: 4px 0px 2px 0px; 
          display: inline-block;
          margin-right: 1.8%;
          
          img {
            
            width: 30px;
            height: 30px;
            
          }
          
        }
        
        .menuController {
          
          padding: 0px;
          border-top: none;
          background-color: transparent;
          text-align: left;
          
        }
        
        p {
          
          padding-top: 0.6%;
          text-align: center;
          float: left;
          
        }
        
      }
      
    }
    
  }
  
}
