@import 'variables';
@import 'mixins';

html.faqs-controller {
  
  .faqsHeader {
    
    background-color: #5d5d5d;
    padding: 8px 0 12px 40px;
    height: 34px;
    
    h1 {
      
      color: white;
      font: 30px 'Nunito', sans-serif;
      padding: 0px;
      
    }
    
  }
  
  .gray-description {
    
    background-color: #f5f5f5;
    padding: 30px 40px;
    color: #666;
    
    a {
      
      font-weight: bold;
      
    }
    
    a:hover {
      
      text-decoration: underline;
      
    }
    
  }
  
  .faqs_content {
    
    div {
      
      float: left;
      width: 304px;
      height: 300px;
      
      &:last-child {
        
        margin-right: 0;
        
      }
      
      ul {
        
        padding-top: 15px;
        
        li {
          
          list-style: none;
          margin-bottom: 15px;
          font-weight: bold;
          
        }
        
      }
      
    }
    
  }
  
  h2 {
    
    font: 23px 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 0;
    
  }
  
  h3 {
    
    font: 23px 'Nunito', sans-serif;
    color: #5d5c5c;
    font-size: 20px;
    padding-top: 10px;
    
  }
  
  .lessons {
    
    padding: 30px 40px;
    
    h2.title, a:hover {
      
      color: $orange;
      
    }
    
  }
  
  .media_elements {
    
    padding: 30px 40px;
    
    h2.title, a:hover {
      
      color: $green;
      
    }
    
  }
  
  .virtual_classroom {
    
    padding: 30px 40px;
    
    h2.title, a:hover {
      
      color: $blue;
      
    }
    
  }
  
  .profile {
    
    padding: 30px 40px;
    
    h2.title, a:hover {
      
      color: #5D5C5C;
      
    }
    
  }
  
  #lessons_faq h2.title {
    
    color: $orange;
    
  }
  
  #media_elements_faq h2.title {
    
    color: $green;
    
  }
  
  #profile_faq h2.title {
    
    color: #5D5C5C;
    
  }
  
  #virtual_classroom_faq h2.title {
    
    color: $blue;
    
  }
  
  .backBtn {
    
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #5d5d5d;
    padding: 10px 35px;
    background-image: url('/assets/back_arrow.png');
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: center left;
    
  }
  
  #lessons_faq, #media_elements_faq, #profile_faq, #virtual_classroom_faq {
    
    padding: 30px 40px 0 40px;
    
    .content {
      
      padding: 0 0 43px 0;
      
    }
    
    a:hover {
      
      text-decoration: underline;
      
    }
    
  }
  
}
