.navcontainer {
  margin: 0 auto;
  padding-bottom: 20px;
	float:left;
	width:100%;
	ul.navlist {
   list-style: none;
   padding: 0;
   margin: 0 auto;
   width: 100%;
   font-size:180%;
	 float:left;
	 
  }
    li {
      display: block;
      float: left;
      width: 25%;
      margin: 0;
      padding: 10px 0px 10px 0px;
    }
    li a {
      display: block;
      width: 100%;
      padding:0;
      color: #fff;
      text-decoration: none;
			text-align:center;
			text-transform:lowercase;
    }
		
		.lessons a {
      background-color:#f29400;
			&.current {color:#f5a933;}
		  &:hover, &:active, &:focus { 
	    color:#f5a933; 
	    }
	  }
		.elements a {
      background-color:#41a62a;
			&.current {color:#67b855;}
		  &:hover, &:active, &:focus { 
	    color:#67b855; 
	    }
	  }
		.classroom a {
      background-color:#2eaadc;
			&.current {color:#58bbe3;}
		  &:hover, &:active, &:focus { 
	    color:#58bbe3; 
	    }
	  }
		.profile a {
      background-color:#5d5c5c;
			&.current {color:#7d7d7d;}
		  &:hover, &:active, &:focus { 
	    color:#7d7d7d; 
	    }
	  }
}