<%
  audio = slide.audio_at(1)
%>

<div class="bigViewLesson slideAudio">
  <h2><%= slide.title %></h2>
  <div class="audioBig">
    <% if audio.nil? %>
      <div class="audioIcon"></div>
    <% else %>
      <audio class="audio" src="<%= audio.mp3 %>" controls></audio>
    <% end %>
  </div>
  <div class="contentText">
    <%= slide.text.html_safe %>
  </div>
</div>
