<%
  audio = slide.audio_at(1)
%>


<div class="slide-content audio">
  
  <div class="item title-container">
    <%= slide.title %>
  </div>
  
  <div class="item audio-container">
    <% if audio.nil? %>
      <div class="audioIcon"></div>
    <% else %>
      <% if audio.converted? %>
        <%= render :partial => 'shared/players/audio', :locals => {:audio => audio, :initialize_now => true} %>
      <% else %>
        <%= image_tag audio.placeholder_url(:lesson_viewer), :title => t('titles.not_available.audio', :title => audio.title) %>
      <% end %>
    <% end %>
  </div>
  
  <div class="item text-container">
    <%= slide.text.html_safe if slide.text %>
  </div>
  
</div>
