<%
  audio = slide.media_element_url_at(1)
%>

<div class="bigViewLesson slideAudio">
  <h2><%= slide.title %></h2>
  <div class="medium">
    <% if !audio[:empty] %>
      <!-- TODO qui metto il player, usando la url contenuta in 'audio[:url]' -->
    <% end %>
  </div>
  <div class="image1-content">
    <%= slide.text %>
  </div>
</div>
