<%
  audio = slide.media_element_url_at(1)
%>

<div class="bigViewLesson slideAudio">
  <h2><%= slide.title %></h2>
  <% if audio[:empty] %>
    <%= image_tag audio[:placeholder], :style => "float:left" %>
  <% else %>
    <!-- TODO qui metto il player, usando la url contenuta in 'audio[:url]' -->
  <% end %>
  <div class="image1-content">
    <%= slide.text %>
  </div>
</div>
