<%
  audio = slide.audio_at(1)
%>

<div class="bigViewLesson slideAudio">
  <h2><%= slide.title %></h2>
  <div class="audioBig">
    <% if audio.nil? %>
      <div class="audioIcon"></div>
    <% else %>
      <%= render :partial => 'shared/players/audio', :locals => {:audio => audio, :initialize_now => true} %>
    <% end %>
  </div>
  <div class="contentText">
    <%= slide.text.html_safe if slide.text %>
  </div>
</div>
