<%
  image1 = slide.image_at(1)
  image2 = slide.image_at(2)
%>

<div class="bigViewLesson slideImage">
  <div class="mediumHeight">
    <% if image1.nil? %>
      <div class="photoIcon"></div>
    <% else %>
      <%= image_tag image1.media_element.url, :style => "left:#{image1.alignment}px" %>
      <% if !image1.caption.blank? %>
        <div class="caption"><%= image1.caption %></div>
      <% end %>
    <% end %>
  </div>
  <div class="mediumHeight">
    <% if image2.nil? %>
      <div class="photoIcon"></div>
    <% else %>
      <%= image_tag image2.media_element.url, :style => "left:#{image2.alignment}px" %>
      <% if !image2.caption.blank? %>
        <div class="caption"><%= image2.caption %></div>
      <% end %>
    <% end %>
  </div>
</div>
