<%
  image1 = slide.image_at(1)
  image2 = slide.image_at(2)
%>

<div class="bigViewLesson slideImage">
  <div class="mediumHeight">
    <% if image1[:empty] %>
      <div class="photoIcon"></div>
    <% else %>
      <%= image_tag image1[:url], :style => "left:#{image1[:alignment]}px" %>
      <div class="caption"><%= image1[:caption] %></div>
    <% end %>
  </div>
  <div class="mediumHeight">
    <% if image2[:empty] %>
      <div class="photoIcon"></div>
    <% else %>
      <%= image_tag image2[:url], :style => "left:#{image2[:alignment]}px" %>
      <div class="caption"><%= image2[:caption] %></div>
    <% end %>
  </div>
</div>
