<%
  image = slide.image_at(1)
%>

<div class="bigViewLesson slideImage">
  <h2><%= slide.title %></h2>
  <div class="medium" >
    <% if image.nil? %>
      <div class="photoIcon"></div>
    <% else %>
      <%= image_tag image.media_element.url, :style => "left:#{image.alignment}px" %>
      <% if !image.caption.blank? %>
        <div class="caption"><%= image.caption %></div>
      <% end %>
    <% end %>
  </div>
  <div class="textRightContent">
    <%= slide.text.html_safe %>
  </div>
</div>
