<%
  image = slide.image_at(1)
%>

<div class="bigViewLesson slideImage">
  <div class="big">
    <% if image.nil? %>
      <div class="photoIcon"></div>
    <% else %>
      <%= image_tag image.media_element.url, :style => "left:#{image.alignment}px" %>
      <% if !image.caption.blank? %>
        <div class="caption"><%= image.caption %></div>
      <% end %>
    <% end %>
  </div>
</div>
