<%
  image1 = slide.media_element_url_at(1)
  image2 = slide.media_element_url_at(2)
%>

<div class="bigViewLesson slideImage">
  <div class="mediumHeight">
	  <% if !image1[:empty] %>
      <%= image_tag image1[:url], :style => "left:#{image1[:alignment]}px" %>
			<div class="caption"><%= image1[:caption] %></div>
    <% end %>
		
  </div>
  <div class="mediumHeight">
	  <% if !image2[:empty] %>
      <%= image_tag image2[:url], :style => "left:#{image2[:alignment]}px" %>
    <% end %>
		<div class="caption"><%= image2[:caption] %></div>
  </div>
</div>
