<%
  image1 = slide.media_element_url_at(1)
  image1 = image[:empty] ? image[:placeholder] : image[:url]
  image2 = slide.media_element_url_at(2)
  image2 = image[:empty] ? image[:placeholder] : image[:url]
%>

<div class="bigViewLesson slideImage2">
  <h2><%= slide.title %></h2>
  <%= image_tag image1, :style => "float:left" %>
  <%= image_tag image2, :style => "float:right" %>
</div>
