<%
  url_type ||= nil

  images = [slide.image_at(1), slide.image_at(2)]
%>

<div class="slide-content image2 normal-size">
  
  <% images.each_with_index do |image| %>

    <div class="item image-container">
      <div class="image read-only">
        <% if image %>
          <% url = image.media_element.url(url_type) %>
          <% width, height = image.media_element.width, image.media_element.height %>
          <% if is_horizontal?(width, height, 'image2') %>
            <% image_width = resize_width(width, height, 'image2') %>
            <%= image_tag url, :style => "left:#{image.alignment}px; width:#{image_width}px" %>
          <% else %>
            <% image_height = resize_height(width, height, 'image2') %>
            <%= image_tag url, :style => "top:#{image.alignment}px; height:#{image_height}px" %>
          <% end %>
          <% if image.caption.present? %>
            <input class="caption" type="text" value="<%= image.caption %>" disabled="disabled">
          <% end %>
        <% end %>
      </div>
    </div>

  <% end %>
  
</div>
