<%
  image = slide.media_element_url_at(1)
%>

<div class="bigViewLesson slideImage">
  <h2><%= slide.title %></h2>
  <div class="medium">
	
	  <% if !image[:empty] %>
      <%= image_tag image[:url], :style => "left:#{image[:alignment]}px" %>
    	<div class="caption"><%= image[:caption] %></div>
		<% end %>
  </div>
  <div class="textRightContent">
	  <%= slide.text.html_safe %>
	</div>
</div>
