<% url_type ||= nil %>

<div style="display:table; width:500px; height:570px; margin:0 auto; text-align:center;">
  <div style=" display:table-cell; vertical-align:middle;">
  <img alt="Ajax-loader-2" src="<%= url_by_url_type asset_path('ajax-loader-2.gif'), url_type %>" />
  </div>
</div>
