<%
  url_type ||= nil
%>

<div class="slide-content text normal-size">
  
  <div class="item title-container">
    <input class="title read-only" type="text" value="<%= slide.title %>" disabled="disabled">
  </div>
  
  <div class="item text-container read-only">
    <%= slide.text.html_safe if slide.text %>
  </div>
  
  <% if slide.documents_slides.count > 0 %>
    <%= render :partial => 'lesson_viewer/documents', :locals => {:documents_slides => slide.documents_slides, :url_type => url_type} %>
  <% end %>
  
</div>


<% if !@export.nil? %>
  <script type="text/javascript">
    $(document).ready(function() {
      lessonViewerDocumentReadyWirisConvertSrc();
    });
  </script>
<% end %>
