<div class="slide-content text normal-size">
  
  <div class="item title-container">
    <h2><%= slide.title %></h2>
  </div>
  
  <div class="item text-container read-only">
    <%= slide.text.html_safe if slide.text %>
  </div>
  
</div>
