<div class="slide-content text">
  
  <div class="item title-container">
    <%= slide.title %>
  </div>
  
  <div class="item text-container">
    <%= slide.text.html_safe if slide.text %>
  </div>
  
</div>
