<div class="slide-content text normal-size">
  
  <div class="item title-container">
    <input class="title read-only" type="text" value="<%= slide.title %>" disabled="disabled">
  </div>
  
  <div class="item text-container read-only">
    <%= slide.text.html_safe if slide.text %>
  </div>
  
  <% if slide.documents_slides.count > 0 %>
    <a class="attached_document_internal" title="<%= t('titles.buttons.documents.attached_view') %>"></a>
    <div class="attached_document_internal_expanded" style="display:none"></div>
  <% end %>
  
</div>
