<div class="slide-content text normal-size">
  
  <div class="item title-container">
    <div class="title-h2">
      <div class="title-h2-content">
        <%= slide.title %>
      </div>
    </div>
  </div>
  
  <div class="item text-container read-only">
    <%= slide.text.html_safe if slide.text %>
  </div>
  
</div>
