<%
  video = slide.media_element_url_at(1)
%>

<div class="bigViewLesson slideVideo">
  <div class="videoBig">
    <% if !video[:empty] %>
      <!-- TODO qui metto il player, usando la url contenuta in 'video[:url]' -->
		<video id='video' class='video' src='http://slides.html5rocks.com/src/chrome_japan.mp4' controls></video>	
    <% end %>
		
		  
		
  </div>
</div>
