<%
  video = slide.video_at(1)
%>


<div class="slide-content video1">
  
  <div class="item title-container">
    <h2><%= slide.title %></h2>
  </div>
  
  <div class="item video-container">
    <% if video.nil? %>
      <div class="videoMedium">
        <div class="videoIcon"></div>
      </div>
    <% else %>
      <div class="videoMedium" style="background-color: white" >
        <% if video.converted? %>
          <%= render :partial => 'shared/players/video', :locals => {:video => video, :initialize_now => true} %>
        <% else %>
          <%= image_tag video.placeholder_url(:lesson_viewer_small), :title => t('titles.not_available.video', :title => video.title) %>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <div class="item text-container read-only">
    <%= slide.text.html_safe if slide.text %>
  </div>
  
</div>
