<%
  video = slide.video_at(1)
%>


<div class="slide-content video2 normal-size">
  
  <div class="item video-container">
    <div class="video read-only">
      <% if video %>
        <% if video.converted? %>
          <%= render :partial => 'shared/players/video', :locals => {:video => video, :initialize_now => true} %>
        <% else %>
          <%= image_tag video.placeholder_url(:lesson_viewer_big), :title => t('titles.not_available.video', :title => video.title) %>
        <% end %>
      <% end %>
    </div>
  </div>
  
</div>
