<%
  video = slide.media_element_url_at(1)
%>

<div class="bigViewLesson slideVideo">
  <h2><%= slide.title %></h2>
  <div class="videoMedium">
    <% if !video[:empty] %>
      <!-- TODO qui metto il player, usando la url contenuta in 'video[:url]' -->
    <% end %>
		<video id='video' class='video' src='http://slides.html5rocks.com/src/chrome_japan.mp4' controls></video>	
  </div>
  <div class="textRightVideoContent">
    <%= slide.text.html_safe %>
  </div>
</div>
