<%
  video = slide.media_element_url_at(1)
%>

<div class="bigViewLesson slideVideo">
  <div class="videoBig">
    <% if video[:empty] %>
		  <div class="videoIcon"></div>
		  <% else %>
      <video id='video' class='video' src='video[:url]' controls></video>	
    <% end %>
		
		  
		
  </div>
</div>
