<%
  video = slide.video_at(1)
%>

<div class="bigViewLesson slideVideo">
  <h2><%= slide.title %></h2>
  <div class="videoMedium">
    <% if video.nil? %>
      <div class="videoIcon"></div>
    <% else %>
      <%= render :partial => 'shared/players/video', :locals => {:video => video} %>
    <% end %>
  </div>
  <div class="textRightVideoContent">
    <%= slide.text.html_safe %>
  </div>
</div>
