<%
  video = slide.video_at(1)
%>

<div class="bigViewLesson slideVideo">
  <h2><%= slide.title %></h2>
    <% if video.nil? %>
    <div class="videoMedium">
      <div class="videoIcon"></div>
    <% else %>
    <div class="videoMedium" style="background-color: white" >
      <%= render :partial => 'shared/players/video', :locals => {:video => video, :initialize_now => true} %>
    <% end %>
    </div>
  <div class="textRightVideoContent">
    <%= slide.text.html_safe if slide.text %>
  </div>
</div>
