<%
  video = slide.video_at(1)
%>


<div class="slide-content video1 normal-size">
  
  <div class="item title-container">
    <div class="title-h2">
      <div class="title-h2-content">
        <%= slide.title %>
      </div>
    </div>
  </div>
  
  <div class="item video-container">
    <div class="video read-only">
      <% if video %>
        <% if video.converted? %>
          <%= render :partial => 'shared/players/video', :locals => {:video => video, :initialize_now => true} %>
        <% else %>
          <%= image_tag video.placeholder_url(:lesson_viewer_small), :title => t('titles.not_available.video', :title => video.title) %>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="item text-container read-only">
    <%= slide.text.html_safe if slide.text %>
  </div>
  
</div>
