<%
  video = slide.video_at(1)
%>

<div class="bigViewLesson slideVideo">
  <div class="videoBig">
    <% if video.nil? %>
      <div class="videoIcon"></div>
    <% else %>
      <%= render :partial => 'shared/players/video', :locals => {:video => video} %>
    <% end %>
  </div>
</div>
