<%
  video = slide.media_element_url_at(1)
%>

<div class="bigViewLessonTextImage">
  <h2><%= slide.title %></h2>
  <div class="medium">
    <% if !video[:empty] %>
      <!-- TODO qui metto il player, usando la url contenuta in 'video[:url]' -->
    <% end %>
  </div>
  <div class="image1-content">
    <%= slide.text %>
  </div>
</div>
