<%
  video = slide.video_at(1)
%>

<div class="bigViewLesson slideVideo">
  <div class="videoBig">
    <% if video[:empty] %>
      <div class="videoIcon"></div>
    <% else %>
      <video id='video' class='video' src='video[:mp4]' controls></video> <!-- FIXME mettere webm quando necessario -->
    <% end %>
  </div>
</div>
