<% if locations.any? %>
  <% if !edit %>
    <option value="0">Select a <%= locations.first.sti_type.downcase %></option><!-- traduzzione -->
  <% end %>
  <%= options_from_collection_for_select(locations, 'id', 'name', selected.to_i) %>
<% end %>
