<% if !label.nil? %>
  <option value="0"><%= t('locations.placeholder', :location => label) %></option>
<% end %>
<% if locations.any? %>
  <%= options_from_collection_for_select(locations, 'id', 'name', selected.to_i) %>
<% end %>
