<% @children = Location.find(parent).children %>
<option>Select a <%=@children.first.sti_type%></option>
<%= options_for_select(@children.order(:name).map{ |l| [l.to_s, l.id] }, selected.present? ? selected : '') %>