<form>
  <div class="insert-content">
    <!-- CHEMICAL -->
    <div class="checkboxElement">
        <input type="checkbox" id="checkbox-2-1" class="regular-checkbox big-checkbox" /><label for="checkbox-2-1"></label>
        Chemical
    </div>
    <!-- LANGUAGE -->
    <div class="checkboxElement">
        <input type="checkbox" id="checkbox-2-2" class="regular-checkbox big-checkbox" /><label for="checkbox-2-2"></label>
        Language
    </div>
    <!-- MATHEMATICA -->
    <div class="checkboxElement">
        <input type="checkbox" id="checkbox-2-3" class="regular-checkbox big-checkbox" /><label for="checkbox-2-3"></label>
        Mathematics
    </div>
    <!-- HISTORY -->
    <div class="checkboxElement">
        <input type="checkbox" id="checkbox-2-4" class="regular-checkbox big-checkbox" />
        <label for="checkbox-2-4"></label>
        History
    </div>
    <!-- BIOLOGY -->
    <div class="checkboxElement">
        <input type="checkbox" id="checkbox-2-5" class="regular-checkbox big-checkbox" /><label for="checkbox-2-5"></label>
        Biology
    </div>
    <!-- GEOGRAPHY -->
    <div class="checkboxElement">
        <input type="checkbox" id="checkbox-2-6" class="regular-checkbox big-checkbox" /><label for="checkbox-2-6"></label>
        Geography
    </div>
    <!-- ASTRONOMY -->
    <div class="checkboxElement">
        <input type="checkbox" id="checkbox-2-7" class="regular-checkbox big-checkbox" /><label for="checkbox-2-7"></label>
        Astronomy
    </div>
    <!-- DESIGN -->
    <div class="checkboxElement">
        <input type="checkbox" id="checkbox-2-8" class="regular-checkbox big-checkbox" /><label for="checkbox-2-8"></label>
        Design
    </div>
  </div>
  <div class="form_submit">
    <input type="submit" value="save" />
  </div>
</form>