<fieldset class="insert-content">
  <div class="inputElement">
    <p>Name</p><input type="text" name="nome" value="" class="text" id="">
  </div>
  <div class="inputElement">
    <p>Surname</p><input type="text" name="cognome" value="" class="text" id="">
  </div>
  <div class="inputElement">
    <p>Email</p><input type="text" name="email" value="" class="text" id="">
  </div>
  <br class="clearfloat" />
  <div class="inputElement">
    <p>Password</p><input type="password" name="nome" value="" class="text" id="">
  </div>
  <div class="inputElement" style="margin-right:0">
    <p>Repeat password</p><input type="password" name="cognome" value="" class="text" id="">
  </div>
</fieldset>
<fieldset class="insert-content">
  <div class="inputElement">
    <p>School</p><input type="text" name="school" value="" class="text school" id="">
  </div>
  <br class="clearfloat" />
  <div class="inputElement">
    <p>School level</p>
    <select name="school_level_id" id="profile_region">
      <option value="">First</option>
      <option value="">Second</option>
    </select>
  </div>
  <div class="inputElement">
    <p>Region</p>
    <select name="school_level_id" id="profile_school_level">
      <option value="">Bejing</option>
      <option value="">Other</option>
    </select>
  </div>
</div>
<div class="form_submit">
  <input type="submit" value="save" />
</fieldset>