<div class="griglia-contenuti">
  <div class="profile-content">
    <div class="title-bar">
      <h1>profile</h1>
      <ul class="navlist">
        <li><%= link_to t('captions.personal_info'), my_profile_path, :class => 'current' %></li>
        <li><%= link_to t('captions.subjects'), my_subjects_path %></li>
        <li><%= link_to t('captions.stats'), my_stats_path %></li>
      </ul>
    </div>
    <br class="clearfloat">
    <div class="contentForm">
    <h2>Personal Info</h2>
    <p>In this area you can update or modify all the parameters of your account</p>
      <div class="insert-content">
        <div class="inputElement">
          <p>Name</p><input type="text" name="nome" value="" class="text" id="">
        </div>
        <div class="inputElement">  
          <p>School level</p><input type="text" name="school_level" value="" class="text" id="">
        </div>
        <div class="inputElement">
          <p>email</p><input type="text" name="email" value="" class="text" id="">
        </div>
        <div class="inputElement">
          <p>Password</p><input type="password" name="nome" value="" class="text" id="">
        </div>
      </div>
      <div class="insert-content" style="padding-top:0">
        <div class="inputElement">
          <p>Surname</p><input type="text" name="cognome" value="" class="text" id="">
        </div>
        <div class="inputElement">
          <p>Region</p><input type="text" name="region" value="" class="text" id="">
        </div>
        <div class="inputElement">
          <p>School</p><input type="text" name="school" value="" class="text" id="">
        </div>
        
        <div class="inputElement" style="margin-right:0">
          <p>Repeat password</p><input type="password" name="cognome" value="" class="text" id="">
        </div>
      </div>
      <br class="clearfloat">
    </div>
  </div>
</div>