<div class="dialog">
  <h1>Forgot your password?</h1>
  <p>Insert your email, you will come another password to your e-mail address</p>
  
<%= form_tag user_reset_password_path do |f| %>
  <%= label_tag 'email', t('captions.email') %>:<br> <%= email_field_tag :email, nil, id: 'email' %>

  <%= submit_tag t('buttons.reset_password') %>
<% end %>
<p style="padding-top:30px"><img src="/assets/logo_grigio.png"></p>
</div>