<div class="griglia-contenuti">
  <div class="profile-content">
    <div class="title-bar">
      <h1>profile</h1>
      <ul class="navlist">
        <li><%= link_to t('captions.personal_info'), my_profile_path %></li>
        <li><%= link_to t('captions.subjects'), my_subjects_path, :class => 'current' %></li>
        <li><%= link_to t('captions.statistics'), my_statistics_path %></li>
      </ul>
    </div>
    <br class="clearfloat">
    <div class="contentForm">
      <header>
        <h2>Subjects</h2>
        <p>Choose the matters you want to stay connected</p>
      </header>
        <%= render :partial => 'personal_subjects' %>
      </div>
  </div>
</div>