<div class="menuController _<%= item.class %>_buttons" id="<%= item.class %>_menu_buttons_<%= item.id %>">
  <% item.buttons.each do |b| %>
    <%= render :partial => "shared/buttons/#{b}" %>
  <% end %>
</div>
