<div class="menuController">
  <% lesson.buttons.each do |b| %>
    <div>
      <% if b == Buttons::PREVIEW %>
        <a class="<%= b %>"></a>
      <% elsif b == Buttons::EDIT %>
        Edit
      <% elsif b == Buttons::PUBLISH %>
        Publish
      <% elsif b == Buttons::UNPUBLISH %>
        Unpublish
      <% elsif b == Buttons::ADD %>
        Add
      <% elsif b == Buttons::REMOVE %>
        Remove
      <% elsif b == Buttons::DESTROY %>
        Destroy
      <% elsif b == Buttons::LIKE %>
        Like
      <% elsif b == Buttons::REPORT %>
        Report
      <% elsif b == Buttons::VIRTUAL_CLASSROOM %>
        Virtual Classroom
      <% elsif b == Buttons::COPY %>
        Copy
      <% elsif b == Buttons::CHANGE_INFO %>
        Change Info
      <% end %>
    </div>
  <% end %>
</div>
