<div class="global-footer">
  <div class="global-footer-content">
    <% if controller_name != 'dashboard' %>
      <div class="back-to-dashboard">
        <%= link_to t('captions.back_to_dashboard'), dashboard_path %>
        <%= image_tag 'lesson-editor-logo-footer.png' %>
      </div>
    <% end %>
  </div>
  <div class="global-footer-logo">
    <div class="partner">
      <%= image_tag 'partner_logo.jpg' %>
    </div>
    <div class="copyright">
      <%= SETTINGS['application_copyright'] %>
    </div>
  </div>
</div>
