<div class="header">
  <%= link_to image_tag("logo.gif"), '/dashboard' %>
  <%= render :partial => "shared/logout" %>
</div>
<%= render :partial => "shared/menu" %>
<br class="clearfloat">
<%= render :partial => "notifications/main" %>
<br class="clearfloat">
