<div class="header">
  
  <%= link_to image_tag('logo.gif'), '/dashboard' %>
  <% if current_user.trial? %>
    <div class="accountVersion">Il tuo account scadrà tra <span>14 giorni</span></div>
    <% else %>
    <div class="accountVersion">Digital Education System</div>
  <% end %>
  <%= render :partial => 'shared/logout' %>
</div>
<%= render :partial => 'shared/menu' %>
<br class="clearfloat">
<%= render :partial => 'notifications/main', :locals => {:notifications => @notifications, :news => @new_notifications, :offset => @offset_notifications, :tot => @tot_notifications} %>
