<div class="_gallery_img_expanded _gallery_img_expanded_<%= media_element.id%>">
  <%= image_tag("http://lorempixel.com/400/266")%>
  <div class="caption">
    <a href="add" class="pull-right">+</a>
    <p><%= media_element.title %></p>
  </div>
</div>