<div class="logout">
  <span class="lower"><%= t('captions.welcome') %></span>
  <span class="nome"><%= @current_user.name %></span>
  <span class="cognome"><%= @current_user.surname %></span>
  <br class="clearfloat">
  <a href=""><%= t('captions.logout') %></a>
</div>
