<div class="logout">
    <%= t('small_letter.welcome') %> <span class="nome">Wu</span> <span class="cognome">Ming</span>
		<br class="clearfloat">
		<a href=""><%= t('capital_letter.logout') %></a>
</div>
