<div class="dialogMediaElementChangeInfoInEditor" id="dialog-change-info-in-video-editor" style="display:none">

<%= item.inspect %>

</div>

<div id="popup_captions_container_media_element_editor" style="display:none"></div>

