<%
  data_captions = ''
  data_captions = "#{data_captions}data-publish-confirm=\"#{t('popups.publish_confirm').html_safe}\""
  data_captions = "#{data_captions} data-publish-yes=\"#{t('popups.publish_yes').html_safe}\""
  data_captions = "#{data_captions} data-publish-no=\"#{t('popups.publish_no').html_safe}\""
  data_captions = "#{data_captions} data-publish-title=\"#{t('popups.publish_title')}\""
  data_captions = "#{data_captions} data-unpublish-confirm=\"#{t('popups.unpublish_confirm').html_safe}\""
  data_captions = "#{data_captions} data-unpublish-yes=\"#{t('popups.unpublish_yes').html_safe}\""
  data_captions = "#{data_captions} data-unpublish-no=\"#{t('popups.unpublish_no').html_safe}\""
  data_captions = "#{data_captions} data-unpublish-title=\"#{t('popups.unpublish_title')}\""
  data_captions = "#{data_captions} data-destroy-lesson-confirm=\"#{t('popups.destroy_lesson_confirm').html_safe}\""
  data_captions = "#{data_captions} data-destroy-lesson-title=\"#{t('popups.destroy_lesson_title').html_safe}\""
  data_captions = "#{data_captions} data-destroy-lesson-yes=\"#{t('popups.destroy_lesson_yes').html_safe}\""
  data_captions = "#{data_captions} data-destroy-lesson-no=\"#{t('popups.destroy_lesson_no').html_safe}\""
  data_captions = "#{data_captions} data-destroy-media-element-confirm=\"#{t('popups.destroy_media_element_confirm').html_safe}\""
  data_captions = "#{data_captions} data-destroy-media-element-title=\"#{t('popups.destroy_media_element_title').html_safe}\""
  data_captions = "#{data_captions} data-destroy-media-element-yes=\"#{t('popups.destroy_media_element_yes').html_safe}\""
  data_captions = "#{data_captions} data-destroy-media-element-no=\"#{t('popups.destroy_media_element_no').html_safe}\""
  data_captions = "#{data_captions} data-invalid-component-duration-in-video-editor=\"#{t('popups.invalid_component_duration_in_video_editor').html_safe}\""
  data_captions = "#{data_captions} data-empty-text-component-in-video-editor=\"#{t('popups.empty_text_component_in_video_editor')}\""
  data_captions = "#{data_captions} data-text-component-placeholder-in-video-editor=\"#{t('captions.insert_text')}\""
  data_captions = "#{data_captions} data-temporary-msg=\"\""
%>

<%
  data_parameters = ''
  data_parameters = "#{data_parameters}data-timeout=\"#{CONFIG['seconds_for_timeout_dialogs'].to_json}\""
%>

<div class="timedPopUp" id="dialog-error" style="display:none"></div>

<div class="timedPopUp" id="dialog-ok" style="display:none"></div>

<div class="confirmPopUp" id="dialog-confirm" style="display:none"></div>

<div id="popup_captions_container" style="display:none" <%= data_captions.html_safe %> ></div>

<div id="popup_parameters_container" style="display:none" <%= data_parameters.html_safe %> ></div>
