<div class="timedPopUp" id="dialog-error" style="display:none"></div>

<div class="timedPopUp" id="dialog-ok" style="display:none"></div>

<%= render partial: 'media_elements/new_form_popup', locals: { media_element: @new_media_element } %>

<div class="confirmPopUp" id="dialog-confirm" style="display:none"></div>