<div class="title-bar">
  <div style="float:left; width:45%; border:1px dotted black"><h1>lessons</h1></div>
	<div style="float:left; width:10%; border:1px dotted black; text-align:center"><p>Matter</p></div>
	<div style="float:left; width:10%; border:1px dotted black; text-align:center"><p>Status</p></div>
</div>