<div class="menuController <%= media_element.converted.nil? ? '_disabled'.html_safe : '' %>" id="media_element_menu_buttons_<%= media_element.id %>">
  <% cont = 0 %>
  <% media_element.buttons.each do |b| %>
    <%= render :partial => "shared/buttons/#{b}", :locals => {:item => media_element, :destination => destination} %>
    <% cont += 1 %>
  <% end %>
  <% if destination != ButtonDestinations::EXPANDED_MEDIA_ELEMENT %>
    <% while cont < 3 %>
      <% style = (cont < 2) ? 'margin-right:8px'.html_safe : '' %>
      <a class="remove" style="background-image:none; width:3.5em; height:1em;"><%= image_tag 'hidden.png', :style => style, :width => 1, :height => 1 %></a>
      <% cont += 1 %>
    <% end %>
  <% end %>
</div>
