<div class="boxViewSingleMediaElement createNew">
  <div class="contentInterno">
    <a href=""><%= image_tag("create.png") %></a>
    <p><%= t("capital_letter.create_new_media_element") %></p>
  </div>
</div>
