<div class="boxViewExpandedMediaElement">
  <div class="contentInterno" style="text-align:center; padding-top:120px;height:154px;">
    <a href="" class="createButton">&nbsp;</a>
		<p style="padding-top:40px"><%= t("captions.load_new_media_element") %></p>
  </div>
	<div 	style="height:2.4em;background-color:#fbfafb;">
  </div>
</div>
