<div class="empty _empty_media_elements _load_media_element">
  <div class="createButton">
    <a class="_empty_media_elements_hover"></a>
  </div>
  <div style="float:left"><%= t('empty.my_media_elements') %>
  <h1><%= t('captions.load_new_media_element_now') %></h1></div>
</div>
