<div class="empty _empty_media_elements _load_media_element">
  <div class="createButton">
    <a class="_empty_media_elements_hover"></a>
  </div>
  <div style="float:left"><%= t('media_elements.empty') %>
  <h1><%= t('media_elements.load_new_now') %></h1></div>
</div>
