<ul class="navlist">
 <li><a class="createButtonMediaElements lower load_media_element"><%= t('captions.load_new_media_element') %></a></li>
 <li><a class="createButtonMediaElements lower"><%= t('captions.create_new_media_element') %></a></li>
</ul>
