<% media_elements.each do |me| %>
  <div class="boxViewSingleMediaElement">
    <%= render :partial => "media_elements/view_single", :locals => {:media_element => me, :expanded => true} %>
  </div>
<% end %>

<% if @where == 'dashboard' %>
  <div class="boxViewSingleMediaElement createNew">
    <%= render :partial => "shared/create_new", :locals => {:item => 'media_element'} %>
  </div>
<% end %>
