<div class="contentInterno">
<%= image_tag("testa.jpg") %>
<br>
  <%= media_element.sti_type %>
  <%= media_element.title %>
</div>
<%= render :partial => "shared/action_buttons", :locals => {:item => media_element} %>
