<div class="contentInterno">
<%= image_tag("testa.jpg") %>
  <div class="description">
    <h3><%= media_element.sti_type %></h3>
    <h4><%= media_element.title %></h4>
  </div>
</div>
<%= render :partial => "shared/action_buttons", :locals => {:item => media_element, :destination => ButtonDestinations::EXPANDED_MEDIA_ELEMENT} %>
