<style type="text/css" media="screen">
  *{
    margin:0; 
    padding:0; 
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }
</style>

<% if @errors %>
  <p style="padding-left:20px"><%= standard_form_error_messages(@errors) %></p>
  <% @err = [] %>
  <% @errors.each do |key,val| %>
    <% @err << key %>
  <% end %>
  <script type="text/javascript">
  function init() {
  	if(top.uploadMediaElementLoaderError) top.uploadMediaElementLoaderError("<%= @err %>"); //top means parent frame.
  }
  window.onload=init;
  </script>
<%else%>
  
  <script type="text/javascript">
  function init() {
  	if(top.uploadMediaElementLoadeDoneRedirect) top.uploadMediaElementLoadeDoneRedirect(); //top means parent frame.
  }
  window.onload=init;
  </script>
  Upload completed!
<%end%>
