<style type="text/css" media="screen">
  *{
    margin:0; 
    padding:0; 
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }
  .lower {
    text-transform: lowercase;
  }
</style>

<% if @errors %>
  
  <p style="padding: 10px 0 0 20px;"><%= standard_form_error_messages(@errors, 'black') %></p>
  <script type="text/javascript">
    
    function init() {
      if(top.uploadMediaElementLoaderError) top.uploadMediaElementLoaderError(<%= @error_fields.to_json.html_safe %>); //top means parent frame.
    }
    
    window.onload=init;
    
  </script>
  
<% else %>
  
  <script type="text/javascript">
    
    function init() {
      if(top.uploadMediaElementLoadeDoneRedirect) top.uploadMediaElementLoadeDoneRedirect(); //top means parent frame.
    }
    
    window.onload=init;
    
  </script>
  
  <%= t('captions.upload_completed') %>
  
<%end%>
