<style>
  *{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }
  .lower {
    text-transform: lowercase;
  }
</style>

<% if @errors %>
  
  <p style="padding: 20px 0 0 20px;"><%= standard_form_error_messages(@errors, 'black') %></p>
  <script>
    
    window.onload = function() {
      top.uploadMediaElementLoaderError(<%= @error_fields.to_json.html_safe %>);
      if(top.uploadDone) top.uploadDone();
    }
    
  </script>
  
<% else %>
  
  <script>
    
    window.onload = function() {
      top.uploadMediaElementLoaderDoneRedirect();
      if(top.uploadDone) top.uploadDone();
    }
    
  </script>
  
<% end %>
