<div class="headerEmpty"></div>
<div class="mediaSelectEditorButtonContainer">
  <div class="contentTitle">
    <h1>Welcome editor desy!</h1>
    <h2>Want to create a new educational element? Choose the type of the new element.<br><br>Good work!</h2>
    <div class="contentSelectButton">
      <a class="videoButton"></a>
      <a class="photoButton"></a>
      <a class="audioButton"></a>
    </div>
  </div>
</div>