<% if item.kind_of?(MediaElement) %>
  <a class="<%= Buttons::EDIT %>" title="<%= t('buttons.edit') %>"></a>
<% else %>
  <%= link_to '', lesson_editor_path(item.id), :class => Buttons::EDIT, :title => t('buttons.edit') %>
<% end %>
