@import 'variables';
@import 'mixins';

#official_registration_form {
  
  width: 100%;
  
  header {
    
    padding: 10px 0 0 20px;
    
  }
  
  form {
    
    margin-top: 20px;
    
  }
  
  h2 {
    
    @include nunito(25px);
    color:  #7d7d7d;
    text-transform: lowercase;
    text-shadow: #ccc 1px 1px 0px;
    
  }
  
  .profile-element-container {
    
    float: left;
    border: 1px solid #EFEFEF;
    color: #999;
    padding: 35px;
    margin: 0 0 20px 0;
    width: calc(100% - 72px);
    
    .profile-element {
      
      @include nunito(100%);
      float: left;
      width: 236px;
      margin-right: 80px;
      padding-bottom: 30px;
      
      input {
        
        @include nunito(13px);
        background-color: #F5F5F5;
        color: #7D7D7D;
        margin-right: 0px;
        width: 216px;
        height: 29px;
        box-shadow: 0 1px 2px rgba(50, 50, 50, 0.2) inset;
        padding: 4px 10px 4px 10px;
        border-radius: 4px;
        
        &.true {
          
          border: 2px solid red;
          padding: 2px 8px 2px 8px;
          
        }
        
      }
      
    }
    
    &#profile-general-edit {
      
      .profile-element {
        
        &.email {
          
          input {
            
            color: #ccc;
            
          }
          
        }
        
      }
      
    }
    
    &#profile-locations-edit {
      
      padding-bottom: 5px;
      
      .profile-element {
        
        input {
          
          color: #7D7D7D;
          
          &.empty-locations {
            
            color: #ccc;
            
          }
          
        }
        
      }
      
    }
    
    &#profile-subjects-edit {
      
      .profile-subject-cathegory-container {
        
        float: left;
        width: 100%;
        padding: 0;
        border-bottom: 1px solid #EFEFEF;
        margin-bottom: 20px;
        
        &.no-border {
          
          border: 0;
          margin-bottom: -10px; /* 30px of margin-bottom minus 20px of regular margin. this style is not temporary nor unstable, please don't delete it! */
          
        }
        
        .profile-subject-cathegory-label {
          
          color: #7D7D7D;
          font-size: 16px;
          padding: 10px 0px;
          
        }
        
        .profile-element {
          
          @include nunito(16px);
          border-radius: 5px;
          -webkit-border-radius: 5px;
          padding: 8px;
          width: 211px;
          float: left;
          margin-right: 5%;
          margin-bottom: 30px;
          display: block;
          color: #7D7D7D;
          position: relative;
          
          input {
            
            display: none;
            
          }
          
          input:checked + label, label {
            
            background-color: #F5F5F5;
            box-shadow: 0 1px 1px rgba(50,50,50,0.5) inset;
            border-radius: 10px;
            padding: 20px;
            float: left;
            width: auto;
            cursor: pointer;
            
          }
          
          input:checked + label:after {
            
            color: $green;
            cursor: pointer;
            content: '\2714';
            font-size: 28px;
            top: 9px;
            left: 18px;
            position: absolute;
            
          }
          
          span {
            
            float: left;
            padding: 10px;
            
          }
          
        }
        
      }
      
    }
    
    &#profile-school-level-edit {
      
      .profile-element {
        
        padding: 0;
        
      }
      
    }
    
    textarea.text { /* TODO forrm, questo si riferisce solamente ad amicocloud! */
      
      background-color: #F5F5F5;
      color: #7d7d7d;
      font-size: 120%;
      padding: 10px 10px 0px 10px;
      border: none;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      box-shadow: 0 1px 2px rgba(50, 50, 50, 0.2) inset;
      width: 534px;
      height: 192px;
      
    }
    
    .profile-errors {
      
      min-height: 30px;
      margin-left: 0;
      list-style: none;
      
      li {
        
        padding: 8px  20px;
        background-image: $assets-puntoesclamativo_png;
        background-repeat: no-repeat;
        background-position: 0 .5em;
        
      }
      
    }
    
    .sbHolder {
      
      @include nunito(13px);
      color: #7D7D7D;
      width: 236px;
      background-color: #F5F5F5;
      
      .sbToggle {
        
        top: 8px;
        right: 5px;
        
      }
      
      .sbOptions {
        
        @include nunito(13px);
        color: #7D7D7D;
        width: 235px;
        
        a {
          
          color: #999;
          
          &.sbFocus {
            
            color: #fff;
            
          }
          
        }
        
      }
      
      .sbSelector {
        
        @include nunito(13px);
        color: #7D7D7D;
        width: 236px;
        height: 37px;
        
      }
      
    }
    
  }
  
  .form_submit {
    
    padding-left: 20px;
    
    input {
      
      background-color: #555;
      color: #fff;
      text-transform: uppercase;
      padding: 10px 30px;
      font-family: Arial, sans-serif;
      margin: 0;
      cursor: pointer;
      
      &:hover {
        
        background-color: #999;
        
      }
      
      &.current, &:hover.current {
        
        color: #ccc;
        background-color: #999;
        
      }
      
    }
    
  }
  
  label[for=locations_disclaimer] {
    
    cursor: pointer;
    
  }
  
  .policy-verticalScroll {
    
    overflow-x: hidden;
    overflow-y: auto;
    height: 140px;
    
    p {
      
      padding-right: 10px;
      
    }
    
    .jspDrag {
      
      background: #83A5C8;
      
    }
    
  }
  
  .container {
    
    background-color: transparent;
    position: relative;
    padding: 0px;
    width: 972px;
    
    hr {
      
      height: 0px;
      
    }
    
    .footer {
      
      padding: 10px 30px 10px 40px;
      border-top: 7px solid #fdb525;
      float: left;
      background-color: #fff;
      color: #CECDCD;
      font-size: 75%;
      text-transform: lowercase;
      position: relative;
      width: 914px;
      height: 40px;
      
    }
    
    .containerText {
      
      padding: 0px 90px 20px 0px;
      font-family: 'Nunito', sans-serif;
      
    }
    
  }
  
  input[type="submit"] {
    
    @include nunito(20px);
    background-color: #9bc3eb;
    text-transform: none;
    margin: 0 0 20px 0;
    padding: 0px;
    cursor: pointer;
    
    &:hover {
      
      text-decoration: underline;
      
    }
    
  }
  
}

html.prelogin-layout {
  
  body {
    
    @include arial(80%);
    background-color: #9bc3eb;
    background-image: $assets-bg-register_jpg;
    background-repeat: repeat-x ;
    background-position:0px 0px;
    margin: 0;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    
  }
  
  hr {
    
    color: #248FBA;
    background-color: #248FBA;
    height: 1px;
    width: 100%;
    border: 0;
    margin-bottom:10px;
    
  }
  
  a {
    
    color: #fff;
    cursor: pointer;
    
  }
  
 
  .footer {
    
    border-top: 1px solid #F7F9FA;
    padding-top: 15px;
    
    .footer_logo_content {
      
      width: 96%;
      padding: 0 2% 0 2%;
      float: left;
      
    }
    
  }
  
  .container {
    
    margin: 0 auto;
    width: 944px;
    display: inline-block;
    text-align: left;
    padding: 20px;
    
    h1 {
      
      font-size: 280%;
      color: #fff;
      padding-top: 24px;
      padding-bottom: 0px;
      line-height: 100%;
      
    }
    
    h2 {
      
      color: #fff;
      font-size: 130%;
      padding: 30px 0px 0px 90px;
      line-height: 100%;
      
    }
    
    
    
    h3 {
      
      font-size: 110%;
      color: #fff;
      line-height: 100%;
      
    }
    
    .containerText {
      
      p {
        
        padding-bottom: 10px;
        
      }
      
      h2 {
        
        padding: 0px;
        
      }
      
      ul {
        
        padding: 20px;
        
      }
      
      ul li {
        
        padding-bottom: 10px;
        
      }
      
    }
    
  }
  
  &.prelogin-controller.what_is-action {
    
    body {
      
      background-color: #fff;
      background-image: none;
      margin: 0;
      color: #6d6d6e;
      text-align: center;
      width: 100%;
      height: 100%;
      
    }
    
    .container {
      
      position: relative;
      padding: 0;
      width: 972px;
      
      .containerText {
        
        display: inline-block;
        padding: 40px;
        color: #6d6d6e;
        
        h1, h3 {
          
          font-family: 'Nunito', sans-serif;
          
        }
        
        h1 {
          
          color: #3c9927;
          font-size: 22px;
          
        }
        
        h3 {
          
          padding-bottom: 25px;
          color: #fdb525;
          
        }
        
        ul {
          
          list-style: none;
          
          li {
            
            padding-left: 18px;
            background-image: $assets-arrow-yellow_png;
            background-repeat: no-repeat;
            background-position: 0 0;
            
          }
          
        }
        
        .colS {
          
          width: 45%;
          
        }
        
      }
      
      .footer {
        
        padding: 10px 30px 10px 40px;
        border-top: 7px solid #fdb525;
        background-color: #fff;
        color: #cecdcd;
        font-size: 75%;
        text-transform: lowercase;
        position: relative;
        width: 914px;
        height: 40px;
        
      }
      
    }
    
  }
  
}
