@import 'variables';
@import 'mixins';

html.prelogin-layout {
  
  body {
    
    font: 80% Arial, Helvetica, sans-serif;
    background-color: #9bc3eb;
    background-image: $assets-bg-register_jpg;
    background-repeat: repeat-x ;
    background-position:0px 0px;
    margin: 0;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    
  }
  
  hr {
    
    color: #248fba;
    background-color: #248fba;
    height: 1px;
    width: 100%;
    border: 0;
    margin-bottom:10px;
    
  }
  
  a {
    
    color: #fff;
    cursor: pointer;
    
  }
  
 
  .footer {
    
    border-top: 1px solid #f7f9fa;
    padding-top: 15px;
    
    .footer_logo_content {
      
      width: 96%;
      padding: 0 2% 0 2%;
      float: left;
      
    }
    
  }
  
  .container {
    
    margin: 0 auto;
    width: 944px;
    display: inline-block;
    text-align: left;
    padding: 20px;
    
    h1 {
      
      font-size: 280%;
      color: #fff;
      padding-top: 24px;
      padding-bottom: 0px;
      line-height: 100%;
      
    }
    
    h2 {
      
      color: #fff;
      font-size: 130%;
      padding: 30px 0px 0px 90px;
      line-height: 100%;
      
    }
    
    
    
    h3 {
      
      font-size: 110%;
      color: #fff;
      line-height: 100%;
      
    }
    .verticalScroll {
      overflow-x:hidden; 
      overflow-y:auto; 
      height:140px;
      p {
        padding-right:10px
      }
      .jspDrag {
        background:#83a5c8;
      }
    }
    .validationOk {
      padding:0; 
      margin:0; 
      font-size:35px; 
      color:green;
      
    }
    .logoDesyPrelogin {
      
      position: relative;
      width: 190px;
      
      p {
        
        position: absolute;
        top: 40px;
        left: 2px;
        color: #dad7d7;
        font: 9px 'Nunito', sans-serif;
        
      }
      
    }
    
    .containerText {
      
      p {
        
        padding-bottom: 10px;
        
      }
      
      h2 {
        
        padding: 0px;
        
      }
      
      ul {
        
        padding: 20px;
        
      }
      
      ul li {
        
        padding-bottom: 10px;
        
      }
      
    }
    
    .formCodAcquisto {
      
      color: #434244;
      
      input[type="text"] {
        
        background-color: #83a5c8;
        color: white;
        border-top: none;
        
        &.error {
          
          background-color: #d20b0b;
          
        }
        
        &.disabled {
          
          background-color: #accff2;
          
        }
      }
      
      .regular-checkbox + label, label {
        
        cursor: pointer;
        background-color: #83a5c8;
        color: white;
        border-top: none;
      }
      
      .regular-checkbox:checked + label:after {
        
        color: white;
        
      }
      
    }
    
    .insert-content {
      
      padding: 0px;
      margin-top: 20px;
      margin-bottom: 20px;
      .cathegorySubjectContainer {
        float: left;
        width: 100%;
        padding:15px 0;
        border-bottom: 1px solid #83a5c8;
        margin-bottom: 20px;

        .cathegorySubjectName {
          color:#434244;
          font-size:14px;
          padding:10px 0px;
        }
        a.checkAllSubjects {
          background-color:#bad7f3;
          color:#434244;
          padding:5px 40px;
          font-size:11px;
          &:hover {
            color:#7096bd;
          }
        }
      }
      .inputElement {
        
        float: left;
        
        label {
          
          margin-left: 10px;
          
        }
        
        p {
          
          color: #2f2e2e;
          
        }
        
        .sbHolderDeselect {
          
          width: 237px;
          height: 25px;
          margin: 5px 16px 10px 0;
          padding: 10px 0 0 10px;
          background-color: #e9ecee;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          color: #939393;
          box-shadow: 0 1px 2px rgba(50, 50, 50, 0.2) inset;
          
        }
        
      }
      
    }
    
    .contentForm {
      
      padding: 30px 0px 40px 0px;
      width: auto;
      
      .checkbox-content {
        
        width: 270px;
        
        .checkboxElement {
          
          margin-bottom: 0px;
          padding-left: 0px;
          
          table {
            
            width: auto;
            float: none;
            
            td:last-child {
              
              padding-left: 10px;
              
            }
            
          }
          
          .regular-checkbox + label, label {
            
            box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
            padding: 3px 9px;
            border-radius: 3px;
            height: 15px;
            width: 4px;
            
          }
          
          .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
            
            box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
            
          }
          
          .regular-checkbox:checked + label {
            
            background-color: #e9ecee;
            box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
            
          }
          
          .regular-checkbox:checked + label:after {
            
            font-size: 16px;
            position: absolute;
            top: -3px;
            left: 2px;
            color: #939393;
            
          }
          
        }
        
      }
      
    }
    
    .checkboxElement {
      
      color: #fff;
      width: 200px;
      font-size: 13px;
      
      span {
        
        padding: 7px 0px 0px 10px;
        float: left;
        
      }
      
      .big-checkbox:checked + label, label {
        
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(50,50,50,0.5) inset;
        border-radius: 5px;
        padding: 15px;
        border-top: 0px solid #d2d2d2;
        float: left;
        
        &:last-child {
          
          margin-right: 0;
          
        }
        
      }
      
      .big-checkbox:checked + label:after {
        
        color: #939393;
        left: 4px;
        top: -2px;
        font-size: 22px;
        
      }
      
    }
    
    input[type="text"], input[type="password"], input[type="email"] {
      
      font-size: 120%;
      margin-top: 5px;
      width: 227px;
      margin-bottom: 10px;
      margin-right: 12px;
      
      &.school {
        
        width: 485px;
        
      }
      
    }
    
    .sbHolder {
      
      width: 247px;
      height: 29px;
      margin-right: 13px;
      margin-top: 5px;
      margin-bottom: 10px;
      
      .sbSelector {
        
        width: 247px;
        
        &:link {
          
          color: #939393;
          
        }
        
      }
      
      .sbToggle {
        
        @include svg-circle-icon-handler-without-hover($assets-select-icons_png, 20px, 5, 2, 1, 1, 1);
        
        &.sbToggleOpen {
          
          @include svg-circle-icon-handler-without-hover($assets-select-icons_png, 20px, 5, 2, 1, 1, 0);
          
        }
        
      }
      
      .sbOptions {
        
        width: 207px;
        
        li a {
          
          color: #adadad;
          
        }
        
        .sbFocus, li a:hover {
          
          background-color: #248fba;
          color: #fff;
          
        }
        
        .sbFocus li a {
          
          color: #fff;
          
        }
        
      }
      
    }
    
  }
  
  &.prelogin-controller.registration-action, &.users-controller.create-action {
    
    label[for=locations_disclaimer] {
      
      cursor: pointer;
      
    }
    
    .container {
      
      background-color: transparent;
      position: relative;
      padding: 0px;
      width: 972px;
      
      hr {
        
        height: 0px;
        
      }
      
      .footer {
        
        padding: 10px 30px 10px 40px;
        border-top: 7px solid #fdb525;
        float: left;
        background-color: #fff;
        color: #cecdcd;
        font-size: 75%;
        text-transform: lowercase;
        position: relative;
        width: 914px;
        height: 40px;
        
      }
      
      .containerText {
        
        padding: 0px 90px 20px 0px;
        font-family: 'Nunito', sans-serif;
        
      }
      
    }
    
    &.users-controller.create-action {
      
      .field_with_errors {
        
        input, select, .sbSelector, textarea, .regular-checkbox + label  {
          
          border: 2px solid #D20B0B;
          
        }
        
      }
      
    }
    
    input[type="submit"] {
      
      background-color: #9bc3eb;
      font-size: 20px;
      font-family: 'Nunito', sans-serif;
      text-transform: none;
      margin: 0 0 20px 0;
      padding: 0px;
      cursor: pointer;
      
      &:hover {
        
        text-decoration: underline;
        
      }
      
    }
    
  }
  
  &.prelogin-controller.what_is-action {
    
    body {
      
      background-color: #fff;
      background-image: none;
      margin: 0;
      color: #6d6d6e;
      text-align: center;
      width: 100%;
      height: 100%;
      
    }
    
    .container {
      
      position: relative;
      padding: 0;
      width: 972px;
      
      .containerText {
        
        display: inline-block;
        padding: 40px;
        color: #6d6d6e;
        
        h1, h3 {
          
          font-family: 'Nunito', sans-serif;
          
        }
        
        h1 {
          
          color: #3c9927;
          font-size: 22px;
          
        }
        
        h3 {
          
          padding-bottom: 25px;
          color: #fdb525;
          
        }
        
        ul {
          
          list-style: none;
          
          li {
            
            padding-left: 18px;
            background-image: $assets-arrow-yellow_png;
            background-repeat: no-repeat;
            background-position: 0 0;
            
          }
          
        }
        
        .colS {
          
          width: 45%;
          
        }
        
      }
      
      .footer {
        
        padding: 10px 30px 10px 40px;
        border-top: 7px solid #fdb525;
        background-color: #fff;
        color: #cecdcd;
        font-size: 75%;
        text-transform: lowercase;
        position: relative;
        width: 914px;
        height: 40px;
        
      }
      
    }
    
  }
  
}
