<div class="scrollVerde">
  <div class="scroll-pane horizontal-only">
    <div class="scrollContent">
		<%= render :partial => "new_element" %>
     <%= render :partial => "single_element" %> 
    </div>
  </div>
</div>
<div class="addAudioandSave">
  <%= render :partial => "add_audio" %>
	<%= render :partial => "save" %>
  
</div>