<div class="lista">
  <div class="contatore">2</div> 
  <div class="boxMediaElement">
	  <div class="boxContentMediaElement">
      <a><%= image_tag("fotina_editor_element.jpg") %></a>
		  <div class="boxMenuMediaElement">
		    <a>change</a>
		    <a>delete</a>
				<div class="iconButton" style="border:1px solid red"></div>
		  </div>
		</div>
  </div>
</div>