  <div class="scrollVerde">
    <div class="scroll-pane horizontal-only" id="media_elements_list_in_video_editor">
      <div class="scrollContent">
		   <%= render :partial => "new_element" %>
       <%= render :partial => "single_element" %> 
      </div>
    </div>
	</div>
 
