<div class="header">
  <div class="contenitore">
	<h1 style="float:left">EDIT</h1>
	<div style="border:1px solid red; float:left">menu</div>
	<span style="float:left">New element - untitled</span>
	<div style="float:right">exit</div>
	</div>
</div>