<div class="header">
  <div class="contenitore">
	<h1 class="fltlft">EDIT</h1>
	
	 <a class="videoButton">&nbsp;</a>
	 <a class="photoButton">&nbsp;</a>
	 <a class="audioButton">&nbsp;</a>
	
	<div class="testo fltlft">
	  <span>New element - untitled</span>
	</div>
	<div class="exitContent fltrt"><a class="exitButton">&nbsp;</a></div>
	</div>
</div>