<div class="lista">
  <div class="contatore">1</div> 
  <div class="boxNewMediaElement">
    <div class="contentNew">
		  <%= link_to "", {:action => :show_gallery}, :remote => true, :class => "creaNuovoButton" %>
    </div>
  </div>
</div>