<div class="lista">
<div class="contatore">1</div> 
  <div class="boxNewMediaElement">
    <div class="contentNew">
      <a class="creaNuovoButton">&nbsp;</a>
    </div>
  </div>
</div>
<div class="lista">
  <div class="contatore">2</div> 
	<div class="boxMediaElement">
	  <%= image_tag("fotina_editor_element.jpg") %> 
	</div>
</div>