<div class="lista" style="float:left; margin-right:10px;  width:156px; height:104px; border:1px solid blue">
  <div class="contatore">1</div> 
	<div class="description">
	  <div class="lessonType">jskldfjkldjfk</div>
	</div>
</div>
<div class="lista" style="float:left; margin-right:10px; width:156px; height:104px">
  <div class="contatore">1</div> 
	<div class="description">
	  <div class="lessonType">jskldfjkldjfk</div>
	</div>
</div>
<div class="lista" style="float:left; margin-right:10px;  width:156px; height:104px">
  <div class="contatore">1</div> 
	<div class="description">
	  <div class="lessonType">jskldfjkldjfk</div>
	</div>
</div>
<div class="lista" style="float:left; margin-right:10px; width:156px; height:104px">
  <div class="contatore">1</div> 
	<div class="description">
	  <div class="lessonType">jskldfjkldjfk</div>
	</div>
</div>
<div class="lista" style="float:left; margin-right:10px; width:156px; height:104px">
  <div class="contatore">1</div> 
	<div class="description">
	  <div class="lessonType">jskldfjkldjfk</div>
	</div>
</div>
<div class="lista" style="float:left; margin-right:10px; width:156px; height:104px">
  <div class="contatore">1</div> 
	<div class="description">
	  <div class="lessonType">jskldfjkldjfk</div>
	</div>
</div>
<div class="lista" style="float:left;  width:156px; height:104px">
  <div class="contatore">1</div> 
	<div class="description">
	  <div class="lessonType">jskldfjkldjfk</div>
	</div>
</div>
