<div class="lista" style="float:left; margin:right:10px; border:1px solid red; width:156px">
  <div class="contatore">1</div> 
	<div class="description">
	  <div class="lessonType">jskldfjkldjfk</div>
	</div>
</div>

