<div class="scrollVerde">
  <div class="scroll-pane horizontal-only">
    <div class="scrollContent">
		<%= render :partial => "new_element" %>
     <%= render :partial => "element" %> 
    </div>
  </div>
</div>
<div class="addAudioandSave">
  <div class="fltlft"><a class="audioButton"></a><a><p>click to add audio background</p></a></div>
	<div class="fltrt"><a class="saveButton"></a></div>
</div>