<%= render :partial => "content_element" %>
<div class="scrollVerde">
<div class="scroll-pane horizontal-only">
  <div class="scrollContent">
	  <%= render :partial => "timeline" %>
	</div>
</div>
</div>