<div style="position:relative;">
  <% if item.converted.nil? %>
    <%= image_tag item.placeholders_url(:thumb) %>
  <% else %>
    <%= image_tag item.thumb_url %>
    <div class="bulletPointVideo">
      <%= image_tag 'bullet_video.svg', :style => "width:40%" %>
    </div>
  <% end %>
</div>
