<div style="position:relative;">
  <%= image_tag ("testa.jpg") %>
  <div style="position:absolute; width:100%; top:40px; text-align:center">
    <a href="#"><%= image_tag 'bullet_video.svg', :style => "width:50%" %></a>
  </div>
</div>
