<div style="position:relative;">
  <%= image_tag item.thumb_path %>
  <div style="position:absolute; width:100%; top:66px; text-align:center">
    <%= image_tag 'bullet_video.svg', :style => "width:40%" %>
  </div>
</div>
