<div style="position:relative;">
  <%= image_tag item.thumb %>
  <div style="position:absolute; width:100%; top:66px; text-align:center">
    <a><%= image_tag 'bullet_video.svg', :style => "width:40%" %></a>
  </div>
</div>
