<div id="add_new_video_component" class="newElement">
  <div class="contatore" style="opacity:0.3"><%= position %></div>
  <div class="boxNewMediaElement">
    <div class="contentNew _new_component_in_video_editor_hover _new_component_in_video_editor_button">
      <a class="creaNuovoButton"></a>
    </div>
  </div>
</div>
