<div class="lista" style="width:156px"> <!-- FIXME stile provvisorio!!! qui in realtà ci vuole una classe diversa perché non appartiene alla lista! -->
  <div class="contatore" style="opacity:0.3"><%= position %></div>
  <div class="boxNewMediaElement">
    <div class="contentNew">
      <a class="creaNuovoButton"></a>
    </div>
  </div>
</div>
