<div class="newElement">
  <div class="contatore" style="opacity:0.3"><%= position %></div>
  <div class="boxNewMediaElement">
    <div class="contentNew">
      <a class="creaNuovoButton"></a>
    </div>
		<%= render :partial => 'video_editor/choose_new_component' %>
  </div>
	
</div>
