<div class="lista">
  <div class="contatore" style="opacity:0.3"><%= position %></div>
  <div class="boxNewMediaElement">
    <div class="contentNew">
      <a class="creaNuovoButton"></a>
    </div>
  </div>
</div>
