<div class="audioTrackCompact">
  <div class="audioTrackContent">
	  <div class="playButtonContent"><a class="playButton"></a></div> 
		<div class="titleTrack"><p>Peter Gabriel // A different drum</div>
		<div class="fltrt">
		  <div class="infoTrack"><a>info</a></div>
		  <div class="addButtonContent"><a class="creaNuovoButton"></a></div> 
		</div>
  </div>
  <div class="audioTrackExpanded">
    <%= render :partial => 'shared/players/audio' %>
	  <a class="exitButton">&nbsp;</a>
  </div>
</div>