<div class="boxMenuMediaElement _video_editor_component_menu" style="display:none">
  <a class="cutButton _cut"></a>
  <a class="creaNuovoButton _new_component_in_video_editor_button _replace_component"></a>
  <a class="closeButton _remove_component_from_video_editor_button"></a>
</div>
