<div class="boxMenuMediaElement _video_editor_component_menu">
  <a class="videoIcon _cut" style="right: 40px"></a> <!-- FIXME icone temporanee per poter vedere i bottoni -->
  <a class="textIcon _replace" style="right: 80px"></a>
  <a class="videoIcon _remove" style="right: 120px"></a>
</div>
