<div class="scrollVerde">
  <div class="scroll-pane horizontal-only" id="media_elements_list_in_video_editor">
    <div class="scrollContent">
		   <%= render :partial => "single_element" %> 
			 <%= render :partial => "new_element" %>
    </div>
  </div>
</div>