<div class="header">
  <div class="contenitore">
    <h1 class="fltlft upper"><%= t("captions.video_editor_label") %></h1>
    <div class="testo fltlft">
      <span><%= parameters[:initial_video].nil? ? t('captions.new_element_untitled') : parameters[:initial_video].title %></span>
    </div>
    <div class="fltrt"><a class="esciButton _exit_video_editor"></a></div>
  </div>
</div>
