<div id="video_editor_preview_container" class="contentVideo">

<% cont = 1 %>
<% parameters[:components].each do |c| %>
  <div id="video_component_<%= cont %>_preview" style="display:none">
    <%= render :partial => "video_editor/previews/#{c[:type]}", :locals => {:component => c} %>
  </div>
  <% cont += 1 %>
<% end %>

</div>
