<div class="contentInsertText">,masbdm,bsadmb</div>
<br style="clear:float">
<div class="scegliBgColor">
BACKGROUND COLOR: 
<% CONFIG['colors'].each do |key, color| %>
  <div class="background_color_<%= key %>" style="width:50px;height:50px"></div>
<% end %>
</div>
<div class="scegliTxtColor">
TEXT COLOR: 
<% CONFIG['colors'].each do |key, color| %>
  <div class="background_color_<%= key %>" style="width:50px;height:50px"></div>
<% end %>
</div>