<%
  colors = []
  CONFIG['colors'].each do |k, v|
    colors[v['pos'] - 1] = k
  end
%>

<div class="contentInsertText"><h1>Insert Text</h1></div>

<div class="menuTexts">
  <div class="elementoGrigio">
    <div class="scegliBgColor">
    <p>Background color</p>
    <% colors.each do |color| %>
      <div class="background_color_<%= color %>"></div>
    <% end %>
    </div>
  </div>
  <div class="elementoGrigio">
    <div class="scegliTxtColor">
    <p>Text color</p> 
    <% colors.each do |color| %>
      <div class="background_color_<%= color %>"></div>
    <% end %>
    </div>
  </div>
	<div class="bottoniVerdi fltrt"><a>INSERT</a></div>
</div>