<div class="scrollVerde">
  <div class="scroll-pane horizontal-only" id="media_elements_list_in_video_editor">
    <div id="video_editor_timeline" class="scrollGatto" style="width:<%= (186 * parameters[:components].length) + 156 + 7 %>px">
      
      <% cont = 1 %>
      <% parameters[:components].each do |p| %>
        <%= render :partial => "video_editor/components/#{p[:type]}", :locals => {:component => p, :position => cont, :empty => false} %>
        <% cont += 1 %>
      <% end %>
      
      <%= render :partial => 'video_editor/add_component', :locals => {:parameters => @parameters, :position => cont} %>
      
    </div>
  </div>
</div>
