<div class="empty-situation-container">
  <a class="empty-situation">
    <div class="plus"></div>
    <div class="prompts">
      <div class="reason">
        <%= t('documents.empty') %>
      </div>
      <div class="big-prompt">
        <%= t('documents.upload_now') %>
      </div>
    </div>
  </a>
</div>
