<div class="empty _empty_documents">
  <div class="createButton">
    <a class="_empty_documents_hover"></a>
  </div>
  <div style="float:left">
    <%= t('documents.empty') %>
    <h1>
      <%= t('documents.upload_now') %>
    </h1>
  </div>
</div>
