<div class="boxCerca">
  <form id="search_documents" class="search-form" method="get" action="/documents" data-remote="true">
    <table summary="" cellpadding="0" cellspacing="0">
      <tr>
        <td style="width:210px">
          <input type="text" name="word" value="<%= t('documents.search') %>" class="text lower _word_input" style="color:#999">
          <%= hidden_field_tag 'word_placeholder', '', :id => 'search_documents_placeholder' %>
        </td>
        <td><a id="search_documents_submit" class="cerca current" title="<%= t('titles.search') %>">&nbsp;</a></td>
      </tr>
    </table>
  </form>
</div>
