<style type="text/css" media="screen">
  *{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }
  .lower {
    text-transform: lowercase;
  }
</style>

<% if @errors %>
  
  <p style="padding: 20px 0 0 20px;"><%= standard_form_error_messages(@errors, 'black') %></p>
  <script type="text/javascript">
    
    window.onload = function() {
      top.uploadDocumentLoaderError(<%= @error_fields.to_json.html_safe %>);
      if(top.uploadDocumentDone) top.uploadDocumentDone(); //top means parent frame.
    }
    
  </script>
  
<% else %>
  
  <script type="text/javascript">
    
    window.onload = function() {
      top.uploadDocumentLoaderDoneRedirect();
      if(top.uploadDocumentDone) top.uploadDocumentDone(); //top means parent frame.
    }
    
  </script>
  
<% end %>
