<%
  horizontal = image.is_horizontal? 'video_component'
  height = image.resize_height 'video_component'
  width = image.resize_width 'video_component'
  offset = horizontal ? ((width - 156) / 2) : ((height - 88) / 2)
%>

<div class="boxContentMediaElement _video_component_thumb">
  <% if horizontal %>
    <%= image_tag image.url, :style => "right:-#{offset}px; height:88px; width:#{width}px" %>
  <% else %>
    <%= image_tag image.url, :style => "bottom:-#{offset}px; height:#{height}px; width:156px" %>
  <% end %>
  <%= render :partial => 'video_editor/component_menu' %>
</div>
