<div class="boxContentMediaElement">
  <%= image_tag component[:image].thumb %>
  <%= render :partial => 'video_editor/component_menu', :locals => {:component => component, :position => position} %>
</div>