<div class="boxContentMediaElement">
  <%= image_tag component[:video].cover %>
  <%= render :partial => 'video_editor/component_menu', :locals => {:component => component, :position => position} %>
</div>