application_copyright: '©2013 DESY. All rights reserved'
application_name: 'DESY'
application_full_name: 'DESY - Digital Education System'
application_extended_name: 'Digital Education System'
application:
  smtp:
    :address: 'smtp.example.com'
  email: 'noreply@desy.morganspa.com'
  maintainer:
    emails: ['maintainer@morganspa.com']

# Types of the locations related to Desy
# The order is important: it determines the parent->child relation
# The last location is the one associated the the user
location_types: ['Province', 'City', 'County']

# SEEDS
admin:
  name: 'DESY'
  surname: 'Admin User'
  email: 'desy@morganspa.com'
  password: 'desymorgan'
# TAGS
min_tag_length: 1
max_tag_length: 25
min_tags_for_item: 4
min_characters_to_search_tags: 2
how_many_tags_for_block_in_autocomplete: 20
tags_limit_in_search_engine: 20
# AVAILABLE LANGUAGES - THE FIRST IS THE DEFAULT ONE
languages:
- :en
- :it
- :cn
# TIMES
seconds_for_timeout_dialogs: 2500
seconds_for_saving_cache: 60000
# DASHBOARD PAGINATION
lessons_for_page_in_dashboard: 5
lesson_pages_in_dashboard: 3
media_elements_for_page_in_dashboard: 13
media_element_pages_in_dashboard: 3
# Pagination of lessons, in sections (1) Lessons and (2) Search engine
compact_lesson_pagination: 18
# Pagination of compact media elements, in sections (1) Elements and (2) Search engine
compact_media_element_pagination: 18
# Options for pagination of compact media elements, in sections (1) Elements and (2) Search engine
compact_media_element_pagination_options: [18, 27, 36]
# Pagination of expanded media elements, in sections (1) Elements and (2) Search engine
expanded_media_element_pagination: 14
# Options for pagination of expanded media elements, in sections (1) Elements and (2) Search engine
expanded_media_element_pagination_options: [14, 21, 28]
# Number of notifications loaded together (pagination of notifications done with infinite scroll)
notifications_loaded_together: 8
# Maximum number of slides in a lesson
max_number_slides_in_a_lesson: 99
# Pagination of lessons in Virtual Classroom
lessons_for_page_in_virtual_classroom: 10
# Number of lessons in the playlist
lessons_in_playlist: 20
# Number of lessons for page in the multiple lessons loader (pagination made with infinite scroll)
lessons_in_quick_loader: 18
# Pagination for image gallery (pagination made with infinite scroll)
images_for_page_in_gallery: 42
# Pagination for video gallery (pagination made with infinite scroll)
videos_for_page_in_gallery: 18
# Pagination for audio gallery (pagination made with infinite scroll)
audios_for_page_in_gallery: 12
# Pagination for sections in admin
admin_general_pagination: 20
# Application colors with codes, keywords and positions
colors:
  red:
    pos: 3
    code: '#B51726'
  green:
    pos: 6
    code: '#41A62A'
  orange:
    pos: 4
    code: '#F29400'
  light_blue:
    pos: 5
    code: '#2EAADC'
  white:
    pos: 2
    code: '#F2F2F2'
  black:
    pos: 1
    code: '#373737'
# Configurable registration policies (the names correspond to keys in the translation file)
user_registration_policies: ['policy_1', 'policy_2']
# Minimum length for the users' password
minimum_password_length: 8
# Maximum length for the users' password (if nil there is no maximum limitation)
maximum_password_length:
# Maximum size of a media element (in megabytes)
max_media_size: 50
# Maximum size of the media elements folder (in gigabytes)
maximum_media_elements_folder_size: 20
# Cookie key
cookie_key: '_desy_session'
# Session timeout (in hours)
session_timeout: 48
