<div id="video_component_<%= identifier %>_cutter" class="cutter" style="display:none">
  <div class="tempo _duration_selector">
      <p>Time</p>
      <input class="numberTime" maxlength="3">
      <p class="lower">Sec</p>
    </div>
</div>
