<%
  div_id = empty ? '' : "id=\"video_component_#{identifier}_cutter\""
  duration = empty ? 0 : component[:duration]
%>

<div class="contentCutter" style="display:none" <%= div_id.html_safe %>>
  <div class="cutter">
    <div class="tempo _duration_selector">
      <p>Time</p>
      <input value="<%= duration %>" class="numberTime" maxlength="3">
      <p class="lower">Sec</p>
    </div>
    <a class="done _media_player_done_other_component_in_video_editor_preview upper"><%= t('captions.done') %></a>
  </div>
</div>
