<div class="menuController" id="lesson_menu_buttons_<%= lesson.id %>">
  <% cont = 0 %>
  <% lesson.buttons.each do |b| %>
    <%= render :partial => "shared/buttons/#{b}", :locals => {:item => lesson, :destination => destination} %>
    <% cont += 1 %>
  <% end %>
  <% if destination != ButtonDestinations::EXPANDED_LESSON %>
    <% while cont < 6 %>
      <% style = (cont < 5) ? 'margin-right:8px' : '' %>
      <a style="background-image:none;"><%= image_tag 'hidden.png', :style => style %></a>
      <% cont += 1 %>
    <% end %>
  <% end %>
</div>
