<div class="menuController <%= additional_class %>" id="lesson_menu_buttons_<%= lesson.id %>">
  <% cont = 0 %>
  <% lesson.buttons.each do |b| %>
    <%= render :partial => "shared/buttons/#{b}", :locals => {:item => lesson, :destination => destination} %>
    <% cont += 1 %>
  <% end %>
  <% if destination != ButtonDestinations::EXPANDED_LESSON %>
    <% while cont < 6 %>
      <% style = (cont < 5) ? 'margin-right:8px;'.html_safe : '' %>
      <a class="remove" style="background-image:none; width:3.5em; height:1em;"><%= image_tag 'hidden.png', :style => style, :width => 1, :height => 1 %></a>
      <% cont += 1 %>
    <% end %>
  <% end %>
</div>
