<div class="boxViewSingleLesson">
  <div class="contentInterno" style="text-align:center; padding-top:90px; height:20px">
    <a href="" class="createButton">&nbsp;</a>
    <p style="padding-top:40px"><%= t("capital_letter.create_new_lesson") %></p>
  </div>
	<div 	style="height:6.3em;">
  </div>

</div>
