<div class="empty _empty_lessons">
  <div class="createButton">
    <a class="_empty_lessons_hover"></a>
  </div>
  <div style="float:left"><%= t('empty.my_lessons') %>
  <h1><%= t('captions.create_new_lesson_now') %></h1></div>
</div>
