<div class="empty _empty_lessons">
  <div class="createButton">
    <a class="_empty_lessons_hover"></a>
  </div>
  <div style="float:left"><%= t('lessons.empty') %>
  <h1><%= t('lessons.create_new_now') %></h1></div>
</div>
