<div class="empty">
  <div class="createButton">
    <%= link_to '', '/lesson_editor/new' %>
  </div>
  <div style="float:left"><%= t('empty.my_lessons') %>
  <h1><%= t('captions.create_new_lesson_now') %></h1></div>
</div>
