<% cont = 0 %>
<% lessons.each do |l| %>
  <% if cont == 0 %>
  <div>
  <% end %>
    <div id="lesson_expanded_<%= l.id %>" class="boxViewSingleLesson">
      <%= render :partial => "lessons/view_single", :locals => {:lesson => l, :expanded => true} %>
    </div>
  <% if cont == 1 %>
  </div>
  <% end %>
<% cont = (cont == 0) ? 1 : 0 %>
<% end %>
<% if cont == 1 %>
  <div class="boxViewSingleLesson createNew">
	  <%= render :partial => "shared/create_new", :locals => {:item => "lesson"} %>
	</div>
</div>
<% end %>
