<% cont = 0 %>
<% lessons.each do |l| %>
  <% if cont == 0 %>
  <div>
  <% end %>
    <div class="boxViewSingleLesson">
      <%= render :partial => "lessons/view_single", :locals => {:lesson => l, :expanded => true} %>
    </div>
  <% if cont == 1 %>
  </div>
  <% end %>
<% cont = (cont == 0) ? 1 : 0 %>
<% end %>
<% if cont == 1 %>
  <!-- FIXME Aurelia: ho aggiunto la classe 'boxViewSingleLesson' e lo stile inline in questo div qui sotto per poterlo vedere meglio. By Adriano -->
  <div class="boxViewSingleLesson createNewLesson" style="height:246px;background-color:gray">
  </div>
</div>
<% end %>
