	<div class="contentInterno">
		<h1>History</h1>
		<h2>History of China: Shang Dynasty</h2>
		<p>Archaeological findings providing evidence for the existence of the Shang Dynasty, c. 1600–1046 BC, are divided into two sets. The first set, from the earlier Shang period comes from sources at Erligang, Zhengzhou...</p>
	</div>
	<div class="menuController">
	<%= render :partial => "shared/menu_controller" %>
	</div>
