<div class="lessons-content">
  <%= render :partial => "shared/title_sections" %>
    <div class="boxViewSingleLesson" style="width:100%; float:left">
		  <%= render :partial => "lessons/view_single" %>
		</div>
		
</div>