<div class="boxContentIndex">
  <p>Need help using Desy?</br>
	<a href="">Download the user manual</a>
</div>
<div class="boxContentIndex" style="margin-right:0px;">
  <p>Want to talk with Desy?<br>
	<a href="">Contact us</a></p>
</div>