<div class="lessons-content">
  <div class="title-bar">
    <h1>lessons</h1>
    <div>Matter</div>
    <div>Status</div>
  </div>
  <% @lessons.each do |l| %>
    <div class="boxViewSingleLesson" style="width:100%; float:left">
      <%= render :partial => "lessons/view_single", :locals => {:lesson => l, :expanded => false} %>
    </div>
  <% end %>
</div>
