<div class="lessons-content">
  <div class="title-bar">
    <h1>lessons</h1>
    <p>Matter</p>
    <p>Status</p>
		<div><h2>Show</h2>
		  <select name="ricerca" class="styled-select">
        <option value="" selected="selected">All lessons</option>
        <option value=""></option>
      </select>
		</div>
  </div>
	
  <% @lessons.each do |l| %>
    <div class="boxViewSingleLesson">
      <%= render :partial => "lessons/view_single", :locals => {:lesson => l, :expanded => false} %>
    </div>
  <% end %>
</div>
