<div class="lessons-content">
  <div class="title-bar">
    <div style="float:left; width:45%;"><h1>lessons</h1></div>
    <div style="float:left; width:10%; text-align:center"><p>Matter</p></div>
    <div style="float:left; width:10%; text-align:center"><p>Status</p></div>
  </div>
  <% @lessons.each do |l| %>
    <div class="boxViewSingleLesson" style="width:100%; float:left">
      <%= render :partial => "lessons/view_single", :locals => {:lesson => l, :expanded => false} %>
    </div>
  <% end %>
</div>
