<div class="empty">
  <div class="createButton">
    <%= link_to '', select_lessons_for_virtual_classroom_path, :remote => true %>
  </div>
  <div class="emptyContent">
    <h1><%= t('virtual_classroom.empty') %></h1>
    <h2><%= t('virtual_classroom.add_lesson_now') %></h2>
  </div>
</div>
