<div class="empty">
  <div class="createButton">
    <%= link_to '', select_lessons_for_virtual_classroom_path, :remote => true %>
  </div>
  <div class="emptyContent">
    <h1><%= t('captions.your_virtual_classroom_is_empty') %></h1>
    <h2><%= t('captions.add_lesson_now') %></h2>
  </div>
</div>
