<ul class="navlist">
  <li class="lower"><a id="open_quick_load_lessons_popup_in_virtual_classroom" class="<%= emptier ? 'current'.html_safe : '' %>"><%= t('virtual_classroom.select_lessons.label') %></a></li>
  <li class="lower"><a id="empty_virtual_classroom" class="<%= empty ? 'disabled'.html_safe : '' %>"><%= t('virtual_classroom.make_it_empty') %></a></li>
</ul>
