<div id="virtual_classroom_playlist" class="playList">
  <h1><%= t('captions.playlist') %></h1>
  <% if lessons.empty? %>
    <%= render :partial => "virtual_classroom/empty_playlist" %> 
  <% else %>
    <div class="_playlist_content scroll-pane">
      <% lessons.each do |l| %>
        <%= render :partial => "virtual_classroom/view_single_playlist", :locals => {:virtual => l} %>
      <% end %>
    </div>
    <div class="play">
      <a class="lower"><%= t('captions.play') %></a>
    </div>
  <% end %>
</div>  
