<div class="virtualClassroomQuickSelectPopUp" id="dialog-virtual-classroom-quick-select" style="display:none"></div>

<div class="virtualClassroomSentLessonLinkPopUp" id="dialog-virtual-classroom-send-link" style="display:none">
  <% form_tag '/virtual_classroom/lesson_id/send_link' do %>
    <%= text_area_tag 'mails', 'Inserisci le mails qui' %>
    <%= text_area_tag 'message', 'Inserisci il tuo messaggio qui!' %>
    <%= submit_tag 'vai!' %>
  <% end %>
</div>
