<div class="boxViewSingleLesson">
  <div class="contentInterno">
    <%= render :partial => "lessons/thumbnails/small", :locals => {:lesson => lesson} %>
    <div class="description">
      <h3><a>bottone 1</a></h3>
      <h4><a>bottone 2</a></h4>
    </div>
  </div>
  
</div>
