<div class="boxViewSingleLesson">
  <div class="contentInterno">
    <div class="description">
      <h3><%= lesson.title %></h3>
      <h4><%= lesson.subject.description %></h4>
    </div>
  </div>
</div>
