<div class="boxViewSingleLesson">
  <div class="contentInterno">
    <%= render :partial => "lessons/thumbnails/small", :locals => {:lesson => lesson} %>
		
      <a href="">Submit a lesson</a>
			<br>
			<a href="">Remove from Virtual Classroom</a>
    
	</div>
	
</div>
