<div class="boxViewSingleLesson">
  <div class="contentInterno">
    <%= render :partial => "shared/lesson_thumbnails/small/cover", :locals => {:slide => lesson.cover} %>
		<br class="clearfloat">
		<p>
      <a>Submit a lesson</a>
			<br>
			<a>Remove from Virtual Classroom</a>
    </p>
	</div>
	
</div>
