<div class="lista">
  <div class="contatore"><%= cont %></div> 
  <div class="description">
    <div class="title"><h1><%= lesson.title %></h1></div>
    <div class="lessonType"><h2><%= lesson.subject.description %></h2></div>
    <div class="exitButton">&nbsp;</div>
  </div>
</div>
