<div class="boxViewSingleLesson">
  <div class="contentInterno">
    <%= render :partial => "lesson_editor/thumbnails/small/cover", :locals => {:slide => lesson.cover, :subject =>lesson.subject.description} %>
		<br class="clearfloat">
		<p>
      <a href="">Submit a lesson</a>
			<br>
			<a href="">Remove from Virtual Classroom</a>
    </p>
	</div>
	
</div>
