<div id="virtual_classroom_quick_loaded_lesson_<%= lesson.id %>" class="boxViewSingleLesson _virtual_classroom_quick_loaded_lesson" data-available="<%= !lesson.in_virtual_classroom?(@current_user.id) && !lesson.copied_not_modified %>">
  <%= hidden_field_tag "virtual_classroom_quick_loaded_lesson_name_#{lesson.id}", "0" %>
  <div  class="contentInterno" style="height:auto">
    <%= render :partial => 'lessons/thumbnail', :locals => {:lesson => lesson} %>
  </div>
</div>
