<div class="griglia-contenuti">
  <div class="playListContainer">
    <%= render :partial => "virtual_classroom/playlist", :locals => {:lessons => @playlist} %>
  </div>
  <div class="listContainer">
    <div> <!-- TODO div per aurelia -->
      <%= render :partial => 'virtual_classroom/my_virtual_classroom' %>
      <br class="clearfloat">
      <% if @lessons.any? %>
        <%= render :partial => 'shared/pagination', :locals => {:page => @page, :pages_amount => @pages_amount, :pagination_url => remove_param_from_url(request.url, 'delete_item')} %>
      <% end %>
    </div>
  </div>
  <div id="info_container" style="display:none" data-currenturl="<%= request.url %>"></div>
</div>
