<div class="griglia-contenuti">
  <div style="float:left; width:70%;">
  <% @lessons.each do |l| %>
    <%= render :partial => "virtual_classroom/view_single", :locals => {:lesson => l.lesson} %>
  <% end %>
	</div>
	<div style="float:right; width:17.5%; margin-right:1%;">
	  <div class="playList">
		  <h1>Playlist</h1>
			<div class="scroll-pane">
			  <% cont = 1 %>
			  <% @lessons.each do |l| %>
			   <dl class="lista">
			     <%= render :partial => "virtual_classroom/view_single_playlist", :locals => {:lesson => l.lesson, :cont => cont} %>
			   </dl>
			  <% cont += 1 %>
       <% end %>
		 </div>
		 <div  class="play">
		   <a href="">play</a>
		</div>
	  </div>	
	</div>
</div>
