<%
  url_type ||= nil
%>

<% if audio -%>
  <% ogg = audio.ogg_url url_type -%>
  <% m4a = audio.m4a_url url_type -%>
  <audio controls="controls" autoplay="autoplay">
    <source src="<%= m4a %>" type="audio/m4a"/>
    <source src="<%= ogg %>" type="audio/ogg"/>
    <p><%= audio.title %></p>
    <p><%= audio.description %></p>
  </audio>
<% else %>
  <%# TODO decidere con Walter che fare %>
<% end -%>