<div class="menuController"><a class="<%= Buttons::REPORT %>" style="padding-left:34px; width:150px; padding-top:13px; border:1px solid red; height:2.5em"> <%= t('capital_letter.report_abuse') %></a></div>
<%= render :partial => 'reports/form', :locals => {:lesson => true} %>