<div class="menuController" style="padding-top:6px; width:25px"><a class="<%= Buttons::REPORT %>"></a></div>
<span style="padding-top:10px; float:left"><%= t('capital_letter.report_abuse') %></span>
<%= render :partial => 'reports/form', :locals => {:lesson => true} %>