<div class="buttons pull-right">
  <% if !slide.cover? %>
    <a class ="deleteButtonOrange _delete_slide"></a>
  <% end %>
  <a class="addButtonOrange _add_new_slide_options"></a>
  <%= link_to "", edit_lesson_path(@lesson), :class => "infoButtonOrange"%>
  <a href="#" data-param="form-<%= slide.id %>" class="_save_slide saveButtonOrange"></a>
</div>
