<% content_for :nav do %>
  <nav id="heading">
    <%= render :partial => "index_nav", :locals => {:slides => @slides} %>
  </nav>
<% end %>

<ul id="slides">
  <%= render :partial => "index_slides", :locals => {:slides => @slides} %>
</ul>

<%= render :partial => 'lesson_editor/new_slide' %>

<div id="info_container" style="display:none" data-lesson-id="<%= @lesson_id %>" data-current-media-element-position=""></div>
