<div class="mediaSelectEditorButtonContainer">
  <div class="contentTitle">
    <h1><%= t('lesson_editor.not_available.title') %></h1>
    <h2><%= t('lesson_editor.not_available.description') %></h2>
  </div>
</div>
