<div class="header">
  <div class="navcontainer">
    <ul class="navlist">
      <li><a href="#">lessons</a></li>
      <li><a href="#">elements</a></li>
      <li><a href="#">classroom</a></li>
      <li><a href="#">profile</a></li>
    </ul>
  </div>
</div>