<h3>SETTINGS</h3>
<ul class="nav nav-tabs">
  <li class="active"><a href="/admin/settings" >General</a></li>
  <li><a href="/admin/settings/subjects">Subjects</a></li>
  <li><a href="/admin/settings/school_levels">School Levels</a></li>
  <li><a href="/admin/settings/locations">Locations</a></li>
  <li><a href="/admin/settings/tags">Tags</a></li>
</ul>