<div class="row-fluid">
  <div class="span12">
    <%= render :partial => 'menu', :locals => {:current => 'tags'} %>
    
    <h4>MANAGE TAGS</h4>
    
    <% @tags.each do |tag| %>
      <span id="tag_in_admin_<%= tag.id %>" class="label tags">
        <%= link_to tag.word, "/admin/settings/tags/#{tag.id}/select", :remote => true %>
        <%= link_to '', "/admin/settings/tags/#{tag.id}/delete", :method => :delete, :confirm => 'sicuro?', :class=>"icon-remove icon-white", :remote => true %>
      </span>
    <% end %>
  </div>
</div>

<div id="items_associated_to_tag">
</div>
