<div class="img_expanded">
  
  <%= image_tag("foto_finta.jpg")%>
  <div class="bg_text"><!--%= slide.title if slide.title %-->
  <div class="lessonTitle">Titolo</div>
	
  <!--%= slide.text.html_safe if slide.text %-->
  <!--%= slide.media_element_at(1).caption if slide.media_element_at(1)%-->
  </div>
	<div class="lessonSubject">Scienze   <span>Author: <strong>DESY Admin User</strong></span>
  </div>
</div>