<div class="bigViewLesson">
  <%= image_tag("foto_finta.jpg")%>
  <div class="bg_text">
    <div class="lessonTitle">Titolo</div>
	</div>
	<div class="lessonSubject">Scienze   <span>Author: <strong>DESY Admin User</strong></span></div>
</div>
<%= render :partial => "playlist_menu", :locals => {:playlist => @playlist}%>