<div id="export_lesson" style="display:none">
  <p>
    <%= t('lesson_viewer.export_lesson.caption') %>
  </p>
  <%= link_to t('lesson_viewer.export_lesson.button'), lesson_archive_path(lesson.id), :class => 'export_button upper' %>
</div>

<a id="open_export_lesson" title="<%= t('titles.export_lesson') %>"></a>
