<div class="bigViewLessonTextImage">
  <h2>Titolo</h2>
  <%= image_tag("finta3.jpg", :style=>"float:left") %>
  <div class="image1-content">
    skdjhfkjdfhkjdshkjdshkjdshfkjds hfkjdshfkjdshfjkdshfjkdshfjkdshfkj sdlkfjdlskjlksdfjklfsdklòjsdf
  </div>
</div>