<ul id="cover">
  <% lesson.slides.order(:position).each do |slide| %>
    <li class="cover"><%= render :partial => "lesson_viewer/slides/#{slide.kind}", :locals => {:slide => slide} %></li>
  <% end %>
</ul>
