<ul id="cover">
  <% lesson.slides.where(:kind=>"image4").order(:position).each do |slide| %>
	<% slide.text = "" if slide.text.blank? %>
    <li class="cover"><%= render :partial => "lesson_viewer/slides/#{slide.kind}", :locals => {:slide => slide} %></li>
  <% end %>
</ul>
