<% lessons_tot = vc_lessons.length %>
<% vc_lessons.each_with_index do |vc_lesson, index| %>
  <span class="_lesson_title_in_playlist"><%= index + 1 %> / <%= lessons_tot %> - <%= vc_lesson.lesson.subject.description %> / <%= vc_lesson.lesson.title %></span>
<% end %>
