<div class="playlistMenu">
  <div class="scrollBlu">
    <div id="playlist_menu" class="scroll-pane horizontal-only">
      <div class="scrollContent" style="width:<%= vc_lessons.length * 302 - 55 %>px">
        <ul>
          <% vc_lessons.each_with_index do |vc_lesson, index| %>
            <li data-lesson-id="<%= vc_lesson.lesson_id %>" <%= (index == vc_lessons.length - 1) ? "style=\"margin-right:0\"".html_safe : '' %>>
              <%= render :partial => "lessons/thumbnail", :locals => {:lesson => vc_lesson.lesson} %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
