<div class="playlistMenu">
  <div class="scrollVerde">
    <div class="scroll-pane horizontal-only" id="playlist_menu">
      <div class="scrollContent">
        <ul>
          <% @playlist.each do |classroom| %>
            <li data-param="<%= classroom.position %>">
              <%= render :partial => "lessons/thumbnail", :locals => {:lesson => classroom.lesson} %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
