<div class="playlistMenu">
  <div class="scrollBlu">
    <div class="scroll-pane horizontal-only" id="playlist_menu">
      <div class="scrollContent">
        <ul>
          <% vc_lessons.each do |vc_lesson| %>
            <li data-lesson-id="<%= vc_lesson.lesson_id %>">
              <%= render :partial => "lessons/thumbnail", :locals => {:lesson => vc_lesson.lesson} %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
