<div class="playlistMenu">
<ul>
  <% @playlist.each do |classroom| %>
    <li data-param="<%= classroom.position %>">
      <%= render :partial => "shared/lesson_thumbnails/small/cover", :locals => { :slide => classroom.lesson.slides.first } %> 
    </li>
  <% end %>
</ul>
</div>