<% playlist.each_with_index do |lesson, index| %>
  <span class="_lesson_title_in_playlist"><%= index+1 %>/<%= playlist.count %> - <%= lesson.lesson.subject.description %> / <%= lesson.lesson.title %></span>
<%end%>