<div id="social_networks" style="display:none">
  <a class="facebook" data-image="<%= lesson.cover.media_elements_slides.first.media_element.url %>" data-description="<%= lesson.description %>" data-title="<%= lesson.title %>" data-url="<%= lesson_viewer_url(lesson.id) %>">fb</a>
</div>

<a id="open_social_networks"></a>
