<%
  cover_img = lesson.cover.media_elements_slides.first
  data = {
    :url => lesson_viewer_url(lesson.id),
    :description => lesson.description,
    :image => cover_img.nil? ? nil : full_url(cover_img.media_element.thumb_url)
  }
%>

<div id="social_networks" style="display:none">
  <%= link_to 'fb', '', :class => 'facebook', :data => data %>
</div>

<a id="open_social_networks"></a>
