<%= render :partial => "lesson_slides", :locals => {:lesson => @playlist} %>
<%= render :partial => "playlist_menu", :locals => {:lesson => @playlist} %>
<a href="#" class="_playlist">Show Playlist</a>
