<%
  ogg = ''
  mp3 = ''
  duration = 0
  if audio_track
    ogg = audio_track.ogg_url
    mp3 = audio_track.mp3_url
    duration = audio_track.min_duration
  end
%>

<div style="display:none" class="_audio_track_preview" data-duration="<%= duration %>">
  <audio>
    <source src="<%= mp3 %>" type="audio/mp4">
    <source src="<%= ogg %>" type="audio/ogg">
    <%= t('captions.dont_support_audio') %>
  </audio>
</div>
