<% if empty %>
  
  <div class="boxContentMediaElementImage _video_component_preview" style="display:none"></div>
  
<% else %>
  
  <div id="video_component_<%= identifier %>_preview" class="boxContentMediaElementImage _video_component_preview" style="display:none">
    <%= render :partial => 'video_editor/previews/image_thumb', :locals => {:image => component[:image]} %>
  </div>
  
<% end %>
