<div id="video_component_<%= identifier %>_preview" class="boxContentMediaElementText background_color_<%= component[:background_color] %>" style="display:none">
  <p class="color_<%= component[:text_color] %>"><%= component[:content] %></p>
</div>
