<div id="video_component_<%= identifier %>_preview" style="display:none">

video <%= component.inspect %>

<div class="cutter">
  <%= image_tag("arrow_timeline.png", :class => "callout") %>
  <div id="slider-range">
  </div>
</div>

<script>
$(function() {
  $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: 500,
    values: [ 75, 300 ],
    slide: function( event, ui ) {
      $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
    }
   });
   $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
     " - $" + $( "#slider-range" ).slider( "values", 1 ) );
   });
</script>

</div>
