<div class="documentInGallery">
  <div class="icon">
    <%= image_tag document.icon_path, :title => document.icon_title %>
  </div>
  <div class="title">
    <%= document.title %>
  </div>
  <div class="extension">
    <%= document.size_and_extension %>
  </div>
  <a class="add_remove" data-document-id="<%= document.id %>"></a>
</div>
