<div class="dialog">
  <h1><%= t('fullpage_notifications.confirmation.email_sent.title') %></h1>
  <p><%= t('fullpage_notifications.confirmation.email_sent.description') %></p>
  <p style="padding-top:30px">
    <%= link_to image_tag('logo_grigio.png'), home_path, :title => t('fullpage_notifications.back') %>
  </p>
</div>
