<div id="audio_gallery" class="audio_gallery audio-kind">
  <div class="gallery-footer">
    <div class="pull-right">
      <a class="_close_audio_gallery exitGallery"  title="<%= t('general_titles.close_gallery_title') %>"></a>
    </div>
  </div>
  <div class="gallery-header">
    <h3 class="pull-left"><%= t('captions.select_audio') %></h3>
    <div class="audioIcon">&nbsp;</div>
  </div>
  
  <%= render :partial => 'galleries/contents/audio', :locals => {:audios => audios} %>
</div>
