<div id="document_gallery" class="document_gallery document-kind">
  
  <% if documents.empty? %>
    
    <div class="emptyGalleryDocumentEditor">
      <p>Non HAI DOCUMENTI</p>
    </div>
    
  <% else %>
    
    <div class="attachedExternal">
      <div class="attachedInternal">
        <!-- qui lista di documenti allegati e posti vuoti -->
      </div>
    </div>
    
    <div class="documentsExternal">
      <!-- qui scrollpane etc... ricorda di mettere anche le popups -->
    </div>
    
    <div class="documentsFooter">
      <!-- qui vanno fumetto, filtro, e due bottoni cancel e attach -->
    </div>
    
  <% end %>
  
</div>
