<div id="document_gallery" class="document_gallery document-kind">
  
  <% if documents.empty? %>
    
    <div class="emptyGalleryDocumentEditor">
      <p>Non HAI DOCUMENTI</p>
    </div>
    
  <% else %>
    
    <div class="attachedExternal">
      <div class="attachedInternal">
        <div id="document_attached_1" class="document_attached" style="margin-bottom:2px">
          <div class="document_number">1</div>
          <div class="document_placeholder">Add a document from the list below</div>
        </div>
        <div id="document_attached_2" class="document_attached" style="margin-bottom:2px">
          <div class="document_number">2</div>
          <div class="document_placeholder">Add a document from the list below</div>
        </div>
        <div id="document_attached_3" class="document_attached">
          <div class="document_number">3</div>
          <div class="document_placeholder">Add a document from the list below</div>
        </div>
      </div>
    </div>
    
    <div class="documentsExternal">
      <!-- qui scrollpane etc... ricorda di mettere anche le popups -->
    </div>
    
    <div class="documentsFooter">
      <!-- qui vanno fumetto, filtro, e due bottoni cancel e attach -->
    </div>
    
  <% end %>
  
</div>
