<div id="image_gallery" class="image_gallery image-kind">
  <div class="gallery-header">
    <h3 class="pull-left"><%= t('captions.select_image') %></h3>
    <div class="photoIcon">&nbsp;</div>
  </div>
  <%= render :partial => 'galleries/contents/image', :locals => {:images => images} %>
  <div class="gallery-footer">
    <div class="pull-right">
      <a class="_close_image_gallery exitGallery"></a>
    </div>
  </div>
</div>
