<div class="gallery-header">
  <h3 class="pull-left">SELECT ELEMENT TO ADD!</h3>
  <div class="_switch_video videoIcon">&nbsp;</div>
  <div class="_switch_image photoIcon">&nbsp;</div>
  <div class="_switch_text textIcon">&nbsp;</div>
</div>

<div class="_videos video_gallery video-kind">
  <%= render :partial => 'galleries/contents/video', :locals => {:videos => videos} %>
</div>

<div class="_images image_gallery image-kind" style="display:none">
  <%= render :partial => 'galleries/contents/image', :locals => {:images => images} %>
</div>

<div class="_texts" style="display:none">
  CHOOSE YOUR TEXT HERE!!!
</div>

<div class="gallery-footer">
  <div class="pull-right"><a href="#" class="_close_mixed_gallery_in_video_editor exitButtonWhite"></a></div>
</div>
