var container = $('#lesson_editor_document_gallery_container');
container.find('.for-scroll-pain .jspPane').html('');
<% @documents.each_with_index do |document, index| %>
  <% margin = (index == 0) ? "style=\"margin-top:0\"".html_safe : '' %>
  var html_to_append = '<div id="gallery_document_<%= document.id %>" class="documentInGalleryExternal" <%= margin %>>';
  html_to_append += '<%= j(render(:partial => "galleries/thumbs/document", :locals => {:document => document, :word => @word})) %></div>';
  container.find('.for-scroll-pain .jspPane').append(html_to_append);
<% end %>
container.show();
container.data('page', 1);
container.data('tot-pages', <%= @tot_pages %>);
updateEffectsInsideDocumentGallery();
