<%= render :partial => 'image_editor/header' %>
<div id="image_gallery_for_image_editor">
  <div class="mediaEditorElementContainer">
    <%= render :partial => 'galleries/image', :locals => {:images => @images} %>
  </div>
</div>