var temporary_invisible_div = '<div class="_temporary" style="display:none">';

<% @videos.each do |video| %>
  $('#video_editor_mixed_gallery_container #video_gallery_content .jspPane').append('<%= j(render(:partial => "galleries/thumbs/video", :locals => {:video => video})) %>');
  var mini_video = '<%= j(render(:partial => "video_editor/components/thumbs/video", :locals => {:video => video})) %>';
  $('#dialog-video-gallery-<%= video.id %>').append(temporary_invisible_div + mini_video + '</div>');
<% end %>
$('#video_editor_mixed_gallery_container').data('video-page', <%= @page %>);
$('._select_video_from_gallery').addClass('_add_video_component_to_video_editor');
