.admin{
  body {
   padding-top: 60px;
   padding-bottom: 40px;
  }
  .sidebar-nav {
   padding: 9px 0;
  }
 
  a.action:hover{
   opacity: 0.5;
  }

  a.action.disabled{
    opacity: 0.2;
  }
 
  .table-hover tbody tr{
   cursor:pointer;
  }

  .collapsed{
    display:none;
  }

  .lesson-thumbnail{
    width:246px;
    font-size: 12px;
  }

  .element-thumbnail{
    width:200px;
    font-size: 12px;
    .bulletPointVideo{
      position:absolute;
      top: 60px;
      left: 60px;
      width: 200px;
    }
  }
  
  .new_elements_well .row-fluid div:nth-child(3n+1) { 
    clear: left;
    margin-left:0;
  }
  
  .element-update-form{
    img{
      margin: 20px auto;
    }
    text-align:center; 
    margin-bottom: 20px;
  }

  ul.nav li.dropdown:hover > ul.dropdown-menu{
      display: block;
      margin-top: -5px;
  }

  a.menu:after, .dropdown-toggle:after {
      content: none;
  }
  
  ul.list{
    list-style:none;
    margin:0;
    padding:0;
  }

  ul.list li, ol.list li{
    border-bottom: 1px solid #ccc;
    padding: 3px;
  }
  
  form{
    label{
      width: auto;
    }
    .control-group{
      float:left;
      width: auto;
      margin-right: 20px;
    }
  }
  
  #loading {
    display: none;
    z-index: 100000;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%; /* funziona solo se prima lo hai assegnato al parent */
    background: transparent;
    opacity:0.8;  
    text-align: center;
  }
  .containerLoading {
    position: absolute;
    z-index: 999999;
    background-color: #fff;
    border-radius: 20px;
  }
}