.content {
	padding: 20px 38px 43px 21px;
	color:#939393;
}
.griglia-contenuti {
  float:left; 
	width:99%; 
	padding-left:0.5%; 
	padding-right:0.5%;
}
@mixin title-bar {
  padding:0 0 0 1%;
	margin-bottom:12px;
	float:left;
	width:99%;
	color:#fff;
  h1 {
	  color:#fff;
		padding:0px;
		font: 200% 'Nunito', sans-serif;
		
	}
	h2 {
	  font-size:100%;
	}
	h3 {
	  font-size:75%;
	}
}
/*CLASSE VISTA LESSONS*/
.lessons-content {
  float:left;
	width:100%; 
	.title-bar {
    @include title-bar;
	  background-color:#f29400;
		text-shadow: #d68300 0px 2px 0px;
	}
	.boxViewSingleLesson {
	  background-color:#fbfafb;
	  margin-bottom:1%;
	  -moz-box-shadow: 1px 5px 5px #e8e8e8;
    -webkit-box-shadow: 1px 5px 5px #e8e8e8;
    box-shadow: 1px 5px 5px #e8e8e8;
	  float:left;
	  width:100%;
	  color:#c0c0c0;
		
		.contentInterno {
	    padding:1%;
			
	  }
		h1 {
	    font-size: 95%;
		  color:#5d5c5c;
		  padding:0px;
	  }
		.menuController {
	    background-color:#fbfafb; 
      padding:0px; 
      border-top:none;
			text-align:right;
		  float:right;
	  }
  }
}
/*FINE CLASSE VISTA LESSONS*/
.boxContentIndex {
  p {font:  180% 'Nunito', sans-serif;}
  padding:2%;
  background-color:#f7f7f7; 
  width:45%;
	float:left;
	a {
	  color:#2faadc
	}
}
.boxViewSingleLesson {
  background-color:#fbfafb;
	margin-bottom:1%;
	-moz-box-shadow: 1px 5px 5px #e8e8e8;
  -webkit-box-shadow: 1px 5px 5px #e8e8e8;
  box-shadow: 1px 5px 5px #e8e8e8;
	float:left;
	width:49%;
	height:50%;
	&:last-child {
		margin-left: 0px;
		float:right;
	}
	h1 {
	  font-size: 87.5%;
		color:#f29400;
		padding:0px;
	}
	h2 {
	  font-size: 140%;
	}
	.contentInterno {
	  padding:4%;
		height:80px;
	}
	.menuController {
	  background-color:#fff; 
    padding:10px; 
    border-top:1px solid #f2f1f2;
		text-align:right;
		color:#cbcbcb;
		font-size:75%;
	}
}