@mixin lessons-color {
  background-color:#f29400;
}
.lessons {
  @include lessons-color;
}
@mixin elements-color {
  background-color:#41a62a;
}
.elements {
  @include elements-color;
}
@mixin classroom-color {
  background-color:#2eaadc;
}
.classroom {
  @include classroom-color;
}
@mixin profile-color {
  background-color:#5d5c5c;
}
.profile {
  @include profile-color;
}
.content {
	padding: 30px 30px;
	border:1px solid red;
	ul, ol {
	  padding: 0 15px 15px 40px; 
	}
}