.ui-button {
  display: inline-block;
  position: relative;
  padding: 0;
  margin-right: .1em;
  cursor: pointer;
  text-align: center;
  zoom: 1;
  overflow: visible;
  border: none;
  background-color: #f29400;
  color: #fff;
  font: 100% 'Nunito', sans-serif;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  z-index: 999;
}

.ui-dialog-titlebar { padding: .4em 1em; position: relative; display:none }
.ui-dialog .ui-dialog-content {
  &.timedPopUp, &.confirmPopUp { 
    width: auto; 
    overflow: hidden;
    box-shadow: 1px 1px 1px #b4b4b4;
    -webkit-box-shadow: 1px 1px 1px #b4b4b4;
    font-family:'Nunito', sans-serif;
    background-color: rgba(248,248,248,0.9);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 101;
    text-align: left;
  }
}
.virtual_classroom-layout {
  .virtualClassroomSentLessonLinkPopUp {
    overflow: hidden;
    box-shadow: 0px 5px 15px #454343;
    -webkit-box-shadow: 0px 5px 15px #454343;
    background-color:#2eaadc;
    font-family:'Nunito', sans-serif;
    
    h1 {
      color:#fff;
      padding:0.5em;
    }
    p {
      padding-left:1em;
      padding-bottom:1em;
    }
    form {
      padding:1em;
      float:left
    }  
    input, textarea {
      background-color:#454343;
      outline:1px solid white;
      padding:10px;
      width:290px;
      
      color: white;
      &.campoEmail {
        height: 15px;
        margin-bottom:10px;
      }
      
    }
    textarea {
      border:none;
      &.campoMessaggio {
        height:108px;
        font-family: Arial, sans-serif;
        font-size: 11px
      }
    }
    .colonnaCoverLesson {
      float:left;
      margin-left:31px;
      padding-top:1em;
    }
  }
  .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    top:26em;
    left:2em;
  }
}
.timedPopUp img,
.confirmPopUp img { 
  float:left;
  margin-right:5%;
}

.timedPopUp h1 {
  font-size: 190% ;
  color:#5d5c5c;
  margin-top: 38px;
  line-height: 1em;
  
}
.confirmPopUp h1 {
  font-size: 190% ;
  color:#5d5c5c;
  margin-top: 10px;
  line-height: 1em;
  
}
.confirmPopUp p {
  line-height: 1em;
  color:#5D5C5C;
}
.timedPopUp a,
.confirmPopUp a {
  color:#72b863;
  text-transform:uppercase;
}
.mediaElementInfoPopUp.ui-dialog-content { 
  padding: 0;
  background-color:#373737;
  color:#fff;
  -webkit-box-shadow: 1px 5px 5px #c7c5c5;
  box-shadow: 1px 5px 5px #c7c5c5;
}

.imageInGalleryPopUp.ui-dialog-content{
  background-color:#48484a;
  padding: 10px;
  img{
    max-height: 420px;
    max-width: 420px;
    background-color:rgba(255,255,255,1);
  }
  .caption{
    color: #8c8a8c;
    text-align:left;
    padding: 10px;
    display:block;
    float:left;
    width:198px;
  }
  .elementoTime {
    width:50%;
    
  }
  .aggiungiImgButton{
    margin:-5px 0 0;
    padding:0;
  }
}


.videoInGalleryPopUp.ui-dialog-content {
  background-color:#48484a;
  padding: 10px;
  overflow: hidden;
  .caption {
    color: #8c8a8c;
    text-align:left;
    padding:10px;
    float:left;
    
    p {
      padding-top:7px;
    }
  }
  .aggiungiImgButton {
    padding: 0;
  }
  video {
    width: 427px;
    height: 240px;
  }
}

.imageInGalleryPopUp.ui-dialog-content, .videoInGalleryPopUp.ui-dialog-content {
  a.addButtonContent {
    font-size:1.7em;
    margin-top: 10px;
  }
  .ui-slider-handle {
    margin-left:0;
  }
  .videoSlider {width:64%;}
}
.dialog_opaco {
  opacity: 0.9;
  background-color: #000;
  z-index: 11;
}

#dialog-virtual-classroom-send-link .buttonRow {
  padding:1em; 
  margin-top:1em;
  a {
    text-transform:lowercase;
    color:white;
    margin-right:0.5em;
    &.buttonForm {
      background-color:#42b9e9;
     &:hover {
      background-color: #59c9f6;
     }; 
    }
  }
}
.originalSize {
  font-size:10px;
  color:#fff;
}

.restoreCacheMediaElementEditorPopUp {
  z-index: 999;
}
.schiacciato {
  padding: 0em 2em 0em 2em;
}
