@import 'variables';
@import 'mixins';

.globalLoader#load-media-element, .globalLoader#load-document {
  
  width: 680px;
  height: 360px;
  padding: 40px;
  
  form {
    
    width: 680px;
    height: 360px;
    padding: 0;
    
    .errors_layer {
      
      &.description {
        
        width: 303px;
        height: 141px;
        top: 163px;
        left: 3px;
        
      }
      
      &.media {
        
        height: 19px;
        width: 194px;
        top: 30px;
        left: 88px;
        
      }
      
      &.tags {
        
        width: 303px;
        height: 196px;
        top: 108px;
        left: 348px;
        
      }
      
      &.title {
        
        width: 303px;
        top: 108px;
        left: 3px;
        
      }
      
    }
    
    .loading-square {
      
      background-color: #338A20;
      
    }
    
    .loading-square-1 {
      
      height: 10px;
      width: 380px;
      top: 390px;
      left: -40px;
      
    }
    
    .loading-square-2 {
      
      height: 440px;
      width: 10px;
      top: -40px;
      left: -40px;
      
    }
    
    .loading-square-3 {
      
      height: 10px;
      width: 760px;
      top: -40px;
      left: -40px;
      
    }
    
    .loading-square-4 {
      
      height: 440px;
      width: 10px;
      top: -40px;
      left: 710px;
      
    }
    
    .loading-square-5 {
      
      height: 10px;
      width: 384px;
      top: 390px;
      left: 336px;
      
    }
    
    .loading-square-bis {
      
      background-color: #1F0E00;
      
    }
    
    .loading-square-bis-1 {
      
      height: 10px;
      width: 760px;
      top: 390px;
      left: -40px;
      
    }
    
    .loading-square-bis-2 {
      
      height: 440px;
      width: 10px;
      top: -40px;
      left: -40px;
      
    }
    
    .loading-square-bis-3 {
      
      height: 10px;
      width: 760px;
      top: -40px;
      left: -40px;
      
    }
    
    .loading-square-bis-4 {
      
      height: 440px;
      width: 10px;
      top: -40px;
      left: 710px;
      
    }
    
    .part1 {
      
      height: 85px;
      margin-bottom: 20px;
      
      .attachment {
        
        width: 340px;
        height: 85px;
        
        label {
          
          @include svg-circle-icon-handler($assets-icone-piene_svg, 65px, 6, 1, 1, 3, 0, 0.5, 3, 0);
          
        }
        
        .media {
          
          margin-left: 15px;
          margin-top: 27.5px;
          width: 200px;
          height: 25px;
          
          &.form_error {
            
            height: 19px;
            width: 194px;
            
          }
          
        }
        
      }
      
      .title_and_subtitle {
        
        width: 335px;
        height: 85px;
        padding-right: 5px;
        
        h1 {
          
          @include nunito(24px);
          margin-bottom: 10px;
          
        }
        
        p {
          
          @include arial-with-line-height(13px, 20px);
          padding: 0;
          
        }
        
      }
      
    }
    
    .part2 {
      
      height: 202px;
      margin-bottom: 20px;
      
      .title_and_description {
        
        width: 340px;
        
        .title {
          
          width: 303px;
          margin: 0 0 10px 0;
          
        }
        
        .description {
          
          width: 303px;
          height: 115px;
          
        }
        
      }
      
      .tags_loader {
        
        width: 340px;
        
        ._tags_container {
          
          width: 323px;
          height: 190px;
          
          &.form_error {
            
            height: 187px;
            
          }
          
          .tags {
            
            width: 303px;
            
          }
          
          ._placeholder {
            
            width: 303px;
            
          }
          
        }
        
      }
      
    }
    
    .part3 {
      
      height: 33px;
      
      .close, .submit {
        
        @include nunito(18px);
        width: 120px;
        padding: 4px 0 0 0;
        height: 29px;
        
      }
      
      .close {
        
        margin-right: 20px;
        
      }
      
    }
    
  }
  
  .full_folder {
    
    display: none;
    width: 660px;
    height: 340px;
    padding: 10px;
    
   .msge {
      
      @include nunito(17px);
      margin-top: 80px;
      margin-bottom: 50px;
      
    }
    
    a.back_to_gallery {
      
      @include nunito(17px);
      margin-left: 250px;
      width: 160px;
      color: white;
      padding: 6px 0 0 0;
      height: 28px;
      
    }
    
  }
  
  &.document {
    
    form {
      
      .errors_layer {
        
        &.description, &.title {
          
          width: 648px;
          
        }
        
      }
      
      .loading-square {
        
        background-color: #908F8F;
        
      }
      
      .part1 {
        
        .attachment {
          
          label {
            
            @include svg-circle-icon-handler($assets-bottone-add-document_svg, 65px, 1, 1, 1, 0, 0, 0.5, 0, 0);
            
          }
          
        }
        
      }
      
      .part2 {
        
        .title_and_description {
          
          width: 680px;
          
          .title {
            
            width: 648px;
            
          }
          
          .description {
            
            width: 648px;
            
          }
          
        }
        
      }
      
      .part3 {
        
        .close, .submit {
          
          color: #333333;
          background-color: white;
          
          &:hover {
            
            background-color: #908F8F;
            
          }
          
        }
        
      }
      
    }
    
    .full_folder {
      
      a.back_to_gallery {
        
        color: #333333;
        
      }
      
    }
    
  }
  
}

.loadInGallery, .globalLoader {
  
  display: none;
  width: 800px;
  height: 490px;
  padding: 50px;
  background-color: #252323;
  
  form {
    
    width: 770px;
    height: 460px;
    padding: 15px;
    position: relative;
    
    .errors_layer {
      
      @include arial-with-line-height(13px, 38.5px);
      color: #8A8686;
      position: absolute;
      background-color: #454343;
      z-index: 2;
      border-radius: 2px;
      cursor: text;
      display: none;
      
      &.description {
        
        padding: 0 13px 0 13px;
        width: 345.5px;
        height: 174px;
        top: 223px;
        left: 18px;
        
      }
      
      &.media {
        
        @include arial-with-line-height(13px, 19px);
        text-align: center;
        height: 19px;
        width: 194px;
        top: 48px;
        left: 128px;
        
      }
      
      &.tags {
        
        padding: 0 13px 0 13px;
        width: 345px;
        height: 234px;
        top: 163px;
        left: 411px;
        
      }
      
      &.title {
        
        padding: 0 13px 0 13px;
        width: 345.5px;
        height: 38.5px;
        top: 163px;
        left: 18px;
        
      }
      
    }
    
    .loading-square {
      
      background-color: $green;
      position: absolute;
      display: none;
      z-index: 2;
      
    }
    
    .loading-square-1 {
      
      height: 15px;
      width: 450px;
      top: 525px;
      left: -50px;
      border-radius: 4px 0 0 4px;
      
    }
    
    .loading-square-2 {
      
      height: 590px;
      width: 15px;
      top: -50px;
      left: -50px;
      border-radius: 4px 4px 0 0;
      
    }
    
    .loading-square-3 {
      
      height: 15px;
      width: 900px;
      top: -50px;
      left: -50px;
      border-radius: 0 4px 4px 0;
      
    }
    
    .loading-square-4 {
      
      height: 590px;
      width: 15px;
      top: -50px;
      left: 835px;
      border-radius: 0 0 4px 4px;
      
    }
    
    .loading-square-5 {
      
      height: 15px;
      width: 454px;
      top: 525px;
      left: 396px;
      border-radius: 4px 0 0 4px;
      
    }
    
    .loading-square-bis {
      
      background-color: #1F1D1D;
      position: absolute;
      z-index: 1;
      
    }
    
    .loading-square-bis-1 {
      
      height: 15px;
      width: 900px;
      top: 525px;
      left: -50px;
      
    }
    
    .loading-square-bis-2 {
      
      height: 590px;
      width: 15px;
      top: -50px;
      left: -50px;
      
    }
    
    .loading-square-bis-3 {
      
      height: 15px;
      width: 900px;
      top: -50px;
      left: -50px;
      
    }
    
    .loading-square-bis-4 {
      
      height: 590px;
      width: 15px;
      top: -50px;
      left: 835px;
      
    }
    
    .part1, .part2, .part3 {
      
      width: 100%;
      
    }
    
    .part1 .attachment .media, .part2 .title_and_description .title, .part2 .title_and_description .description, .part2 .tags_loader ._tags_container {
      
      @include arial-with-line-height(13px, 13px);
      border: 0;
      color: white;
      border-radius: 5px;
      box-shadow: 0px 2px 2px rgba(10, 10, 10, 0.2) inset;
      background-color: #454343;
      
    }
    
    .part1 {
      
      height: 115px;
      margin-bottom: 30px;
      
      .attachment {
        
        width: 385px;
        height: 115px;
        float: left;
        
        label {
          
          @include svg-circle-icon-handler($assets-icone-piene_svg, 75px, 6, 1, 1, 3, 0, 0.5, 3, 0);
          display: block;
          cursor: pointer;
          margin-top: 5px;
          margin-left: 5px;
          
        }
        
        .media {
          
          float: left;
          margin-left: 30px;
          margin-top: 30px;
          width: 200px;
          padding: 0;
          height: 25px;
          text-align: center;
          
          &.form_error {
            
            border: 3px solid #B40404;
            height: 19px;
            width: 194px;
            
          }
          
        }
        
        .file {
          
          display: none;
          
        }
        
      }
      
      .title_and_subtitle {
        
        float: left;
        width: 380px;
        height: 115px;
        text-align: right;
        padding-right: 5px;
        
        h1 {
          
          @include nunito(26px);
          padding: 0;
          color: white;
          margin-bottom: 10px;
          
        }
        
        p {
          
          @include arial-with-line-height(14px, 20px);
          color: white;
          padding: 0;
          
        }
        
      }
      
    }
    
    .part2 {
      
      height: 240px;
      margin-bottom: 30px;
      
      .title_and_description {
        
        float: left;
        width: 385px;
        
        .title {
          
          width: 345.5px;
          height: 45px;
          padding: 0 16px 0 16px;
          margin: 0 0 15px 0;
          
          &.form_error {
            
            border: 3px solid #B40404;
            height: 39px;
            padding: 0 13px 0 13px;
            
          }
          
        }
        
        .description {
          
          width: 345.5px;
          height: 148px;
          padding: 16px;
          margin: 0;
          resize: none;
          
          &.form_error {
            
            border: 3px solid #B40404;
            padding: 13px;
            
          }
          
        }
        
      }
      
      .tags_loader {
        
        float: left;
        width: 385px;
        
        ._tags_container {
          
          float: right;
          width: 365.5px;
          height: 228px;
          padding: 0 12px 12px 0;
          position: relative;
          cursor: text;
          
          &.form_error {
            
            border: 3px solid #B40404;
            height: 225px;
            padding: 0 6px 9px 0;
            
            ._placeholder {
              
              top: 13px;
              left: 13px;
              
            }
            
            .tags {
              
              margin-top: 10px;
              padding: 0 13px 0 13px;
              
            }
            
            span {
              
              position: relative;
              top: -3px;
              left: -3px;
              
            }
            
          }
          
          span {
            
            @include arial-with-line-height(13px, 13px);
            border-radius: 5px;
            padding: 6px;
            height: 14px;
            margin: 12px 0 0 12px;
            background-color: white;
            float: left;
            color: #373737;
            
            &.new_tag {
              
              color: white;
              background-color: #373636;
              
              a:hover {
                
                background-image: $assets-bianca_png;
                opacity: 1;
                
              }
              
            }
            
            a {
              
              display: block;
              float: right;
              width: 15px;
              height: 15px;
              background-repeat: no-repeat;
              margin: 0 0 0 6px;
              color: #373737;
              background-image: $assets-grigia_png;
              
              &:hover {
                
                background-image: $assets-grigia_png;
                opacity: 0.6;
                
              }
              
            }
            
          }
          
          .tags {
            
            @include arial-with-line-height(13px, 13px);
            clear: both;
            height: 19px;
            background-color: transparent;
            color: white;
            border: 0;
            width: 345.5px;
            padding: 0 16px 0 16px;
            margin: 13px 0 0 0;
            
          }
          
          ._placeholder {
            
            position: absolute;
            top: 16px;
            left: 16px;
            width: 345.5px;
            padding: 0;
            
          }
          
        }
        
      }
      
    }
    
    .part3 {
      
      height: 45px;
      
      .close, .submit {
        
        @include nunito(20px);
        float: right;
        display: block;
        width: 151.25px;
        text-align: center;
        background-color: $green;
        color: white;
        padding: 9px 0 0 0;
        height: 36px;
        
        &:hover {
          
          background-color: #67B855;
          
        }
        
      }
      
      .close {
        
        margin-right: 25px;
        
      }
      
    }
    
  }
  
  .full_folder {
    
    display: none;
    width: 770px;
    height: 460px;
    padding: 15px;
    
    .msge {
      
      @include nunito(18px);
      text-align: center;
      margin-top: 160px;
      margin-bottom: 50px;
      
    }
    
    a.back_to_gallery {
      
      @include nunito(20px);
      display: block;
      margin-left: 272.5px;
      width: 225px;
      text-align: center;
      background-color: $green;
      color: white;
      padding: 9px 0 0 0;
      height: 36px;
      
      &:hover {
        
        background-color: #67B855;
        
      }
      
    }
    
  }
  
  &.document {
    
    form {
      
      .errors_layer {
        
        &.description, &.title {
          
          width: 738px;
          
        }
        
      }
      
      .loading-square {
        
        background-color: #5D5C5C;
        
      }
      
      .part1 {
        
        .attachment {
          
          label {
            
            @include svg-circle-icon-handler($assets-bottone-add-document_svg, 75px, 1, 1, 1, 0, 0, 0.5, 0, 0);
            
          }
          
        }
        
      }
      
      .part2 {
        
        .title_and_description {
          
          width: 770px;
          
          .title {
            
            width: 738px;
            
          }
          
          .description {
            
            width: 738px;
            
          }
          
        }
        
      }
      
      .part3 {
        
        .close, .submit {
          
          color: #333333;
          background-color: white;
          
          &:hover {
            
            background-color: #908F8F;
            
          }
          
        }
      
      }
      
    }
    
  }
  
}

#load-gallery-document, #load-document {
  
  .full_folder {
    
    .back_to_gallery {
      
      color: #333333;
      background-color: white;
      
      &:hover {
        
        background-color: #908F8F;
        
      }
      
    }
    
  }
  
}

.dialogMediaElement.triceratopo.camaleonte.opossum {
  
  padding: 0;
  background-color: #252323;
  color: #fff;
  -webkit-box-shadow: 1px 5px 5px #999;
  box-shadow: 1px 5px 5px #999;
  width: 760px;
  height: 440px;
  
  .wrapper {
    
    padding: 20px;
    width: 720px;
    height: 355px;
    
    .preview {
      
      width: 720px;
      height: 355px;
      
      .description {
        
        h2 {
          
          @include nunito(14px);
          color: $green;
          padding: 0;
          
        }
        
        h3 {
          
          @include nunito(21px);
          color: white;
          padding: 0;
          
        }
        
        p {
          
          @include arial(12px);
          color: white;
          padding-top: 15px;
          
        }
        
      }
      
      &.audio {
        
        .content {
          
          height: 31px;
          padding: 14px;
          border: 1px solid #524F4F;
          width: 670px;
          
          .audioPlayer {
            
            background-color: transparent;
            width: 670px;
            
            .audioSlider {
              
              height: 11px;
              width: 529px;
              margin-top: 10px;
              margin-left: 5px;
              margin-right: 5px;
              
            }
            
          }
          
        }
        
        .description {
          
          height: 274px;
          width: 700px;
          margin-bottom: 20px;
          
        }
        
      }
      
      &.image {
        
        .content {
          
          float: left;
          height: 355px;
          
          img {
            
            max-width: 500px;
            max-height: 355px;
            
          }
          
        }
        
        .description {
          
          height: 355px;
          margin-left: 20px;
          float: left;
          
        }
        
      }
      
      &.video {
        
        .content {
          
          float: left;
          height: 355px;
          width: 500px;
          
          .videoPlayer {
            
            video {
              
              width: 500px;
              height: 282px;
              margin-bottom: 21px;
              
            }
            
            .videoSlider {
              
              height: 11px;
              width: 328px;
              margin-top: 10px;
              margin-left: 5px;
              margin-right: 5px;
              
            }
            
          }
          
        }
        
        .description {
          
          height: 355px;
          width: 200px;
          margin-left: 20px;
          float: left;
          
        }
        
      }
      
      &.video .content .videoPlayer, &.audio .content .audioPlayer {
        
        .play {
          
          @include svg-circle-icon-handler($assets-icone-player_svg, 31px, 5, 4, 0.3, 0, 2, 1, 0, 0);
          
        }
        
        .pause {
          
          @include svg-circle-icon-handler($assets-icone-player_svg, 31px, 5, 4, 0.3, 2, 2, 1, 2, 0);
          
        }
        
        .secondTime {
          
          @include arial(11px);
          width: 50px;
          
        }
        
        .fullScreen {
          
          @include svg-circle-icon-handler($assets-icone-player_svg, 31px, 5, 4, 0.3, 3, 2, 1, 3, 0);
          margin: 0;
          
        }
        
      }
      
    }
    
  }
  
  .menu {
    
    width: 760px;
    height: 45px;
    background-color: white;
    
  }
  
}
