body {
	font: 80% Verdana, Arial, Helvetica, sans-serif;
	background: #fff;
	margin: 0;
	padding: 0;
	color: #000;
}
.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
form{ 
  padding:0px;
  margin:0px;
}
fieldset { 
  border:none; 
	padding:0px; 
	margin:0px;
}
input{ 
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #f2f2f2;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #e2e1e1; 
  padding-left:10px;
  margin:0px;
}
select {
  border-top: 1px solid #d9d0ac;
  border-left: 1px solid #c9c095;
  border-bottom: 1px solid #c1ba97;
  border-right: 1px solid #c5bea0;
  color: #e2e1e1; 
  background-color: #fff;
  padding-left:10px;
  margin:0px;
}
table {
  border:none;
  padding:0px;
  margin:0px;
	td {
    padding:0px;
    margin:0px;
  }
}
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
}
a {
  color:#414958;
  text-decoration: none;
  &:hover, &:active, &:focus { 
	  text-decoration: none; 
	}
  img {border: none;}
}
hr {
  height:1px;
  border:none;
  margin:0px;
  padding:0px;
}
p {
	padding:0px;
	margin:0px;
}
.container {
	width: 100%;
	/*max-width: 1260px;
	min-width: 780px;*/
	background: #FFF;
	margin: 0 auto;  
}
.content {
	padding: 10px 0;
	ul, ol {
	  padding: 0 15px 15px 40px; 
	}
}
.footer {
	padding: 26px 0px 34px 39px;
	background: #373737;
	color:#fff;
	font-size:75%;
}