@import url(http://fonts.googleapis.com/css?family=Nunito);
* {
  outline: none;
}
body {
  font: 80% Arial, Helvetica, sans-serif;
	background: #fff;
	margin: 0;
	padding: 0;
	color: #5d5c5c;
	direction:ltr;
	@media (max-width: 1024px) {
    font-size: 50%;
	}
}
form{ 
  padding:0px;
  margin:0px;
}
fieldset { 
  border:none; 
	padding:0px; 
	margin:0px;
}
input {
  color: #e2e1e1; 
  padding-left:10px;
  margin:0px;
	border:none;
	
}
.text {
	  padding-top:3px; 
		padding-bottom:3px; 
		background-repeat:no-repeat;
		font-size:9px;
		border:none;
	  width:168px; 
		height:29px; 
		-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
		margin-right:10px;
}
	


select {
  border:none;
	overflow: hidden;
  color: #bbbbbb; 
  background-color: #fff;
  padding-left:10px;
  margin:0px;
}
table {
  border:none;
  padding:0px;
  margin:0px;
	td {
    padding:0px;
    margin:0px;
  }
}
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin:0px;
	padding-bottom:10px;
	color:#5d5c5c;
}
a {
  color:#414958;
  text-decoration: none;
  &:hover, &:active, &:focus { 
	  text-decoration: none; 
	}
  img {border: none;}
}
hr {
  height:1px;
  border:none;
  margin:0px;
  padding:0px;
	background-color:#f2f1f2;
}
p {
	padding:0px;
	margin:0px;
}
.container {
	width: 100%;
	background: #FFF;
	margin: 0 auto;  
}
.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.footer {
	padding: 26px 55px 34px 30px;
	background: #373737;
	color:#fff;
	font-size:75%;
	text-transform:lowercase;
}
