@import url(http://fonts.googleapis.com/css?family=Nunito);
* {
  outline: none;
}
html,body{
    height:100%;
    margin:0;
}
body {
  font: 80% Arial, Helvetica, sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
  color: #5d5c5c;
  direction:ltr;
  @media (max-width: 1024px) {
    font-size: 50%;
  }
}
form{ 
  padding:0px;
  margin:0px;
}
fieldset { 
  border:none; 
  padding:0px; 
  margin:0px;
}
input {
  color: #939393; 
  padding-left:10px;
  margin:0px;
  border:none;
}
input[type="submit"] {
  font-size:90%;
  color: #5d5c5c;
  background-color:transparent;
}
textarea {
  overflow:hidden;
    resize:none;
}
input.text {
    padding-top:3px; 
    padding-bottom:3px; 
    background-repeat:no-repeat;
    font-size:9px;
    border:none;
    width:168px; 
    height:29px; 
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-right:10px;
}
textarea.campoTesto {
    font-size:9px;
    margin: 10px 0 10px 0;
    width: 336px;
    height:77px;
    padding-top: 3px;
    padding-left:3px;
    border: 1px solid #F0E5E5; 
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-right:10px;
}
select {
  border:none;
  overflow: hidden;
  color: #bbbbbb; 
  background-color: #fff;
  padding-left:10px;
  margin:0px;
  
}
table {
  border:none;
  padding:0px;
  margin:0px;
  td {
    padding:0px;
    margin:0px;
  }
}
ul, ol, dl { 
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin:0px;
  padding-bottom:1%;
  color:#5d5c5c;
}
a {
  color:#414958;
  text-decoration: none;
  cursor:pointer;
  &:hover, &:active, &:focus { 
    text-decoration: none; 
  }
  img {border: none;}
}
hr {
  height:1px;
  border:none;
  margin:0px;
  padding:0px;
  background-color:#f2f1f2;
}
p {
  padding:0px;
  margin:0px;
}
.container {
  width: 100%;
  background: #FFF;
  margin: 0 auto;  
}
.fltrt {  
  float: right;
}
.fltlft { 
  float: left;
  margin-right: 8px;
}
.clearfloat { 
  clear:both;
  height:0;
  font-size: 1px;
  line-height: 0px;
}
.footer {
  padding: 26px 55px 34px 30px;
  background: #373737;
  color:#fff;
  font-size:75%;
  text-transform:lowercase;
}
