.header {
  background: #373737;
	padding:12px 52px 44px 39px;
	color:#fff;
  img {
    float:left
  }
	.logout {
	  float:right;
	  color:#a09f9f;
	  font-weight:bold;
	  font-size:75%;
  }
	ul.navlist {
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
  }
  .navlist li {
    display: inline;
    list-style-type: none;
  }
  .navlist a { 
	  padding: 3px 10px;
		&:hover {
		}
		&:active, &:focus {
		  color: #fff;
      background-color: #036;
      text-decoration: none;
		}
	}
}