.header {
  
  background-color: #373737;
  padding: 12px 52px 64px 39px;
  
  .logout {
    
    float: right;
    color: #a09f9f;
    font-weight: bold;
    font-size: 87.5%;
    
  }
  
  a {
    
    color: #bfbaba;
    
  }
  
  span {
    
    color: #fff;
    
  }
  
  img {
    
    float: left;
    
  }
  
}
