@import 'variables';
@import 'mixins';

.header-main {
  
  background-color: #373737;
  padding: 0px 50px 0px 50px;
  height: 72px;
  
  .header-link img {
    
    margin-top: 20px;
    
  }
  
  .logout {
    
    float: right;
    text-align: right;
    color: #a09f9f;
    font-weight: bold;
    font-size: 87.5%;
    line-height: 15px;
    height: 32px;
    padding: 20px 0px 20px 0px;
    
    img {
      
      margin-right: 1px;
      float: left;
      
    }
    
    a {
      
      color: #a7a9ac;
      font-weight: normal;
      margin-top: 5px;
      
      &:hover {
        
        text-decoration: underline;
        
      }
      
    }
    
    #profile_link a:hover {
      
      text-decoration: none;
      
    }
    
    span {
      
      color: #fff;
      
      &.nome, &.cognome {
        
        font-size: 120%;
        
      }
      
      &.profileLink {
        
        padding: 10px 20px 0 20px;
        background-color: #58585a;
        cursor: pointer;
        height: 22px;
        
        &:hover {
          
          background-color: #999;
          
        }
        
        a {
          
          color: #fff;
          
        }
        
      }
      
    }
    
  }
  
  .freeTrial {
    position:absolute;
    top:56px;
    left:60px;
    color:white;
    font-size:10px;
    span {
      color:#f29400;
    }
  }
  .noFreeTrial {
    position:absolute;
    top:46px;
    left:60px;
    color:white;
    font-size:10px;
    
  }
  
}
