@import 'variables';
@import 'mixins';

.navcontainer {
  
  margin: 0 auto;
  padding-bottom: 20px;
  float: left;
  width: 100%;
  font: 180% 'Nunito', sans-serif;
  
  ul.navlist {
    
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    float: left;
    
    li {
      
      display: block;
      float: left;
      width: 25%;
      margin: 0;
      padding: 0px 0px 10px 0px;
      
    }
    
    li a {
      
      display: block;
      width: 100%;
      padding: 0;
      color: #fff;
      text-decoration: none;
      text-align: center;
      text-transform: lowercase;
      line-height: 61px;
      
    }
    
  }
  
  ul.navlist li.lessons a {
    
    background-color: #f29400;
    text-shadow: #d68300 0px 2px 0px;
    
    &.current {
      
      color: #f5a933;
      
    }
    
    &:hover, &:active, &:focus {
      
      color: #f5a933;
      
    }
    
  }
  
  ul.navlist li.elements a {
    
    background-color: #41a62a;
    text-shadow: #368a23 0px 2px 0px;
    
    &.current {
      
      color: #67b855;
      
    }
    
    &:hover, &:active, &:focus {
      
      color: #67b855;
      
    }
    
  }
  
  ul.navlist li.classroom a {
    
    background-color: #2eaadc;
    text-shadow: #3490b5 0px 2px 0px;
    
    &.current {
      
      color: #58bbe3;
      
    }
    
    &:hover, &:active, &:focus {
      
      color: #58bbe3;
      
    }
    
  }
  
  ul.navlist li.profile a {
    
    background-color: #5d5c5c;
    text-shadow: #4e4d4d 0px 2px 0px;
    
    &.current {
      
      color: #7d7d7d;
      
    }
    
    &:hover, &:active, &:focus { 
      
      color: #7d7d7d;
      
    }
    
  }
  
}
