@import 'variables';
@import 'mixins';

.media_element_editor-layout .contentFormInfoMediaElementEditor ._tags_container {
  
  width: 336px;
  height: 170px;
  background-color: #454343;
  @include tagContainer;
  
  span.new_tag {
    
    color: #fff;
    background-color: #373636;
    
  }
  
}

.video_editor-controller .ui-autocomplete, .audio_editor-controller .ui-autocomplete {
  
  text-align: left;
  width: 325px;
  
}

.search-controller {
  
  .ui-autocomplete {
    
    background-color: #493f34;
    opacity: 1;
    width: 168px;
    
  }
  
}

.image_editor-controller {
  
  .ui-autocomplete {
    
    text-align: left;
    background-color: #fff;
    opacity: 1;
    width: 325px;
    
  }
  
  ul.ui-autocomplete, ul.ui-autocomplete li, ul.ui-autocomplete li:hover, ul.ui-autocomplete li a, ul.ui-autocomplete li a:hover {
    
    color: #30302f;
    
  }
  
  .ui-autocomplete.ui-menu .ui-menu-item a.ui-state-focus, .ui-autocomplete.ui-menu .ui-menu-item a.ui-state-active {
    
    color: $green;
    
  }
  
}

.video_editor-controller, .audio_editor-controller {
  
  .ui-autocomplete {
    
    background-color: #fff;
    
  }
  
  ul.ui-autocomplete, ul.ui-autocomplete li, ul.ui-autocomplete li:hover, ul.ui-autocomplete li a, ul.ui-autocomplete li a:hover {
    
    color: #30302f;
    
  }
  
  .ui-autocomplete.ui-menu .ui-menu-item a.ui-state-focus, .ui-autocomplete.ui-menu .ui-menu-item a.ui-state-active {
    
    color: $green;
    
  }
  
}

.lesson-editor-layout ul#slides.new .info ._tags_container {
  
  width: 336px;
  height: 140px;
  border: 3px solid #f29400;
  background-color: #E48D1F;
  margin-top: 30px;
  @include tagContainer;
  
  span.new_tag {
    
    background-repeat: no-repeat;
    background-color: #e9a44c;
    
  }
  
}

.lesson-editor-layout {
  
  .ui-autocomplete {
    
    background-color: #493f34;
    opacity: 1;
    
  }
  
  .ui-autocomplete.ui-menu .ui-menu-item a.ui-state-focus, .ui-autocomplete.ui-menu .ui-menu-item a.ui-state-active {
    
    color: #f29400;
    
  }
  
}

.MediaElementPopUpContainer ._tags_container {
  
  width: 336px;
  height: 170px;
  border: 3px solid #373737;
  margin-bottom: 5px;
  background-color: #454343;
  @include tagContainer;
  
  span.new_tag {
    
    color: #fff;
    background-color: #373636;
    
  }
  
}

.media_elements-controller,.lessons-controller, .dashboard-controller {
  
  .ui-autocomplete {
    
    width: 325px;
    background-color: rgb(31,31,31);
    opacity: 0.9;
    
  }
  
  .ui-autocomplete.ui-menu .ui-menu-item a.ui-state-focus, .ui-autocomplete.ui-menu .ui-menu-item a.ui-state-active {
    
    color: $green;
    
  }
  
}

#form_info_update_media_element_in_editor #update_tags, #form_info_new_media_element_in_editor #new_tags, #slides._new #tags, #slides._update #tags, #load-media-element #tags, .ChangeInfoContainerLoading #tags, .ChangeInfoContainer #tags {
  
  overflow: visible;
  clear: both;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 10px;
  box-shadow: none;
  width: 92%;
  height: auto;
  
}
