.mceContentBody {
  font-size: 13px;
  line-height: 13px;
  color: #5d5c5c;
  text-align: left;
	a:link, a:hover {
	  color: #f29400;
	  text-decoration:underline;
	}
  .size1{
   font-size: 120%;
   line-height: 100%;
  }              

  .size2{        
   font-size: 160%;
   line-height: 110%;
  }              

  .size3{        
   font-size: 200%;
   line-height: 120%;
  }              

  .size4{        
   font-size: 240%;
   line-height: 130%;
  }              

  .size5{        
   font-size: 280%;
   line-height: 140%;
  }              

  .size6{        
   font-size: 340%;
   line-height: 150%;
  }              

  .size7{        
   font-size: 400%;
   line-height: 160%;
  }
}