.mceContentBody {
text-align: left;
  .size1{
   font-size: 120%;
  }              

  .size2{        
   font-size: 160%;
  }              

  .size3{        
   font-size: 200%;
  }              

  .size4{        
   font-size: 240%;
  }              

  .size5{        
   font-size: 280%;
  }              

  .size6{        
   font-size: 340%;
  }              

  .size7{        
   font-size: 400%;
  }
}