@import 'variables';
@import 'mixins';

#notifications_main {
  
  text-align:left;
  background-color: transparent;
  position: relative;
  bottom:9px;
  margin-left:10px;
  .hidden {
    
    display: none;
    
  }
  
  #expanded_notification, .tooltip, .tooltipArancione, .tooltipHelp {
    
    position: absolute;
    
  }
  
  #expanded_notification {
    
    z-index: 30;
    border-radius: 3px 0px 0px 3px;
    -webkit-border-radius: 3px 0px 0px 3px;
    overflow: hidden;
    width: 430px;
    height: 285px;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: none;
    color: $black;
    top: 61px;
    right: 303px;
    
    ul {
      
      padding-left: 2em;
      
    }
    
    .title {
      
      padding: 20px;
      height: 20px;
      font: 20px 'Nunito', sans-serif;
      letter-spacing: -1px;
      font-weight: bold;
      color: #2FAADC;
      
    }
    
    .time {
      
      padding: 0 20px 7px 20px;
      height: 10px;
      font-style: italic;
      font-size: 11px;
      font-weight: normal;
      color: #2FAADC;
      
    }
    
    .content {
      
      font-weight: normal;
      font-size: 13px;
      padding: 0 20px 20px 20px;
      height: 135px;
      color: $black;
      
      .link {
        
        color: #2FAADC;
        font-weight: bold;
        padding: 0;
        
      }
      
      .message {
        
        font-style: italic;
        
      }
      
    }
    
    .variable {
      color:#5d5c5c;
      font-weight: bold;
      
    }
    
    .basement {
      margin-left: 20px;
      padding: 12px 10px;
      width: 370px;
      height: 13px;
      background-color: #FBFAFB;
      
      span {
        color:#5d5c5c;
        float: left;
        font-weight: bold;
        
      }
      
      a.preview {
        
        @include svg-circle-icon-handler($assets-action-buttons_svg, 31px, 2, 10, 1, 0, 7, 1, 1, 7, right);
        position: relative;
        bottom: 15px;
        
      }
      
      a.trial {
        
        @include svg-circle-icon-handler($assets-simbolino_svg, 26px, 2, 1, 1, 0, 0, 1, 1, 0, right);
        position: relative;
        bottom: 12px;
        
      }
      
    }
    
  }
  
  .tooltip {
    
    z-index: 10;
    height: 275px;
    width: 281px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    top: 61px;
    right: 11px;

    
    #notifications_list {
      
      height: 275px;
      width: 281px;
      
      .empty_notifications {
        
        color: $black;
        font-weight: bold;
        width: 281px;
        text-align: center;
        margin-top: 10px;
        
      }
      
      ._single_notification {
        
        height: 65px; /* width is 268 if there is a scrollbar, and 268 + 8 + 5 = 281 if there is not a scrollbar */
        margin-top: 5px;
        background-color: #c1e6f6;
        background-image: $assets-arrow-tooltip-notice_png;
        background-position: 3px center;
        background-repeat: no-repeat;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        color: $black;
        cursor: pointer;
        font: 12.8px Arial, Helvetica, sans-serif;
        line-height: 15px;
        
        &.current {
          
          background-color: #f5f5f5;
          
        }
        
        &.no-margin {
          
          margin-top: 0;
          
        }
        
        .notification_gatto_sx {
          
          width: 210px;
          height: 45px;
          margin-top: 10px;
          margin-left: 20px;
          overflow: hidden;
          float: left;
          
        }
        
        .notification_gatto_dx {
          
          width: 38px;
          height: 65px;
          float: right;
          
          .cancelTooltip {
            
            float: right;
            width: 13px;
            height: 13px;
            margin-top: 2px;
            margin-right: 2px;
            background-image: $assets-cancel-tooltip-notice_png;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: transparent;
            cursor: pointer;
            
            &:hover {
              
              background-image: $assets-cancel-tooltip-notice-on_png;
              
            }
            
          }
          
        }
        
      }
      
      .jspVerticalBar {
        
        top: 0;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        
        .jspTrack {
          
          border-radius: 3px;
          -webkit-border-radius: 3px;
          
          .jspDrag {
            
            border-radius: 3px;
            -webkit-border-radius: 3px;
            
          }
          
        }
        
      }
      
    }
    
  }
  
  .tooltipArancione {
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    z-index: 10;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    background-color: #e10000;
    padding: 2px 5px;
    right: 40px;
    
  }
  
  #notifications_button {
    
    margin-right: 10px;
    @include svg-circle-icon-handler($assets-icone-header_svg, 36px, 2, 3, 1, 0, 0, 1, 1, 0, right);
    
    &.current {
      
      @include svg-circle-icon-handler-without-hover($assets-icone-header_svg, 36px, 2, 3, 1, 1, 0, right);
      
    }
    
  }
  
  #help {
    
    margin-right: 0;
    @include svg-circle-icon-handler($assets-icone-header_svg, 36px, 2, 3, 1, 0, 2, 1, 1, 2, right);
    
    &.current {
      
      @include svg-circle-icon-handler-without-hover($assets-icone-header_svg, 36px, 2, 3, 1, 1, 2, right);
      
    }
    
  }
  
  #profile_link {
    
    margin-right: 10px;
    @include svg-circle-icon-handler($assets-icone-header_svg, 36px, 2, 3, 1, 0, 1, 1, 1, 1, right);
    
    &.current {
      
      @include svg-circle-icon-handler-without-hover($assets-icone-header_svg, 36px, 2, 3, 1, 1, 1, right);
      
    }
    
  }
  
  .tooltipHelp {
    
    font-weight: normal;
    right: 0;
    z-index: 10;
    padding: 3px 13px;
    width: 636px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    top: 61px;
    
    .callout {
      
      right: -42px;
      
    }
    
    strong {
      
      color: $orange;
      font-size: 12.8px;
      
    }
    
    p {
      
      float: left;
      width: 200px;
      padding: 6px;
      color: $black;
      
    }
    
  }
  
}

.lesson_tooltipForm {
  
  position: absolute;
  margin: 0px;
  z-index: 10;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  @include elementiComuni;
  left: 0.2em;
  bottom: 3.3em;
  @include inputSend;
  
  h3 {
    
    font: 120% 'Nunito', sans-serif;
    color: $black;
    
  }
  
  .calloutForm {
    
    bottom: -8px;
    z-index: 20;
    position: absolute;
    border: 0;
    left: 8px;
    
  }
  
}

.media_element_tooltipForm {
  
  position: absolute;
  margin: 0px;
  z-index: 10;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  @include elementiComuni;
  right: 4px;
  bottom: 41px;
  @include inputSend;
  
  h3 {
    
    font: 140% 'Nunito', sans-serif;
    color: $black;
    
  }
  
  .calloutForm {
    
    bottom: -7px;
    z-index: 20;
    position: absolute;
    border: 0;
    right: 59px;
    
  }
  
}

.callout {
  
  top: -10px;
  @include call;
  
}

.calloutTooltipArancione {
  
  top: 4px;
  @include call;
  
}

.scroll-pane {
  
  width: 100%;
  height: 305px;
  overflow: auto;
  
}
