@import 'variables';
@import 'mixins';

#notification_main {
  
  width: 100%;
  height: 34px;
  background-color: transparent;
  position: relative;
  
  .hidden {
    
    display: none;
    
  }
  
  #expanded_notification, .tooltip, .tooltipArancione, .tooltipHelp {
    
    position: absolute;
    
  }
  
  #notifications_button, #help {
    
    float: right;
    background-image: $assets-notice_png;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 36px;
    height: 36px;
    
  }
  
  #expanded_notification {
    
    z-index: 30;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
    width: 430px;
    height: 285px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    color: $black;
    
    .title {
      
      padding: 20px;
      height: 20px;
      font: 155% 'Nunito', sans-serif;
      letter-spacing: -1px;
      font-weight: bold;
      color: #2FAADC;
      
    }
    
    .time {
      
      padding: 0 20px 7px 20px;
      height: 10px;
      font-style: italic;
      font-size: 11px;
      color: #2FAADC;
      
    }
    
    .content {
      
      padding: 0 20px 20px 20px;
      height: 135px;
      color: $black;
      
      .link {
        
        color: #2FAADC;
        font-weight: bold;
        padding: 0;
        
      }
      
      .message {
        
        font-style: italic;
        
      }
      
    }
    
    .variable {
      
      font-weight: bold;
      
    }
    
    .basement {
      
      margin-left: 20px;
      padding: 10px;
      width: 86%;
      height: 19px;
      background-color: #FBFAFB;
      
      span {
        
        float: left;
        font-weight: bold;
        
      }
      
      a.preview {
        
        float: right;
        width: 3.5em;
        height: 3.5em;
        background-image: $assets-action-buttons_svg;
        background-repeat: no-repeat;
        background-size: 7em 35em;
        background-position: 0 -24.5em;
        padding: 0;
        font-size: 0.7em;
        margin-top: -7px;
        
      }
      
      a.preview:hover {
        
        background-position: -3.5em -24.5em;
        
      }
    }
    
  }
  
  .tooltip {
    
    z-index: 10;
    height: 275px;
    width: 281px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    
    #notifications_list {
      
      height: 275px;
      width: 281px;
      
      .empty_notifications {
        
        color: $black;
        font-weight: bold;
        width: 281px;
        text-align: center;
        margin-top: 10px;
        
      }
      
      ._single_notification {
        
        height: 65px; /* width is 268 if there is a scrollbar, and 268 + 8 + 5 = 281 if there is not a scrollbar */
        margin-top: 5px;
        background-color: #c1e6f6;
        background-image: $assets-arrow-tooltip-notice_png;
        background-position: 3px center;
        background-repeat: no-repeat;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        color: $black;
        cursor: pointer;
        font: 12.8px Arial, Helvetica, sans-serif;
        line-height: 15px;
        
        &.current {
          
          background-color: #f5f5f5;
          
        }
        
        &.no-margin {
          
          margin-top: 0;
          
        }
        
        .notification_gatto_sx {
          
          width: 210px;
          height: 45px;
          margin-top: 10px;
          margin-left: 20px;
          overflow: hidden;
          float: left;
          
        }
        
        .notification_gatto_dx {
          
          width: 38px;
          height: 65px;
          float: right;
          
          .cancelTooltip {
            
            float: right;
            width: 13px;
            height: 13px;
            margin-top: 2px;
            margin-right: 2px;
            background-image: $assets-cancel-tooltip-notice_png;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: transparent;
            cursor: pointer;
            
            &:hover {
              
              background-image: $assets-cancel-tooltip-notice-on_png;
              
            }
            
          }
          
        }
        
      }
      
      .jspVerticalBar {
        
        top: 0;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        
        .jspTrack {
          
          border-radius: 3px;
          -webkit-border-radius: 3px;
          
          .jspDrag {
            
            border-radius: 3px;
            -webkit-border-radius: 3px;
            
          }
          
        }
        
      }
      
    }
    
  }
  
  .tooltipArancione {
    
    z-index: 10;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    background-color: $orange;
    
  }
  
  #notifications_button {
    
    background-position: 1px 0px;
    margin-right: 10px;
    
    &:hover, &.current {
      
      background-position: -33px 0px;
      
    }
    
  }
  
  #help {
    
    background-position: -68px 0px;
    margin-right: 47px;
    
    &:hover, &.current {
      
      background-position: -103px 0px;
      
    }
    
  }
  
  .tooltipHelp {
    
    z-index: 10;
    padding: 3px 13px;
    width: 670px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    
    strong {
      
      color: $orange;
      font-size: 110%; /* TODO */
      
    }
    
    p { /* TODO */
      
      display: inline-block;
      width: 30%;
      padding: 1%;
      vertical-align: top;
      color: $black;
      
    }
    
  }
  
}

.lesson_tooltipForm {
  
  position: absolute;
  margin: 0px;
  z-index: 10;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  @include elementiComuni;
  left: 0.2em;
  bottom: 3.3em;
  @include inputSend;
  
  h3 {
    
    font: 120% 'Nunito', sans-serif;
    color: $black;
    
  }
  
  .calloutForm {
    
    bottom: -8px;
    z-index: 20;
    position: absolute;
    border: 0;
    left: 8px;
    
  }
  
}

.media_element_tooltipForm {
  
  position: absolute;
  margin: 0px;
  z-index: 10;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  @include elementiComuni;
  right: 4px;
  bottom: 41px;
  @include inputSend;
  
  h3 {
    
    font: 140% 'Nunito', sans-serif;
    color: $black;
    
  }
  
  .calloutForm {
    
    bottom: -7px;
    z-index: 20;
    position: absolute;
    border: 0;
    right: 59px;
    
  }
  
}

.callout {
  
  top: 15px;
  @include call;
  
}

.calloutTooltipArancione {
  
  top: 4px;
  @include call;
  
}

.scroll-pane {
  
  width: 100%;
  height: 305px;
  overflow: auto;
  
}
