<div class="img_expanded">
  <div style="height:102px"><%= image_tag("finta2.jpg") %></div>
	<div class="bg_text">
    <h1><%= lesson.title %></h1>
  </div>
	<h2><%= lesson.subject.description %></h2>
</div>