<!-- PER ADRIANO aggiungi la classe current alla classe img_expanded per le lezioni aggiunte nella playlist-->
<div class="img_expanded">
  <%= image_tag("finta2.jpg") %>
	<div class="bg_text">
    <h1><%= lesson.title %></h1>
  </div>
	<h2><%= lesson.subject.description %></h2>
</div>