<% if locations.any? %>
  <option value="0"><%= t('admin.search.locations.caption', :location => locations.first.label) %></option>
  <%= options_from_collection_for_select(locations, 'id', 'name', param.to_i) %>
<% end %>
