<% audio = slide.audio_at(1) %>
<div class="bigViewLesson slideAudio">
<h2><%= slide.title %></h2>
<% if audio.nil? %>
  <div class="audioBig">
    <div class="audioIcon"></div>
  </div>
<% else %>
  <div class="audioBig with_title">
    <p><%= audio.title %></p>
  </div>
<% end %>
 <div class="contentText">
    <%= slide.text.html_safe if slide.text %>
 </div>
</div>
