<div class="slide-thumb <%= slide.kind%>">
  <div class="video2-content">
    <% video = slide.video_at(1) %>
    <%= image_tag video.cover_path, :width => "230", :height => "150" if video %>
  </div>
</div>
