<div class="slide-thumb <%= slide.kind%>">
  <h2><%= slide.title %></h2>
  <% video = slide.video_at(1) %>
  <%= image_tag video.cover_path, :width => "230", :height => "150" if video %>
  <div class="video1-content">
    <%= slide.text.html_safe if slide.text %>
  </div>
</div>
