<div class="slide-content text small-size">
  
  <div class="item title-container">
    <div class="title-h2">
      <div class="title-h2-content">
        <%= slide.title.blank? ? t('lesson_editor.placeholders.title') : slide.title %>
      </div>
    </div>
  </div>
  
  <div class="item text-container read-only">
    <%= slide.text.blank? ? t('lesson_editor.placeholders.text') : slide.text.html_safe %>
  </div>
  
</div>
