<%
  video = slide.video_at(1)
%>


<div class="slide-content video2 small-size">
  
  <div class="item video-container">
    <% if video %>
      <div class="video read-only">
        <% if video.converted? %>
          <%= render :partial => 'lesson_editor/thumbnails/fake_players/video', :locals => {:video => video} %>
        <% else %>
          <%= image_tag video.placeholder_url(:lesson_viewer_big), :title => t('titles.not_available.video', :title => video.title) %>
        <% end %>
      </div>
    <% else %>
      <div class="video editable">
        <div class="empty-mask visible">
          <a class="add" data-position="1"></a>
          <br/>
          <p class="lower"><%= t('lesson_editor.choose_video') %></p>
        </div>
      </div>
    <% end %>
  </div>
  
</div>
