<%
  video = slide.video_at(1)
%>


<div class="slide-content video2">
  
  <div class="item video-container">
    <% if video.nil? %>
      <div class="videoIcon"></div>
    <% else %>
      <%= image_tag video.cover_url, :width => "860", :height => "484" if video %>
      <div class="bulletPointVideo">
         <img alt="Bullet_video" src="/assets/bullet_video.svg" style="width:20%">
      </div>
    <% end %>
  </div>
  
</div>
