<div id="alert" class="alert alert-error" style="display:none">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <div class="start"><%= t('admin.search.start_more_then_end') %></div>
  <div class="end"><%= t('admin.search.end_less_then_start') %></div>
</div>