<a id="report_media_element_click_<%= media_element.id %>" class="<%= Buttons::REPORT %> _report_media_element_click" data-param="<%= media_element.id %>"></a>
<%= render :partial => 'reports/form', :locals => {:item => media_element, :id_scope => 'media_element'} %>
