<div id="report_media_element_click_<%= media_element.id %>" class="_report_media_element_click" data-param="<%= media_element.id %>">
  <div class="menuController" style="padding-top:6px; width:25px">
    <a class="<%= Buttons::REPORT %> _reportable_icon"></a>
  </div>
</div>
<%= render :partial => 'reports/form', :locals => {:item => media_element, :id_scope => 'media_element'} %>
