<div class="header">
  <%= image_tag "logo.gif" %>
	<%= render :partial => "layouts/header_elements/logout" %>
</div>
<%= render :partial => "layouts/header_elements/menu" %>
<br class="clearfloat">
<%= render :partial => "notifications/main" %>
<br class="clearfloat">
