<div class="header">
  <%= image_tag "logo.gif" %>
	<%= render :partial => "logout" %>
</div>

<div class="navcontainer">
  <ul class="navlist">
    <li class="lessons"><a href="#">lessons</a></li>
    <li class="elements"><a href="#">elements</a></li>
    <li class="classroom"><a href="#">classroom</a></li>
    <li class="profile"><a href="#">profile</a></li>
  </ul>
</div>
<br class="clearfloat">
<div class="notice-help fltrt">
alskdòlsadk
</div>
<br class="clearfloat">