<!DOCTYPE html>
<html>
<head>
  <title>Browser not supported</title>
  <style type="text/css">
	  @import url(http://fonts.googleapis.com/css?family=Nunito);
    body { background-color: #373737; color: #fff; text-align:center;  font-family: 'Nunito', sans-serif; }
    div.dialog {
		  width: 40em;
      padding: 0 4em;
      margin: 15% auto 0 auto;
      text-align:left;
		}
    div.dialog h1 { font-size: 260%; color: #25aae1;  padding:0; margin:0; line-height:1em}
		div.dialog p {padding:0px; margin:0px}
    div.dialog a {margin-right:1px;}
    img {border:none;}
  </style>
</head>

<body>
<div class="dialog">
  <p><img alt="Logo" src="assets/logo.gif"></p>
  <h1>Attenzione!</h1>
  <p style="height:200px">La tua versione di Microsoft Internet Explorer &egrave; obsoleta e potrebbe comprommettere una corretta navigazione.</p>
  <p style="padding-top:30px; font-size:10px">AGGIORNA ORA IL TUO BROWSER</p>
  <p style="padding-top:15px"><a href="http://windows.microsoft.com/it-it/internet-explorer/download-ie"><img src="assets/logo_ie.gif"></a><a href="https://www.google.com/intl/it/chrome/browser/"><img src="assets/logo_chrome.gif"></a><a href="http://www.mozilla.org/it/firefox/new/"><img src="assets/logo_firefox.gif"></a><a href="http://www.google.com/chromeframe?hl=it&prefersystemlevel=true"><img src="assets/logo_frame_chrome.gif"></a></p>
</div>
</body>
</html>
