<!DOCTYPE html>
<html class="lesson-scorm-layout lesson_export-controller scorm-action">
  
  <head>
    <title>DESY - Titolo lezione</title> <!-- TODO schorm titolo della lezione con scritto DESY -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link href="assets/favicon32x32.png" rel="shortcut icon" type="image/png"/>
    <link href="assets/application.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="assets/application.js"></script>
  </head>
  
  <body>
    <div class="container">
      <div id="carousel_container">
        <div id="carousel_inner">
          <ul id="carousel_ul">
            <%= yield %>
          </ul>
        </div>
      </div>
    </div>
  </body>
  
</html>
