<div class="header">
  <div class="contenitore">
  <h1 class="fltlft upper"><%= t("captions.audio_editor_label") %></h1>
    <div class="testo fltlft">
      <span>New element - untitled</span>
    </div>
  </div>
</div>
