<div class="info">
  
  <a class="creaNuovoButton" id="add_new_audio_component_in_audio_editor"></a>
  <%= t('audio_editor.total_length') %>: <br/>
  <span id="visual_audio_editor_total_length"><%= seconds_to_time total_length %></span><br>
  <span id="visual_audio_editor_current_time">00:00</span><br>
</div>
