<div class="header">
  <div class="contenitore">
    <h1 class="fltlft upper">Edit audio</h1>
    <div id="audio_editor_title" class="testo fltlft">
      
        <span class="_untitled"><%= t('captions.new_element_untitled') %></span>
      <% else %>
        <span class="_untitled" style="display:none"><%= t('captions.new_element_untitled') %></span>
        <span class="_titled"></span>
      
    </div>
    <div class="fltrt"><a class="esciButton _exit_audio_editor"></a></div>
  </div>
</div>
<div id="audio_editor" class="mediaEditorAudioContainer">
  <div id="" class="contentAudio">
    <div style="" class="boxContentMediaElementAudio _audio_component_preview">
    

     <div id="" class="audioPlayer " data-media-type="audio" data-initialized="false" data-duration="">
       <audio>
        
       </audio>
       <a class="play _media_player_play"></a>
       <a class="pause _media_player_pause"></a>
       <div class="_media_player_current_time secondTime">00:00</div>
       <div class="audioSlider _media_player_slider"></div>
       <div class="_media_player_total_time secondTime">00:00</div>
       <div class="sliderDisabler _media_player_slider_disabler" style="display: none;"></div>
     </div>


   

      
    </div>
   

  


  
  </div>
<div class="mediaEditorListaElementi">
  <div class="scrollVerde" style="position:relative">
    <div id="video_editor_box_ghost" class="boxGhost" style="display:none;"></div>
      <div class="scroll-pane horizontal-only" id="media_elements_list_in_audio_editor">
        <div id="audio_editor_timeline" class="scrollGatto" style="">
          <div id="add_new_audio_component" class="newElement">
            <div class="contatore _component_counter" style="opacity:0.3"></div>
              <div class="boxNewMediaElement _new_component_in_audio_editor_hover">
                <div class="contentNew _new_component_in_audio_editor_button">
                  <a class="creaNuovoButton"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="addAudioandSave _video_editor_bottom_bar">
       <div class="fltrt">
          <div class="fltrt"><a class="nextButton _commit_audioeditor "></a></div>
        </div>
      </div>
  </div>
</div>
