<div class="header">
  <div class="contenitore">
  <h1 class="fltlft upper"><%= t("captions.image_editor_label") %></h1>
    <div class="testo fltlft">
      <span><%= (image.nil? || image.is_public) ? t('captions.untitled_new_element') : image.title %></span>
    </div>
  </div>
</div>
