<div class="header">
  <div class="contenitore">
  <h1 class="fltlft upper"><%= t("captions.image_editor_label") %></h1>
    <div class="testo fltlft">
      <span><%= (@parameters && @parameters[:initial_image]) ? @parameters[:image].title : t('captions.untitled_new_element') %></span>
    </div>
  </div>
</div>
