<% save_class = "_save_edit_image saveButton" %>
<% if @image.is_public %>
  <% save_class = "#{save_class} _create_new_image" %>
<% else %>
  <% save_class = "#{save_class} _updatable_image" %>
<% end %>
<div class="fltrt">
  <div class="fltrt"><a class="<%= save_class %>" data-image-id="<%= @image.id %>"></a></div>
  <div class="fltrt">
    <%= link_to "", dashboard_index_path, :class=>"closeButton" %></div>
</div>
