if(<%= !@new_url.blank? %>) {
  $('#image_wrapper img').attr('src', '<%= @new_url %>?timestamp=' + new Date().getTime());
  $('#image_editor_crop_buttons ._cancel').trigger('click');
  $('#crop_form input._coord').val('');
  $('#image_editor_empty_buttons ._undo').show();
  // aggiornare dimensioni reali
  $('body').prepend('<span class="_saved"></span>');
  centerThis('._saved');
  $('._saved').fadeTo('fast', 0).fadeTo('fast', 0.7).fadeTo('fast', 0.3).fadeOut();
} else {
  slideError();
}
