<div class="mediaEditorElementContainer">
  <div class="menuLeftEditorElement">
	<h2>What to do?</h2><p>Select the scissors to cut the image
or ABC to enter text.</p>
    <div class="menuModifyImages">
		<ul>
		  <li><a class="do_crop _toggle_crop cutButton"></a></li>
			<li><a class="write_text _toggle_text abcButton"></a></li>
		</ul>
	  </div>
	</div>
  <div id="_image_container" class="imagesContainer">
    <div id="image_wrapper">
      <%= image_tag(@image.media.url, :id => "cropped_image")%>
    </div>
	</div>
	<div class="menuRightEditorElement">
	  <form action="/images/<%=@image.id%>/crop/" method="post" data-remote="true">
      <input type="hidden" name="x1" value="" />
      <input type="hidden" name="y1" value="" />
      <input type="hidden" name="x2" value="" />
      <input type="hidden" name="y2" value="" />
      <input type="submit" name="submit" value="CROP" />
    </form>
    <br />
    <a href="#" id="editor_undo">UNDO</a>
	</div>
	<br class="clearfloat">
  <div class="menuFooterEditorElement">
	  <p>Original image size: 1280x720 px</p>
    <%= render :partial => "save_cancel" %>
	</div>
</div>