if(<%= !@new_url.blank? %>) {
  $('#image_wrapper img').attr('src', '<%= @new_url %>?timestamp=' + new Date().getTime());
  $('#image_editor_empty_buttons ._undo').hide();
  // aggiornare dimensioni reali
  $('body').prepend('<span class="_saved"></span>');
  centerThis('._saved');
  $('._saved').fadeTo('fast', 0).fadeTo('fast', 0.7).fadeTo('fast', 0.3).fadeOut();
} else {
  slideError();
}
